<div class="text-center mbxl">
    <div class="horizontal-divider"></div>
    <a href='https://twitter.com/biolumhub'><img class='bl-logo bl-logo--twitter' src='https://s3.amazonaws.com/bl-hub/Twitter_Logo_Blue.svg'/></a>
    <a href='https://www.instagram.com/biolumhub/'><img class='bl-logo bl-logo--ig' src='https://s3.amazonaws.com/bl-hub/logos/IG_Glyph_Fill-min.png'/></a>
    <!-- <img class='bl-logo bl-logo--fb' src='https://s3.amazonaws.com/bl-hub/fb-logo'/>
    <img class='bl-logo bl-logo--linked-in' src='https://s3.amazonaws.com/bl-hub/linkedin.png'/> -->
    <div class="horizontal-divider"></div>
</div>
