<div class=container>
<br>
<img class='float-left' style="width:15%; height:15%" src="https://bl-hub.s3.amazonaws.com/BINS/NeuroNex+logo.png">
<img class='float-right' style="width:30%; height:30%" src="https://bl-hub.s3.amazonaws.com/BINS/BINSfig_rescaled.png">
<br>
<h2 class='text-center'>4th NeuroNex Investigator Meeting: Beyond Neurons</h2>
<h3 class='text-center'>November 16-17, 2022</h3>
<h3 class='text-center'>Hilton San Diego Gaslamp Quarter, San Diego, California</h3>

<br>
<br>
<br>
<p>The Bioluminescence Hub welcomes you to the <b>4th NeuroNex Investigator Meeting: Beyond Neurons</b> to be held <b>in person</b> at the <a href='https://www.hilton.com/en/hotels/sangqhf-hilton-san-diego-gaslamp-quarter/' target=_blank class=bl-link>Hilton San Diego Gaslamp Quarter</a>, San Diego, CA. Join us in the evening of November 16, 2022 and for a full day on November 17, 2022 for an invigorating lineup of talks and workshops focused on envisioning NeuroNex technologies <b>Beyond Neurons</b> and the innovations needed to take them there.
<br>
<br>
<br>
<div class='button-img mtxl' style="width:280px;">
    <a class='slide-button' href=''>
  REGISTER NOW
  <i class="fa fa-caret fa-caret-right" aria-hidden="true"></i>
    </a>
</div>
<br>
<br>
<p><i>Registration link coming soon!</i></p>
<br>
<br>
<table>
  <tr>
    <td colspan='2'><h3 class='text-center'>November 16, 2022</h3></td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px 0px'>6pm</td>
    <td style='padding:0px 0px 20px 40px'>Networking on the Terrace: Appetizers, cash bar, hang posters</td>
  </tr>
  <tr>
    <td style='padding:0px 0px 0px'>7:30pm</td>
    <td style='padding:0px 0px 20px 40px'>Two <b>Research Talks</b> TBA</td>
  </tr>
  <tr>
    <td colspan='2'><h3 class='text-center'>November 17, 2022</h3></td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px'>8:30am</td>
    <td style='padding:0px 0px 20px 40px'><b>Networking</b> on the Terrace: continental breakfast, hang posters </td>
  </tr>
  <tr>
    <td style='padding:0px 0px 40px 0px'>9am</td>
    <td style='padding:0px 0px 20px 40px'><b>Seminar</b> and <b>Workshop I</b>: Adapting NeuroNex technologies to new behaviorally-relevant biological systems, and new innovations required to make this possible</td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px'>12pm</td>
    <td style='padding:0px 0px 20px 40px'>Lunch on the Terrace</td>
  </tr>
  <tr>
  <tr>
    <td style='padding:0px 0px 20px'>12:45pm</td>
    <td style='padding:0px 0px 20px 40px'><b>Poster Session</b></td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px'>1:45pm</td>
    <td style='padding:0px 0px 20px 40px'>Presentation: <b>Technology Innovation Partnerships Office</b></td>
    </tr>
  <tr>
    <td style='padding:0px 0px 40px 0px'>2pm</td>
    <td style='padding:0px 0px 20px 40px'><b>Seminar</b> and <b>Workshop II</b>: Translating NeuroNex technologies to other industries, fields of basic inquiry, and socially productive applications</td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px'>5pm</td>
    <td style='padding:0px 0px 20px 40px'>Meeting concludes</td>
  </tr>
</table>
<br>
<br>
<p>Questions? Email <a href="mailto:Justine_Allen@brown.edu?subject=Beyond Neurons Meeting" class='bl-link'>Justine_Allen@brown.edu</a></p>
<br>
<p><i>Page last updated August 10, 2022.</i></p>

</div>
