
<div class=container>
<br>
<img class='float-left' style="width:15%; height:15%" src="https://bl-hub.s3.amazonaws.com/BINS/NeuroNex+logo.png">
<br>
<h2 class='text-center'>4th NeuroNex Investigator Meeting: Beyond Neurons</h2>
<h3 class='text-center'>November 16-17, 2022</h3>
<h3 class='text-center'>Hilton San Diego Gaslamp Quarter, San Diego, California</h3>

<br>
<br>
<br>
<p>The Bioluminescence Hub welcomes you to the <b>4th NeuroNex Investigator Meeting: Beyond Neurons</b> to be held <b>in person</b> at the <a href='https://www.hilton.com/en/hotels/sangqhf-hilton-san-diego-gaslamp-quarter/' target=_blank class='bl-link'>Hilton San Diego Gaslamp Quarter</a>, San Diego, CA. Join us in the evening of November 16, 2022 and for a full day on November 17, 2022 for an invigorating lineup of talks and workshops focused on envisioning NeuroNex technologies <b>Beyond Neurons</b> and the innovations needed to take them there.</p>
<br>
<br>
<div class='button-img mtxl' style="width:280px;">
    <a class='slide-button' href='https://forms.gle/UxG8ytcNFdZptLGG8' target='_blank'>
  REGISTER NOW
  <i class="fa fa-caret fa-caret-right" aria-hidden="true"></i>
    </a>
</div>
<br>
<br>
<br>
<br>
<table>
  <tr>
    <td colspan='2' style='padding:0px 0px 20px 0px'><h4>November 16, 2022</h4></td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px 0px'>6pm</td>
    <td style='padding:0px 0px 20px 40px'>Networking on the Terrace: appetizers, cash bar, hang posters</td>
  </tr>
  <tr>
    <td style='padding:0px 0px 120px 0px'>7:30pm</td>
    <td style='padding:0px 0px 40px 40px'>
      <p>Introduction and Overview of the Meeting Goals by Dr. Christopher Moore</p>
      <br>
      <p>Updates from NSF: Directorate for Technology, Innovation and Partnerships presented by <b>Dr. Edward Chinchoy</b></p>
      <br>
      <p><b>Research Talk by Dr. Patrick Drew</b></p></td>
  </tr>
  <tr>
    <td colspan='2' style='padding:0px 0px 20px 0px'><h4'>November 17, 2022</h4></td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px'>8:30am</td>
    <td style='padding:0px 0px 20px 40px'><b>Networking</b> on the Terrace: continental breakfast, hang posters </td>
  </tr>
  <tr>
    <td style='padding:0px 0px 60px 0px'>9am</td>
    <td style='padding:0px 0px 20px 40px'><b>Morning Workshops I-II: Beyond Your Bench, Beyond Neurons</b><p>We will generate ideas about how to connect NeuroNex tools and research resources from different groups, and how to evolve them for studying other biological systems, beyond neurons and beyond the brain.</p></td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px 0px'>11:15am</td>
    <td style='padding:0px 0px 20px 40px'>Coffee break</td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px'>11:30am</td>
    <td style='padding:0px 0px 20px 40px'><b>Research Talk by Dr. Laura Lewis</b></td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px'>12:15pm</td>
    <td style='padding:0px 0px 20px 40px'>Lunch on the Terrace</td>
  </tr>
  <tr>
  <tr>
    <td style='padding:0px 0px 20px'>1:15pm</td>
    <td style='padding:0px 0px 20px 40px'><b>Poster Session</b></td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px'>2:15pm</td>
    <td style='padding:0px 0px 20px 40px'>Updates from the NSF: NeuroNex Team</td>
    </tr>
  <tr>
    <td style='padding:0px 0px 20px 0px'>2:30pm</td>
    <td style='padding:0px 0px 20px 40px'>Coffee break</td>
  </tr>
  <tr>
    <td style='padding:0px 0px 60px 0px'>2:45pm</td>
    <td style='padding:0px 0px 20px 40px'><b>Afternoon Workshops III-IV: Beyond the Bench, Beyond Biology</b><p>How can NeuroNex tools and research resources contribute to the "bioeconomy" beyond basic science, and how might they impact society through entirely novel applications?</p></td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px'>5pm</td>
    <td style='padding:0px 0px 20px 40px'>Meeting concludes</td>
  </tr>
</table>
<br>
<br>
<h4><b>Poster Information</b></h4>
<br>
<p>Our poster boards are a maximum of 4 feet tall and 8 feet long, and we’re planning to put 2 posters in that space. Thus, the absolute largest a poster can be is 4' by 4', but at little bit smaller, a maximum of ~40-45 inches in either dimension, is better.</p>
<br>
<p>If you are already printing a poster for SfN that is smaller than 4'x4', it is OK to bring that poster to the NeuroNex Investigator Meeting. If you are making a new poster for the NeuroNex meeting, please plan to make it no larger than ~40in in either dimension.</p>
<br>
<br>
<br>
<p>Questions? Email <a href="mailto:Justine_Allen@brown.edu?subject=Beyond Neurons Meeting" class='bl-link'>Justine_Allen@brown.edu</a></p>
<br>
<p><i>Page last updated November 16, 2022.</i></p>

</div>
