<div class=container>
<h2 class='text-center'>Fourth NeuroNex Investigator Meeting: Beyond Neurons</h2>
<h3 class='text-center'>November 16-17, 2022</h3>
<h3 class='text-center'>Hilton San Diego Gaslamp Quarter, San Diego, California</h3>
<br>
  <img class='float-right' style="width:40%; height:25%; padding:15px 15px 20px" src="https://bl-hub.s3.amazonaws.com/BINS/Body+Figure.png">
<br>
<br>
<p>The Bioluminescence Hub welcomes you to the <b>Fourth NeuroNex Investigator Meeting: Beyond Neurons</b> to be held <b>in person</b> at the <a href='https://www.hilton.com/en/hotels/sangqhf-hilton-san-diego-gaslamp-quarter/' target=_blank class=bl-link>Hilton San Diego Gaslamp Quarter</a>, San Diego, CA. Join us in the evening of November 16, 2022 and for a full day on November 17, 2022 for an invigorating lineup of talks and workshops that will explore our <b>Beyond Neurons</b> theme.
<br>
<br>
<br>
<div class='button-img mtxl' style="width:280px;">
    <a class='slide-button' href=''>
  REGISTER NOW
  <i class="fa fa-caret fa-caret-right" aria-hidden="true"></i>
    </a>
</div>
<br>
<br>
<p><i>Registration link coming soon!</i></p>
<br>
<br>
<br>
<br>
<h3 class='text-center'><b>November 16, 2022</b></h3>
<table>
  <tr>
    <td style='padding:0px 0px 40px'><b>6pm</b></td>
    <td style='padding:0px 0px 20px 20px'>Arrive at the Hilton San Diego Gaslamp Quarter and enjoy a cash bar and passed appetizers on the terrace while you network with colleagues and hang your posters in the Gaslamp Ballroom.</td>
  </tr>
  <tr>
    <td style='padding:0px 0px 0px'><b>7:30-9pm</b></td>
    <td style='padding:0px 0px 0px 20px'>Two research talks by leaders in fields Beyond Neurons. <i>Speakers TBA; watch this space!</i></td>
  </tr>
</table>
<br>
<br>
<h3 class='text-center'><b>November 17, 2022</b></h3>
<table>
  <tr>
    <td style='padding:0px 0px 40px'><b>8:30am</b></td>
    <td style='padding:0px 0px 20px 40px'>Arrive at the Hilton San Diego Gaslamp Quarter and enjoy a continental breakfast on the terrace with NeuroNex colleagues.</td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px'><b>9am</b></td>
    <td style='padding:0px 0px 20px 40px'>Talks and Workshops. <i>Speakers and precise topics coming soon; watch this space!</i></td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px'><b>12pm</b></td>
    <td style='padding:0px 0px 20px 40px'>Lunch on the terrace provided by the Hilton San Diego Gaslamp Quarter.</td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px'><b>1pm</b></td>
    <td style='padding:0px 0px 20px 40px'>Talks and Workshops. <i>Speakers and precise topics coming soon; watch this space!</i></td>
  </tr>
  <tr>
    <td style='padding:0px 0px 20px'><b>5pm</b></td>
    <td style='padding:0px 0px 20px 40px'>Meeting concludes.</td>
  </tr>
</table>
<br>
<br>
<p>Questions? Email <a href="mailto:Justine_Allen@brown.edu?subject=Beyond Neurons Meeting" class='bl-link'>Justine_Allen@brown.edu</a></p>
<br>
<p><i>Page last updated August 5, 2022.</i></p>

</div>
