<div class='container' id='bioluminescence_intro'>
<br>
  <h2 class='text-center'>What is Bioluminescence?</h2>

  <img class='prl pll' src="https://bl-hub.s3.amazonaws.com/about-bl-og/Bioluminescent_dinoflagellates_catalano82.jpg" alt="Bioluminescence in New Jeresey">
<p class='text-center text-xs italics'>Bioluminescent dinoflagellates producing light in breaking waves at Manasquan, New Jersey; Photo by <a class='bl-link' href='https://commons.wikimedia.org/wiki/File:Bioluminescent_dinoflagellates.jpg' target='_blank'>catalano82</a>, shown as modified by <a class='bl-link' href='https://commons.wikimedia.org/wiki/File:Bioluminescent_dinoflagellates_2.jpg' target='_blank'>Yikrazuul</a>
</p>
<br>
<p>Bioluminescence is light created by a living thing, such as the flash of a firefly or the glowing water sometimes seen from the beach at night.<sup>1</sup> In addition to these well-known examples, there are many other creatures that create bioluminescent light. Especially in the ocean, bioluminescence is common and widespread, and can be found in every type of marine environment (<a class='bl-link' href='https://doi.org/10.1146/annurev-marine-120308-081028' target='_blank'>Haddock et al., Annu Rev Mar Sci, 2010</a>). Bioluminescence has evolved independently at least 40 times, including at least 27 times in fishes, and nearly every phylum contains a bioluminescent member (<a class='bl-link' href='https://doi.org/10.1002/bio.1170010303' target='_blank'>Herring, J Biolum Chemilum, 1987</a>; <a class='bl-link' href='https://doi.org/10.1146/annurev-marine-120308-081028' target='_blank'>Haddock et al., Annu Rev Mar Sci, 2010<a>; <a class='bl-link' href=' https://doi.org/10.1371/journal.pone.0155154' target='_blank'>Davis et al., PLOS ONE, 2016</a>); it is simpler to list groups <i>without</i> a known bioluminescent species than those that do!</p>
<br>
<p>Bioluminescent light, sometimes historically called “cold light,” is the result of a chemical reaction between molecules made by living creatures or made by the things those creatures have eaten or collected from the surrounding water. Usually, this chemical reaction contains two pieces: a <b>luciferase</b> (an enzyme; a type of protein responsible for breaking apart other molecules) and a <b>luciferin</b> (a small molecule). In the presence of oxygen, the luciferase breaks down the luciferin, and a <b>photon</b> (a unit of light) is released. These photons are visible light, and are the visible bioluminescence.</p>
<br>

<img class='prl pll' src="https://bl-hub.s3.amazonaws.com/about-bl-og/basic+BL-min.jpg" alt="Bioluminescence basic chemistry">

<p>An example of a bioluminescent reaction is the conversion of the luciferin coelenterazine (CTZ) and oxygen (O<sub>2</sub>) into coelenteramide (CA), carbon dioxide (CO<sub>2</sub>), and light (hv). In nature, this reaction is used by animals such as the copepod <i>Gaussia</i>, the sea pansy <i>Renilla</i>, and the deep sea squid/octopus <i>Vampyroteuthis</i> (<a class='bl-link' href='https://doi.org/10.2307/1543231' target='_blank'>Robison et al. Biol Bull, 2003</a>; <a class='bl-link' href='https://doi.org/10.1146/annurev-marine-120308-081028' target='_blank'>Haddock et al., Annu Rev Mar Sci, 2010</a>). While some groups use the same luciferin (in these cases, CTZ), luciferases are diverse among lineages (<a class='bl-link' href='https://doi.org/10.1146/annurev-marine-120308-081028' target='_blank'>Haddock et al., Annu Rev Mar Sci, 2010</a>). (Some groups, including the jellyfish <i>Aequora</i>, also use the luciferin CTZ but break it down with molecules such as photoproteins instead of a luciferase (<a class='bl-link' href='https://doi.org/10.1016/S1074-5521(96)90116-7' target='_blank'>Ohmiya & Hirano, Chem & Biol, 1996</a>).)</p>
<br>
<p>Luciferase-luciferin pairs are specific, like a lock and key, so bioluminescence is only produced when coordinating pieces of the reaction are present. In other words, if a luciferase is given a mis-matching luciferin, the chemical reaction does not occur and light is not produced. This natural specificity provides opportunity for engineered bioluminescent tools for use in research. For example, bioluminescence from multiple luciferase-luciferin pairs could be used to compare different neural circuits or systems in the same experimental animal.</p>
<br>
<p>Further, the relative simplicity of this natural chemical reaction provides great opportunity for biochemical research. Both pieces of the reaction can be modified to change the properties of the bioluminescent light released, allowing myriad opportunities to create and improve molecular tools to answer biological research questions.</p>
<br>
<p>To learn more about bioluminescence, visit these (non-affiliate) sites: <a class='bl-link' href='https://biolum.eemb.ucsb.edu/organism/photo.html' target='_blank'>The Bioluminescence Web Page</a>, <a class='bl-link' href='http://www.marinespecies.org/copepoda/aphia.php?p=taxdetails&id=104625' target='_blank'>marinespecies.org</a>, <a class='bl-link' href='https://scripps.ucsd.edu/labs/mlatz/bioluminescence/bioluminescence-questions-and-answers/' target='_blank'>Bioluminescence Q&A with the Latz Laboratory</a>, and National Geographic’s <a class='bl-link' href='https://www.nationalgeographic.org/encyclopedia/bioluminescence/' target='_blank'>Bioluminescence Encyclopedic Entry</a>.</p>
<br>
<br>
<br>
<br>

<p><sup>1</sup>This glow is created by the activities of a bloom of microscopic protists called dinoflagellates (up to as many as 20 million dinoflagellates per liter!). Sometimes, there are so many dinoflagellates that they create a “milky sea” that can be seen from space! (<a class='bl-link' href='https://doi.org/10.1073/pnas.0507253102' target='_blank'>Miller et al., PNAS, 2005</a>).<p>


</div>
