<div class='contact-us container' id='contact-us'>
    <h2>Information about Hub resources:</h2>
    <p>To apply for the <b>MBL Undergraduate Practicum</b>, please <a class='bl-link' href='/mbl/apply'>click here</a>.</p>
    <p>To suggest a <b>Workshop</b> theme, request an <b>Emissary</b>, or ask us a question, please <a class='bl-link' href='mailto:neuronex1@gmail.com'>send us an email</a>.</p>
</div>
