<div class='contact-us container' id='contact-us'>
    <h2>Admissions inquiries:</h2>
    <p>Prospective <b>undergraduates</b> can find more information about <a class='bl-link' href='https://www.brown.edu/admission/undergraduate/'>admission to Brown University</a> and <a class='bl-link' href='https://go.cmich.edu/Pages/default.aspx'>Central Michigan University</a> on the linked pages.</p>
    <p>Prospective <b>Brown University graduate students</b> can find more information about programs at Brown on the <a class='bl-link' href='https://www.brown.edu/about/administration/biomed/graduate-postdoctoral-studies/'>BioMed Office of Graduate and Postdoctoral Studies</a>, the <a class='bl-link' href='https://www.brown.edu/academics/gradschool/'>Graduate School</a>, the <a class='bl-link' href='https://www.brown.edu/academics/engineering/'>School of Engineering</a>, the <a class='bl-link' href='https://www.brown.edu/academics/public-health/'>School of Public Health</a>, and the <a class='bl-link' href='https://professional.brown.edu/'>School of Professional Studies pages</a>.</p>
    <p>Prospective <b>Brown University medical students</b> can find more information on the <a class='bl-link' href='https://www.brown.edu/academics/medical/'>Alpert Medical School page</a>.</p>
    <p>Prospective <b>Central Michigan University graduate students</b> can find more information on the <a class='bl-link' href='https://go.cmich.edu/academics/graduate/Pages/default.aspx'>CMU graduate school website</a>.</p>
    <p>Prospective <b>Central Michigan University medical students</b> can find more information on the <a class='bl-link' href='https://www.cmich.edu/colleges/cmed/Pages/default.aspx'>CMU College of Medicine website</a>.</p>
    <h2>Contacts for reporters and editors: </h2>
    <p>Brown University’s <a class='bl-link' href='https://news.brown.edu/for-journalists'>news staff</a> can be reached at 401-863-2467 and by <a class='bl-link' href='mailto:media_relations@brown.edu'>email</a>.</p>
    <p>Central Michigan University’s <a class='bl-link' href='https://www.cmich.edu/news/Pages/contact.aspx'>communications staff</a> can be reached at the numbers and email addresses linked. For urgent matters on nights, weekends, and holidays, call 989-774-3197. Additional resources for reporters are linked <a class='bl-link' href='https://www.cmich.edu/news/Pages/reporter-resources.aspx'>here</a>.</p>
    <p>The Scintillon Institute may be reached at 858-576-6645 and by <a class='bl-link' href='mailto:info@scintillon.org'>email</a>.</p>
    <h2>Information about Hub resources:</h2>
    <p>To apply for the <b>MBL Undergraduate Practicum</b>, please <a class='bl-link' href='/mbl/apply'>click here</a>.</p>
    <p>To suggest a <b>Workshop</b> theme, request an <b>Emissary</b>, or ask us a question, please <a class='bl-link' href='mailto:blog.at.brown@gmail.com?subject=Contact%20from%20NeuroNex%20website'>send us an email</a>.</p>
</div>
