<div class='container--nobottom' id='data'>
<h2 class='text-center'>BL-OG In Action</h2>
  <p>Check out our <a class='bl-link' href="#data-iframes">videos of BL-OG in mouse choroid plexus</a>, our <a class='bl-link' href="https://doi.org/10.1002/jnr.24498" target='_blank'>paper on the use of BL-OG in neocortex</a> and our <a class='bl-link' href="https://www.biorxiv.org/content/10.1101/710194v1" target='_blank'>preprint
   on the use of BL-OG to restore function after spinal cord injury</a> with <a class='bl-link' href='https://neuronex.org/news/8' target='_blank'>accompanying NeuroNex Research Highlight</a>.</p>
   <br />

 </div>

     <div id='BLOGcards' class='container'>
         <div class='button-img mll'>
             <a href='/LMOs_in_vivo'>
                 <img src='https://bl-hub.s3.amazonaws.com/about-bl-og/LMOs_in_vivo_button-min.jpg' alt='BL-OG Tools in Action: LMOs'/>
                 <div class='button-img__overlay'></div>
             </a>
         </div>
         <div class='button-img mlxl'>
             <a href='https://doi.org/10.1101/710194' target='_blank'>
                 <img src='https://bl-hub.s3.amazonaws.com/data+page/LMOs_in_vivo_button_Petersen-min.jpg' alt='LMO3 Drives Recovery after Spinal Cord Injury'/>
                 <div class='button-img__overlay'></div>
             </a>
         </div>
         <div class='button-img mll'>
             <a href='https://doi.org/10.1002/jnr.24498' target='_blank'>
                 <img src='https://bl-hub.s3.amazonaws.com/data+page/LMOs_in_vivo_button_Gomez-Ramirez-min.jpg' alt='BL-OG in Neocortex'/>
                 <div class='button-img__overlay'></div>
             </a>
         </div>
<%
=begin
This button below is a placeholder for a future page on BL-OG in the choroid plexus. JJA 12/6/2019
=end
%>
         <div class='button-img mlxl'>
             <a href='/LMO3'>
                 <img src='https://bl-hub.s3.amazonaws.com/home+buttons/LMO3+Primer+Button_new-min.jpg' alt='Get Started with LMO3'/>
                 <div class='button-img__overlay'></div>
             </a>
         </div>
<br>
<br>
<br>
<h3 class='text-center'>BL-OG Publications</h3>
<div class='container--wide' id='Zotero'>
  <p>Browse the bibliography below to learn more about the applications of our LMO constructs. Did we miss a publication? <a class='bl-link' href='mailto:bioluminescencehub@gmail.com?subject=BL-OG-Publications'>Let us know</a>!</p>
<br>
  <p><i>To view by construct, click "Group by" then "Keyword."</i>
<br>
<br>
  <p><i>To view a research article, control-click or right-click on "doi" in its reference and select "open link in new window" (or tab).</p></i>
  <br>
  <iframe src="https://bibbase.org/show?bib=https%3A%2F%2Fapi.zotero.org%2Fusers%2F5859248%2Fcollections%2FZYVZCB4C%2Fitems%3Fkey%3DoE3pAn504bdlRkXGFSQ0v31q%26format%3Dbibtex%26limit%3D100" width="1000" height="1200"></iframe>
  <br />
</div>

    <div id='data-iframes'></div>
</div>
