<div class='container' id='data'>
<h2 class='text-center'>BL-OG In Action</h2>
  <p>Details coming soon!</p>
  <br />
  <p>Until then, check out our <a class='bl-link' href="#data-iframes">videos of BL-OG in mouse choroid plexus</a>, our <a class='bl-link' href="https://www.biorxiv.org/content/10.1101/709931v1" target='_blank'>preprint on the use of BL-OG in neocortex</a> and our <a class='bl-link' href="https://www.biorxiv.org/content/10.1101/710194v1" target='_blank'>preprint
   on the use of BL-OG to restore function after spinal cord injury</a> with <a class='bl-link' href='https://neuronex.org/news/8' target='_blank'>accompanying NeuroNex Research Highlight</a>.</p>
   <br />
  <p>Browse the bibliography below to learn more about the applications of our LMO constructs. Did we miss a publication? <a class='bl-link' href='mailto:bioluminescencehub@gmail.com?subject=BL-OG-Publications'>Let us know</a>!</p>
  <br />
<br />

<h3 class='text-center'>BL-OG Publications</h3>
<div class='container--wide' id='Zotero'>
  <p><i>To view by construct, click "Group by" then "Keyword."
    <br>
    <br>
  <p><i>To view a research article, control-click or right-click on "doi" in its reference and select "open link in new window" (or tab).</p></i>
  <br>
  <iframe src="https://bibbase.org/show?bib=https%3A%2F%2Fapi.zotero.org%2Fusers%2F5859248%2Fcollections%2FZYVZCB4C%2Fitems%3Fkey%3DoE3pAn504bdlRkXGFSQ0v31q%26format%3Dbibtex%26limit%3D100" width="1200" height="1200"></iframe>
  <br />
</div>

    <div id='data-iframes' style='width:560px;margin:auto;'></div>
</div>
