<div class='container' id='data'>
    <img class='img__fixed-width' src='https://s3.amazonaws.com/bl-hub/open-science-fig-min.jpg' />
    <br/>
    <br/>
    <p>Our NeuroNex Technology Hub is committed to Open Science, the sharing of knowledge and tools to drive scientific discovery and innovation. Our efforts can be viewed in two dimensions, as shown below.</p>
    <br/>
    <p>We will develop best practices in <strong class='text-green'><span class='italics'>horizontal</span> Open Science</strong> by promoting the utility and awareness of bioluminescence as a tool for research via our Workshops, Emissaries, Symposia, and access to our molecular constructs and data sets. With these events and information, we will promote free and transparent exchange to foment collaboration among scientists and scientific disciplines.</p>
    <br/>
    <p>We will develop best practices in <strong class='text-purple'><span class='italics'>vertical</span> Open Science</strong> by using the multidisciplinary principles of bioluminescent reactions to stoke public interest in science and to educate students of all levels. Through annual public outreach events, our Practicum for Undergraduates at the Marine Biological Laboratory, and via freely available, online curricula, we will share our knowledge broadly.</p>
    <br/>
    <p>Together, this approach drives knowledge and tool development and the creation of new technologies and industries.</p>
    <br/>
</div>

<!-- Above this is the existing cross figure and text description of our "horizontal" and "vertical" open science -->

<iframe src="https://repository.library.brown.edu/viewers/stream/bdr:788093/" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    <h3>Bioluminescence in the choroid plexus</h3>
        <p>This movie shows bioluminescence of the choroid plexus in an anesthetized, transgenic mouse expressing the LMO3 molecule.
        Water-soluble coelenterazine (CTZ) by Nanolight was injected at a concentration of 1μg/μl (2.34mM concentration, 10μl volume) directly into the ventricle.</p>
        <p>Created by Manuel Gomez-Ramirez, PhD and Eric Klein</p>
        <p> DOI: <a href="https://doi.org/10.7301/Z0BK19VB">10.7301/Z0BK19VB</a></p>
<br>

<iframe src="https://repository.library.brown.edu/viewers/stream/bdr:788094/" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    <h3>Bioluminescence when injecting coelenterazine directly in cortex (1/2)</h3>
        <p>This movie shows bioluminescence in left primary somatosensory cortex in an anesthetized, transgenic mouse expressing the LMO3 molecule.
        Water-soluble coelenterazine (CTZ) by Nanolight was injected at a concentration of 1μg/μl (2.34mM concentration, 2.5μl volume) directly in the cortex.</p>
        <p>Created by Manuel Gomez-Ramirez, PhD</p>
        <p> DOI: <a href="https://doi.org/10.7301/Z0GB22JM">10.7301/Z0GB22JM</a></p>
<br>

<iframe src="https://repository.library.brown.edu/viewers/stream/bdr:788095/" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    <h3>Bioluminescence when injecting coelenterazine directly in cortex (2/2)</h3>
        <p>This movie shows bioluminescence in left primary somatosensory cortex in an anesthetized, transgenic mouse expressing the LMO3 molecule.
        Water-soluble coelenterazine (CTZ) by Nanolight was injected at a concentration of 1μg/μl (2.34mM concentration, 2.5μl volume) directly in the cortex.</p>
        <p>Created by Manuel Gomez-Ramirez, PhD</p>
        <p> DOI: <a href="https://doi.org/10.7301/Z0M32T8Z">10.7301/Z0M32T8Z</a></p><br>

<iframe src="https://repository.library.brown.edu/viewers/stream/bdr:788096/" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    <h3>Calcium-dependent bioluminescence when applying coelenterazine systemically through lateral ventricle and a calcium agonist directly in cortex (1/2) </h3>
        <p>This movie shows calcium-dependent bioluminescence in an anesthetized, transgenic mouse expressing LMC4 in left primary somatosensory cortex.
        Water-soluble coelenterazine (CTZ) was injected at a concentration of 1μg/μl (2.34mM concentration, 2.5μl volume) in the lateral ventricle of the right
        hemisphere, while the calcium agonist (NMDA) was injected directly in cortex. Bioluminescence was maximal when both CTZ and NMDA were present at the same time.</p>
        <p>Created by Manuel Gomez-Ramirez, PhD</p>
        <p> DOI: <a href="https://doi.org/10.7301/Z0ZC81CX">10.7301/Z0ZC81CX</a></p><br>

<iframe src="https://repository.library.brown.edu/viewers/stream/bdr:788097/" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    <h3>Calcium-dependent bioluminescence when applying coelenterazine systemically through lateral ventricle and a calcium agonist directly in cortex (2/2) </h3>
        <p>This movie shows calcium-dependent bioluminescence in an anesthetized, transgenic mouse expressing LMC4 in left primary somatosensory cortex.
        Water-soluble coelenterazine (CTZ) was injected at a concentration of 1μg/μl (2.34mM concentration, 2.5μl volume) in the lateral ventricle of the right
        hemisphere, while the calcium agonist (NMDA) was injected directly in cortex. Bioluminescence was maximal when both CTZ and NMDA were present at the same time.</p>
        <p>Created by Manuel Gomez-Ramirez, PhD</p>
        <p> DOI: <a href="https://doi.org/10.7301/Z0348HW8">10.7301/Z0348HW8</a></p>

