<div class='container' id='dissemination'>

  <img class='img__fixed-width' src='https://s3.amazonaws.com/bl-hub/open-science-fig-min.jpg' />
  <br/>
  <br/>
  <p>Our NeuroNex Technology Hub is committed to Open Science, the sharing of knowledge and tools to drive scientific discovery and innovation. Our efforts can be viewed in two dimensions, as shown above.</p>
  <br/>
  <p>We will develop best practices in <strong class='text-green'><span class='italics'>horizontal</span> Open Science</strong> by promoting the utility and awareness of bioluminescence as a tool for research via our <a <a class='bl-link' href='/workshops'>Workshops</a>, <a class='bl-link' href='/research/emissaries'>Emissaries</a>, <a class='bl-link' href='/symposium'>Symposia</a>, and access to our <a class='bl-link' href='/constructs'>molecular constructs</a> and <a class='bl-link' href='/research-objects'>research results</a>. With these events and information, we will promote free and transparent exchange to foment collaboration among scientists and scientific disciplines.</p>
  <br/>
  <p>We will develop best practices in <strong class='text-purple'><span class='italics'>vertical</span> Open Science</strong> by using the multidisciplinary principles of bioluminescent reactions to stoke public interest in science and to educate students of all levels. Through annual public outreach events, our <a class='bl-link' href='/mbl'>NeuroNex Undergraduate Practicum</a>, and via freely available, online curricula, we will share our knowledge broadly.</p>
  <br/>
  <p>Together, this approach drives knowledge and tool development and the creation of new technologies and industries.</p>
  <br/>
  <br/>
<div>
<iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1vYh-9WcUxvGmdIOozvGiXhU6skqQu6kuyrEfzHOasrQ&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
</div>

<h3 class='text-left'>Join us!</h3>
  <div class='button-img mtxl pll'>
      <a href='https://www.bioluminescencehub.org/workshops'>
        <img src='https://bl-hub.s3.amazonaws.com/dissemination/Workshops-general-button-min.jpg' alt='Workshops'>
        <div class='button-img__overlay'></div>
      </a>
    </div>
  <div class='button-img mlxl pll'>
      <a href='https://www.bioluminescencehub.org/research/emissaries'>
        <img src='https://bl-hub.s3.amazonaws.com/dissemination/Emissaries-general-button-min.jpg' alt='Emissaries'>
        <div class='button-img__overlay'></div>
      </a>
    </div>
  <div class='button-img mtxl mbxxl pll'>
      <a href='https://www.addgene.org/Ute_Hochgeschwender/' target='_blank'>
        <img src='https://bl-hub.s3.amazonaws.com/research-objects/Addgene-button-min.jpg' alt='Hochgeschwender Constructs'>
        <div class='button-img__overlay'></div>
      </a>
    </div>
  <div class='button-img mlxl mbxxl pll'>
      <a href='https://www.bioluminescencehub.org/mbl'>
        <img src='https://bl-hub.s3.amazonaws.com/education/NeuroNex+Practicum+button_general-min.jpg' alt='NeuroNex Practicum'>
        <div class='button-img__overlay'></div>
      </a>
    </div>

<div class='disseminationmap'
<%= render 'disseminationmap' %>
<script type='text/javascript'>
    var divElement = document.getElementById('viz1572981142915');
    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';
    vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
</div>



</div>
