
<div id='education' class='container'>
    <h2 class='text-center'>Education at Many Levels</h2>
    <p>We use <a class='bl-link' href='/bioluminescence_intro'>bioluminescence</a> as a model phenomenon to develop interdisciplinary curricula, resources, and education outreach events for all educational levels and backgrounds. Using bioluminescence, our hub provides an example of how a unifying concept can be used to bridge disciplinary boundaries, while illustrating core ideas in STEM content and practice.
    </p>
    <br>


<h3 class='text-left mtxl mbxl'>Join us!</h3>
        <div class='button-img mll'>
            <a href='/mbl'>
                <img src='https://bl-hub.s3.amazonaws.com/education/NeuroNex+Practicum+button_general-min.jpg' alt='NeuroNex Practicum'>
                <div class='button-img__overlay'></div>
            </a>
        </div>
        <div class='button-img mlxl'>
            <a href='/education/utra'>
                <img src='https://s3.amazonaws.com/bl-hub/education/UTRA+button_general-min.jpg' alt='UTRA Opportunities for Undergraduates'>
                <div class='button-img__overlay'></div>
            </a>
        </div>
    <h3 class='text-left mtxl mbxl'>Our Students</h3>
    <div class='button-img mll'>
        <a href='/education/BLbase-interns' target='_blank'>
            <img src='https://bl-hub.s3.amazonaws.com/education/BLbase_interns/Brown+virtual+internship+button.png' alt='Brown Virtual Students'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <div class='button-img mlxl'>
        <a href='/education/UCSD-interns'>
            <img src='https://bl-hub.s3.amazonaws.com/education/UCSD+internship+button-min.jpg' alt='UCSD Students'>
            <div class='button-img__overlay'></div>
        </a>
    </div>

    <div class='button-img mll'>
        <a href='https://www.bioluminescencehub.org/education/scintillon-students'>
            <img src='https://s3.amazonaws.com/bl-hub/education/Scintillon+button-min.jpg' alt='Scintillon Students'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <div class='button-img mlxl'>
        <a href='https://www.bioluminescencehub.org/education/high-school-students'>
            <img src='https://s3.amazonaws.com/bl-hub/education/High+School+Students+button-min.jpg' alt='High School Students'>
            <div class='button-img__overlay'></div>
        </a>
    </div>


<a id="Junior_Trainee_Club"><h3 class='text-left mtxl mbxl'>Join the NSF NeuroNex Bioluminescence Hub Junior Trainee Club</h3>
      <p>Join our Neuroscience team! Complete these modules to learn STEM concepts and gain the scientific skills necessary to be an official Junior Trainee of the NSF NeuroNex Bioluminescence Hub team. This content covers an introduction to what our researchers do, “cold light,” and the captivating world of bioluminescence. Students will have the opportunity to observe glowing creatures and materials and learn how these natural lights can illuminate paths of discovery in the brain.</p>
      <br>
      <p><i>These activities are recommended for ages 9-14 with the guidance of an educator, parent, or guardian.</i></p>
      <br>
        <div class='button-img mll'>
          <a href='/JTC-welcome'>
              <img src='https://bl-hub.s3.amazonaws.com/education/Junior_Trainee_Club/JTC1_button.png' alt='Welcome to the Team!'>
              <div class='button-img__overlay'></div>
          </a>
        </div>
        <div class='button-img mlxl'>
            <a href='/JTC-doing-science'>
                <img src='https://bl-hub.s3.amazonaws.com/education/Junior_Trainee_Club/JTC2_button.png' alt='Doing Science'>
                <div class='button-img__overlay'></div>
            </a>
        </div>
        <div class='button-img mll'>
          <a href='/JTC-cold-light'>
              <img src='https://bl-hub.s3.amazonaws.com/education/Junior_Trainee_Club/JTC3_button.png' alt='Cold Light'>
              <div class='button-img__overlay'></div>
          </a>
        </div>
        <div class='button-img mlxl'>
            <a href='/JTC-tell-me-more'>
                <img src='https://bl-hub.s3.amazonaws.com/education/Junior_Trainee_Club/JTC4_button.png' alt='Tell Me More About Bioluminescence'>
                <div class='button-img__overlay'></div>
            </a>
        </div>
        <div class='button-img mll'>
            <a href='/JTC-glowing-creatures'>
                <img src='https://bl-hub.s3.amazonaws.com/education/Junior_Trainee_Club/JTC5_button.png' alt='Glowing Creatures'>
                <div class='button-img__overlay'></div>
            </a>
        </div>
        <div class='button-img mlxl'>
            <a href='/JTC-science-creativity'>
                <img src='https://bl-hub.s3.amazonaws.com/education/Junior_Trainee_Club/JTC6_button.png' alt='Science and Creativity'>
                <div class='button-img__overlay'></div>
            </a>
        </div>

<h3 class='text-left mtxl mbxl'>Bioluminescence Hub Dive</h3>
 <p>Ready to explore the depths of the ocean in search of bioluminescent creatures? Learn about the submersibles used on these expeditions and encounter creatures more bizarre than the mind can imagine. Join us if you dare...</p>
<br>
 <div class='button-img mll'>
     <a href='/education/dive-1'>
         <img src='https://bl-hub.s3.amazonaws.com/education/Dive/Dive-1_button.png' alt='What Glows There?'>
         <div class='button-img__overlay'></div>
     </a>
</div>
<div class='button-img mlxl'>
    <a href='/education/dive-2'>
        <img src='https://bl-hub.s3.amazonaws.com/education/Dive/Dive-2_button.png' alt='The Dive'>
        <div class='button-img__overlay'></div>
    </a>
</div>


<h3 class='text-left mtxl mbxl'>Activities to Try at Home</h3>
    <div class='button-img mll'>
        <a href='https://repository.library.brown.edu/studio/item/bdr:880615/PDF/' target='_blank'>
            <img src='https://s3.amazonaws.com/bl-hub/education/What+glows+there+button-min.jpg' alt='What Glows There?'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <div class='button-img mll'>
        <a href='https://repository.library.brown.edu/studio/item/bdr:919150/PDF/' target='_blank'>
            <img src='https://bl-hub.s3.amazonaws.com/education/Who+glows+there+button-min.jpg' alt='Who Glows There?'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
     <div class='button-img mlxl'>
        <a href='https://repository.library.brown.edu/studio/item/bdr:929626/PDF/' target='_blank'>
            <img src='https://bl-hub.s3.amazonaws.com/education/Growin_glowin_fungi_button-min.jpg' alt='Glowin&#39 Growin&#39 Fungi'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <div class='button-img mll'>
        <a href='https://repository.library.brown.edu/studio/item/bdr:1111550/PDF/ ' target='_blank'>
            <img src='https://bl-hub.s3.amazonaws.com/education/Make+it+Glow+button.png' alt='Make it Glow?'>
            <div class='button-img__overlay'></div>
        </a>
    </div>


<h3 class='text-left mtxl mbxl'>Fun & Games</h3>
  <div class='button-img mll'>
    <a href='/education/madlib-professors-brains' target='_blank'>
        <img src='https://s3.amazonaws.com/bl-hub/education/Madlib+button_ProfessorsBrains-min.jpg' alt='Madlibs'>
        <div class='button-img__overlay'></div>
    </a>
  </div>
  <div class='button-img mlxl'>
    <a href='/education/madlib-bioluminescent-jellyfish' target='_blank'>
        <img src='https://s3.amazonaws.com/bl-hub/education/Madlib+button_Jellyfish-min.jpg' alt='Madlibs'>
        <div class='button-img__overlay'></div>
    </a>
  </div>
  <div class='button-img mll'>
      <a href='https://doi.org/10.26300/xp1t-ps30' target='_blank'>
          <img src='https://s3.amazonaws.com/bl-hub/education/Placemat+button-min.jpg' alt='Placemat'>
          <div class='button-img__overlay'></div>
      </a>
  </div>


<h3 class='text-center mtxl mbxl'>Bioluminescence Throughout Time</h3>
    <p>From the depths of the ocean to the wilderness of the forest, from prairie fields to the darkest caves, bioluminescence is everywhere. We are not the first group to be interested in bioluminescence; this phenomenon has captivated artists, scientists, and casual naturalists for as long as humans have recorded their observations. Explore the timeline below to learn more about a few milestones in the study of bioluminescence. Should we add something? <a class='bl-link' href="mailto:bioluminescencehub@gmail.com?subject=Add%20to%20Timeline">Let us know!</a>
    </p>
    <br>
    <div>
    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1OVhIjut0BPB8sPNk9-oXdndjdFBClTu4pf13hEoiqwA&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
    </div>
    <br/><br/>

</div>
