<% url = 'https://repository.library.brown.edu/api/items/bdr:847089/'; %>
<% response = RestClient.get(url) %>
<% data = JSON.parse(response) %>
<% @iframeHtml = data['display_inline'] %>
<div id='education' class='container'>
    <h2 class='text-center'>Education at Many Levels</h2>
    <p>We will use bioluminescence as a model phenomenon to develop interdisciplinary curricula, resources, and education outreach events for all educational levels and backgrounds. Using bioluminescence, our hub will provide an example of how a unifying concept can be used to bridge disciplinary boundaries, while illustrating core ideas in STEM content and practice.
    </p>
    <br>
    <div class='bl-iframe__scaled--wrapper'><%= @iframeHtml.html_safe %></div>
    <br>
    <h2 class='text-center mtxl mbxl'>Join us!</h2>
        <div class='button-img mll'>
            <a href='https://www.bioluminescencehub.org/mbl' target='_blank'>
                <img src='https://s3.amazonaws.com/bl-hub/education/MBL+Practicum+button-min.jpg' alt='MBL Practicum'>
                <div class='button-img__overlay'></div>
            </a>
        </div>
        <div class='button-img mlxl'>
            <a href='https://www.bioluminescencehub.org/education/utra' target='_blank'>
                <img src='https://s3.amazonaws.com/bl-hub/education/UTRA+button_general-min.jpg' alt='UTRA Opportunities for Undergraduates'>
                <div class='button-img__overlay'></div>
            </a>
        </div>
    <h2 class='text-center mtxl mbxl'>Our Students</h2>
    <div class='button-img mll'>
        <a href='https://www.bioluminescencehub.org/education/scintillon-students' target='_blank'>
            <img src='https://s3.amazonaws.com/bl-hub/education/Scintillon+button-min.jpg' alt='Scintillon Students'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <div class='button-img mlxl'>
        <a href='https://www.bioluminescencehub.org/education/high-school-students' target='_blank'>
            <img src='https://s3.amazonaws.com/bl-hub/education/High+School+Students+button-min.jpg' alt='High School Students'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <h2 class='text-center mtxl mbxl'>Activities to Try at Home!</h2>
    <div class='button-img mll'>
        <a href='https://s3.amazonaws.com/bl-hub/education/What+glows+there+activity.pdf' target='_blank'>
            <img src='https://s3.amazonaws.com/bl-hub/education/What+glows+there+button.jpg' alt='What Glows There?'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <br/><br/>
    <div class='button-img mll'>
        <a href='/education/madlib-professors-brains' target='_blank'>
            <img src='https://s3.amazonaws.com/bl-hub/education/Madlib+button_ProfessorsBrains-min.jpg' alt='Madlibs'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <div class='button-img mll'>
        <a href='' target='_blank'>
            <img src='https://s3.amazonaws.com/bl-hub/education/Madlib+button_Jellyfish-min.jpg' alt='Madlibs'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
</div>
