<div id='education' class='container'>
    <h2 class='text-center'>Education at Many Levels</h2>

    <p>We will use bioluminescence as a model phenomenon to develop interdisciplinary curricula, resources, and education outreach events for all educational levels and backgrounds. Using bioluminescence, our hub will provide an example of how a unifying concept can be used to bridge disciplinary boundaries, while illustrating core ideas in STEM content and practice.
    </p>
    <br>

    <h2 class='text-center'>Join us!</h2>
        <div class='button-img mll'>
            <a href='https://www.bioluminescencehub.org/mbl' target='_blank'>
                <img src='https://s3.amazonaws.com/bl-hub/education/MBL+Practicum+button-min.jpg' alt='MBL Practicum'>
                <div class='button-img__overlay'></div>
            </a>
        </div>
        <div class='button-img mlxl'>
            <a href='https://www.bioluminescencehub.org/education/utra' target='_blank'>
                <img src='https://s3.amazonaws.com/bl-hub/education/UTRA+button-min.jpg' alt='UTRA Opportunities for Undergraduates'>
                <div class='button-img__overlay'></div>
            </a>
        </div>
    <br/><br/>
    <h2 class='text-center'>Our Students</h2>
    <div class='button-img mll'>
        <a href='https://www.bioluminescencehub.org/education/scintillon-students' target='_blank'>
            <img src='https://s3.amazonaws.com/bl-hub/education/Scintillon+button-min.jpg' alt='Scintillon Students'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <div class='button-img mlxl'>
        <a href='https://www.bioluminescencehub.org/education/high-school-students' target='_blank'>
            <img src='https://s3.amazonaws.com/bl-hub/education/High+School+Students+button-min.jpg' alt='High School Students'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
</div>
