<% url = 'https://repository.library.brown.edu/api/items/bdr:847089/'; %>
<% response = RestClient.get(url) %>
<% data = JSON.parse(response) %>
<% @iframeHtml = data['display_inline'] %>
<div id='education' class='container'>
    <h2 class='text-center'>Education at Many Levels</h2>
    <p>We will use bioluminescence as a model phenomenon to develop interdisciplinary curricula, resources, and education outreach events for all educational levels and backgrounds. Using bioluminescence, our hub will provide an example of how a unifying concept can be used to bridge disciplinary boundaries, while illustrating core ideas in STEM content and practice.
    </p>
    <br>
    <div class='bl-iframe__scaled--wrapper'><%= @iframeHtml.html_safe %></div>
    <br>
    <h3 class='text-center'>What are the differences between bioluminescence, fluorescence, and phosphorescence?</h3>
    <div class='bl-iframe__video'><iframe src='https://repository.library.brown.edu/viewers/stream/bdr:847082/'></iframe>
    </div>
    <h3 class='text-left mtxl mbxl'>Join us!</h3>
        <div class='button-img mll'>
            <a href='/mbl'>
                <img src='https://bl-hub.s3.amazonaws.com/education/NeuroNex+Practicum+button_general-min.jpg' alt='NeuroNex Practicum'>
                <div class='button-img__overlay'></div>
            </a>
        </div>
        <div class='button-img mlxl'>
            <a href='/education/utra'>
                <img src='https://s3.amazonaws.com/bl-hub/education/UTRA+button_general-min.jpg' alt='UTRA Opportunities for Undergraduates'>
                <div class='button-img__overlay'></div>
            </a>
        </div>
    <h3 class='text-left mtxl mbxl'>Our Students</h3>
    <div class='button-img mll'>
        <a href='/education/UCSD-interns'>
            <img src='https://bl-hub.s3.amazonaws.com/education/UCSD+internship+button-min.jpg' alt='UCSD Students'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <div class='button-img mlxl'>
        <a href='' target='_blank'>
            <img src='' alt=''>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <div class='button-img mll'>
        <a href='https://www.bioluminescencehub.org/education/scintillon-students'>
            <img src='https://s3.amazonaws.com/bl-hub/education/Scintillon+button-min.jpg' alt='Scintillon Students'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <div class='button-img mlxl'>
        <a href='https://www.bioluminescencehub.org/education/high-school-students'>
            <img src='https://s3.amazonaws.com/bl-hub/education/High+School+Students+button-min.jpg' alt='High School Students'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <h3 class='text-left mtxl mbxl'>Activities to Try at Home</h3>
    <div class='button-img mll'>
        <a href='https://repository.library.brown.edu/studio/item/bdr:880615/PDF/' target='_blank'>
            <img src='https://s3.amazonaws.com/bl-hub/education/What+glows+there+button-min.jpg' alt='What Glows There?'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <div class='button-img mlxl'>
        <a href='/education/madlib-professors-brains' target='_blank'>
            <img src='https://s3.amazonaws.com/bl-hub/education/Madlib+button_ProfessorsBrains-min.jpg' alt='Madlibs'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <div class='button-img mll'>
        <a href='https://repository.library.brown.edu/studio/item/bdr:919150/PDF/' target='_blank'>
            <img src='https://bl-hub.s3.amazonaws.com/education/Who+glows+there+button-min.jpg' alt='Who Glows There?'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <div class='button-img mlxl'>
        <a href='/education/madlib-bioluminescent-jellyfish' target='_blank'>
            <img src='https://s3.amazonaws.com/bl-hub/education/Madlib+button_Jellyfish-min.jpg' alt='Madlibs'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <div class='button-img mll'>
        <a href='https://doi.org/10.26300/xp1t-ps30' target='_blank'>
            <img src='https://s3.amazonaws.com/bl-hub/education/Placemat+button-min.jpg' alt='Placemat'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
     <div class='button-img mlxl'>
        <a href='https://repository.library.brown.edu/studio/item/bdr:929626/PDF/' target='_blank'>
            <img src='https://bl-hub.s3.amazonaws.com/education/Growin_glowin_fungi_button-min.jpg' alt='Glowin&#39 Growin&#39 Fungi'>
            <div class='button-img__overlay'></div>
        </a>
    </div>
    <h3 class='text-center mtxl mbxl'>Bioluminescence Throughout Time</h3>
    <p>From the depths of the ocean to the wilderness of the forest, from prairie fields to the darkest caves, bioluminescence is everywhere. We are not the first group to be interested in bioluminescence; this phenomenon has captivated artists, scientists, and casual naturalists for as long as humans have recorded their observations. Explore the timeline below to learn more about a few milestones in the study of bioluminescence. Should we add something? <a class='bl-link' href="mailto:bioluminescencehub@gmail.com?subject=Add%20to%20Timeline">Let us know!</a>
    </p>
    <br>
    <div>
    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1OVhIjut0BPB8sPNk9-oXdndjdFBClTu4pf13hEoiqwA&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
    </div>
    <br/><br/>

    </div>
</div>
