<% content_for :footer do %>
    <div class='footer-wrapper'>
        <div class='footer-contents'>
            <p>© 2018-2022 Sail High Productions and The Bioluminescence Hub</p>
            <div>
                <a><img class='bl-logo bl-logo--email' src='https://s3.amazonaws.com/bl-hub/logos/email.png'/></a>
                <a href='https://twitter.com/biolumhub' target='_blank'><img class='bl-logo bl-logo--twitter' src='https://s3.amazonaws.com/bl-hub/Twitter_Logo_Blue.svg'/></a>
                <a href='https://www.instagram.com/biolumhub/' target='_blank'><img href='#' class='bl-logo bl-logo--ig' src='https://s3.amazonaws.com/bl-hub/logos/IG_Glyph_Fill-min.png'/></a>
            </div>
        </div>
    </div>
<% end %>
