<div id='JTC-bathysphere' class='container'>

<h2 class='text-center'>Junior Trainee Club Part 5: The Bathysphere!</h2>

<p>Begin this module by watching <a class='bl-link' href='https://www.ted.com/talks/edith_widder_the_weird_wonderful_world_of_bioluminescence' target='_blank'>Dr. Edith Widder’s TED talk</a> about some of her bioluminescent adventures. In your <a class='bl-link' href='/JTC-welcome'>science notebook</a>, be sure to record the names of the creatures that she discovered on her dives as well as some of the ways bioluminescence helps these organisms survive.</p>
<br>

<p>You have already been observing one bioluminescent creature by continuing to work through the <a class='bl-link' href='https://repository.library.brown.edu/studio/item/bdr:929626/PDF/'>Growin’ Glowin’ Fungi activity</a>. Now let’s meet another glowing organism by completing the <A class='bl-link' href='https://repository.library.brown.edu/studio/item/bdr:919150/PDF/'>Who Glows There?</a> activity.</p>
<br>
<div class='button-img mll'>
    <a href='https://repository.library.brown.edu/studio/item/bdr:919150/PDF/' target='_blank'>
        <img src='https://bl-hub.s3.amazonaws.com/education/Who+glows+there+button-min.jpg' alt='Who Glows There?'>
        <div class='button-img__overlay'></div>
    </a>
</div>
<br>
<br>
<p> Let's watch these amazing creatures in action! Check out these videos from ABC7 and and by @Patrickc_la of a surfer and some dolphins enjoying bioluminescent waves off of Southern California's coast this year!<p>
<iframe width="941" height="529" src="https://www.youtube.com/embed/dz6ApIUNT3w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<iframe width="941" height="529" src="https://www.youtube.com/embed/bJcTWr8-mFo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<br>
<h3><i>Coming Soon:</i></h3>
<p>Let’s go on our own bioluminescent dive! In this activity, you will learn about what types of creatures you can meet at different depths in the ocean and the ways that these creatures use bioluminescence to survive and thrive.
<br>


</div>
