<div id='JTC-welcome' class='container'>

<h2 class='text-center'>Junior Trainee Club Part 1: Welcome to the team!</h2>
<br>
<p>We are so happy you have decided to join us! Our Bioluminescence Hub, a National Science Foundation NeuroNex Technology Hub, is inspired by the light that some organisms are able to create and use to survive in the natural world. We build tools with this living light to study the brain. As you work through these modules, you will learn about what bioluminescence is and how it is used in nature and in scientific labs to study the brain.</p>
<br>
<div class='clearfix'>
  <div>
    <img class='float-left' style="width:40%; height:40%; padding:15px 40px 0px" src="https://bl-hub.s3.amazonaws.com/education/Junior_Trainee_Club/Science-notebook_smaller-min.jpg" alt="Science Notebook">
  </div>
<br>
<p>Check out this fantastic resource from the California Academy of Sciences for tips to create your very own <a class='bl-link' href='https://www.calacademy.org/educators/setting-up-your-science-notebooks' target='_blank'>science notebook</a>. Science notebooks are a place for careful observations, accurate record keeping, and creativity. After setting up your notebook, use it to record your thoughts, observations, questions, and responses throughout trainee activities.</p>
<br>
<p>In your notebook, work through this <a class='bl-link' href='https://www.calacademy.org/educators/lesson-plans/draw-a-scientist' target='_blank'>Draw a Scientist Activity</a> with a parent, teacher, or friend. Compare your drawings, how are they similar and how are they different? There is no one way that a scientist looks; science is for everyone. You are a scientist and a member of our team!</p>
</div>
<br>
<br>
<h2 class='text-center'>Meet our Bioluminescent Hub Scientists!</h2>
<a id="Nina_quote"><h3>Nina Friedman</h3></a>
<br>
<div class='clearfix'>
  <div>
    <img class='float-right' style="width:40%; height:40%; padding:0px 40px 0px" src="https://bl-hub.s3.amazonaws.com/education/Junior_Trainee_Club/Nina_in_Lab-min_cropped-min.jpg" alt="Nina in Lab">
  </div>
<p>"As a brain scientist, I use bright bioluminescent tools that light up the brain to see what's happening inside. I start by picking a part of the brain that we don't know much about, for example, a small section near the back. I attach a special bioluminescent molecule to a part of a mouse's brain, and watch it glow. The brighter it glows, the more that brain area is helping the mouse think at that moment. For example, I might put the bioluminescent molecule in the back of the brain, near the top. Let’s say I then have the mouse watch TV. If the back of the brain is really dim and dark, it means the mouse is not using that part of the brain at the moment. If all of a sudden a zebra pops up on the TV, and the back-top of the brain gets REALLY BRIGHT, then we know the back-top part of the mouse brain helps the mouse think about zebras."</p>
<br>
<br>
</div>
<br>
<br>
<a id="Manny_quote"><h3>Emmanuel Crespo</h3></a>
<br>
<div class='clearfix'>
  <div>
    <img class='float-left' style="width:40%; height:40%; padding:0px 40px 0px" src="https://bl-hub.s3.amazonaws.com/education/Junior_Trainee_Club/Manny_in_Lab-min.jpg" alt="Nina in Lab">
  </div>
<p>"Puzzles always interested me as a kid because I got to figure out how little pieces of a puzzle fit together to make a beautiful image appear. As a molecular biologist, I do the exact same thing! I figure out how I can make little pieces fit together to control things cells typically couldn’t do. Can we make a brain cell glow? Sure we can! With the right pieces fitting together you can definitely make brain cells glow.</p>
<br>
<p>"Making brain cells glow is just the beginning as it takes only one little piece: a luciferase. We are going to need to make different puzzle pieces if we want these brain cells to do more than just glow.</p>
<br>
<p>"My research is all about making pieces of a puzzle come together in different ways, painting a different picture every time. Each time, with every puzzle I solve by creating new pieces, I can make a brain cells do something they were never able to do before."</p>
<br>
<br>
</div>
<br>
<br>
<h3>Rochelle van der Merwe</h3>
<br>
<div class='clearfix'>
  <div>
    <img class='float-right' style="width:30%; height:30%; padding:0px 40px 0px" src="https://bl-hub.s3.amazonaws.com/education/Junior_Trainee_Club/Rochelle.jpg" alt="Rochelle">
  </div>
  <p>"I'm a current undergraduate student who is working on developing a database of all of the bioluminescent molecules scientists have identified and/or modified to be used in the field of brain science! The work that I'm doing right now mostly involves reading a lot of papers, and recording the names of molecules and the information that is important for scientists to know when using those molecules into a giant database of already over one hundred different molecules. While this database currently exists as a big spreadsheet, our future directions for this project are to program an interactive website that contains all of these molecules, and reach out to some of the scientists who are working on developing the most efficient versions of these molecules, so that we can make the information available to all scientists who could use bioluminescent molecules to contribute to the advancement of science!"</p>
<br>
<br>
</div>
<br>
<br>
<a id="Dmitrijs_video"><h3>Dmitrijs Celinskis</h3></a>
<br>
  <p>Discover what it is like to work in a NeuroNex Bioluminescent Hub lab! Dmitrijs Celinskis, a graduate student member of our team, will show you around his lab space and share his fascinating work.</p>
<div class='bl-iframe__video'><iframe src='https://repository.library.brown.edu/viewers/stream/bdr:ymwtygyx/'></iframe>
  </div>
<br>
  <p>"Many of us have seen the wondrous examples of bioluminescing creatures. Fireflies, for example, are so bright that we can see their mystical glow during the dark nights by the naked eye. However, if we transfer the light source from a firefly into the brain of a different living organism, things don't look as bright anymore. This is especially true if we want to see the glow of individual brain cells rather than the glow of the whole brain or firefly's body. In order to see such very dim flashes of bioluminescent light emitted by single brain cells, we need very good optical devices for detecting light, such as very sensitive video cameras and microscopes.<p>
<br>
  <p>"As a biomedical engineer, I design, optimize and test different optical microscopes. I put different bioluminescent molecules developed by our team into an animal's body and image them using ultra-sensitive cameras, imaging chambers, multi-photon microscopes and tiny wearable microscopes. We use so many different imaging instruments because the choice of the specific imaging tool depends on the scientific question we are trying to answer. There are lots of fascinating questions about the brain out there and we need every possible device and molecular tool we can get to answer these questions. As part of the Bioluminescence Hub, I help to develop these tools and share them with other scientists."</p>
<br>
<br>
<a id="Jeremy_video"><h3>Jeremy Murphy, PhD</h3></a>
<br>
<p>Learn more about our research! Listen to Jeremy Murphy, PhD, a postdoctoral member of our team, introduce you to his work.</p>
<div class='bl-iframe__video'><iframe src='https://repository.library.brown.edu/viewers/stream/bdr:q59yhkjz/'></iframe>
</div>
<br>
  <p>"As a scientist in the Bioluminescent Hub, I test bioluminescent molecules developed by the Hub for reading and writing brain activity in mice. I also use these molecular tools to answer questions about the basic circuitry of the mammalian brain. Testing and employing these bioluminescent tools usually involves imaging bioluminescence with a very sensitive camera while also recording the electrical activity of neurons in the brain using silicon-based microelectrodes. I love the mix of activities that the work affords me. It allows me to engage in skilled, hands-on experimentation, creative engineering of devices needed to run these experiments and programmatic analysis of the data collected from these experiments. It’s never a dull day when you get to make a mouse brain glow!"</p>
<br>
<br>
<br>
<p>Want to watch videos of bioluminescence in the brain? Head to our <a class='bl-link' href='/data'>BL-OG in Action</a> page!</p>
<br>
<br>
<p>Meet all of the scientists in our group and learn about their work <a class='bl-link' href='/about-us'>here</a>!</p>
</div>
</div>
