<div id='JTC-doing-science' class='container'>

<h3 class='text-center'>Junior Trainee Club Part 2: Doing Science</h3>
<br>
<p>Before we dive into doing some science, check out this <a class='bl-link' href='https://www.youtube.com/watch?v=N6IAzlugWw0' target='blank'>Khan Academy video</a> about the scientific method for an introduction to what all scientists do. For fun, check out this <a class='bl-link' href='https://music.youtube.com/watch?v=wEVJzEcQcZM&feature=share' target='blank'>song by Blazer Fresh</a> for tips on how to think like a scientist!</p>
<br>
  <img class='float-right' style="width:50%; height:35%; padding:15px 15px 0px" src="https://bl-hub.s3.amazonaws.com/education/Junior_Trainee_Club/glow-stick-558591_960_720-min.jpg" alt="Glow Sticks">
<br>
<p>Practice the scientific method by completing this <a class='bl-link' href='https://www.scholastic.com/parents/school-success/learning-toolkit-blog/glow-stick-science-experiment-kids.html' target='blank'>glow stick experiment</a> with help from a parent, guardian, or teacher. Be sure to record your observations, questions, hypotheses, predictions, and results in your science notebook.</p>
<br>
<p>Glow sticks are a fantastic example of chemiluminescence, which just means that light is produced from a chemical reaction, while heat is not. When you break a glow stick, there are two molecules that are released and able to interact to create a third molecule. At the atomic level, the electrons in the third molecule are very excited from the chemical reaction. When the electrons return to their original state, some energy is released in the form of visible light. This can also be referred to as a “package” of light or a photon.</p>
<br>
<p>Bioluminescence is a type of chemiluminescence. Bioluminescence is when this chemical reaction occurs in a living organism. Try our <a class='bl-link' href='https://repository.library.brown.edu/studio/item/bdr:929626/PDF/' target='blank'>fungi activity</a> or <a class='bl-link' href='https://repository.library.brown.edu/studio/item/bdr:919150/PDF/' target='blank'>dinoflagellate activity</a> to have your first bioluminescent encounter!</p>
<br>
<br>
<div class='button-img mll'>
   <a href='https://repository.library.brown.edu/studio/item/bdr:929626/PDF/' target='_blank'>
       <img src='https://bl-hub.s3.amazonaws.com/education/Growin_glowin_fungi_button-min.jpg' alt='Glowin&#39 Growin&#39 Fungi'>
       <div class='button-img__overlay'></div>
   </a>
</div>
<div class='button-img mlxl'>
    <a href='https://repository.library.brown.edu/studio/item/bdr:919150/PDF/' target='_blank'>
        <img src='https://bl-hub.s3.amazonaws.com/education/Who+glows+there+button-min.jpg' alt='Who Glows There?'>
        <div class='button-img__overlay'></div>
    </a>
</div>

</div>
