<div id='JTC-science-creativity' class='container'>

<h2 class='text-center'>Junior Trainee Club Part 6: Science and Creativity</h2>
<br>
<p>Creativity is an important component of doing science. Now that you have learned about some bioluminescent organisms, we want you to imagine and invent your very own glowing creature!</p>
<br>
<p>Describe your organism in your <a class='bl-link' href='/JTC-welcome'>science notebook</a>.</p>
<br>
<ul>
<u>Possible Materials</u>:
  <li>Pen or pencil</li>
  <li>Paper</li>
  <li>Paint</li>
  <li>Crayons</li>
  <li>Colored pencils</li>
  <li>Clay</li>
  <li>Digital drawing software such as Microsoft Paint</li>
</ul>
<br>
<br>
<p>Not sure where to start? Think about...</p>
<br>
<ol>
  <li>What is the environment like where your creature will live?</li>
<br>
  <li>What kinds of challenges could your creature experience in the environment?</li>
<br>
  <li>Would your creature need to be able to see?</li>
<br>
  <li>Will your creature have a friend? How would your creature find a friend?</li>
<br>
  <li>How could glowing help your creature find food?</li>
</ol>
<br>
<br>
<p>Now that you are officially an NSF NeuroNex Bioluminescence Hub Junior Trainee, we want to hear from you. Email us at <a class='bl-link' href='mailto:bioluminescencehub@gmail.com?subject=JTC'>bioluminescencehub@gmail.com</a> to let us know about your <i>glowing</i> ideas on how you would like to use bioluminescence to solve a scientific problem or send us a photo of your creature and we will send you a PRIZE!</p>
