<div id='JTC-tell-me-more' class='container'>

<h2 class='text-center'>Junior Trainee Club Part 4: Tell Me More About Bioluminescence!</h2>
<br>
<p>Bioluminescence is light produced by a chemical reaction inside or squeezed out of a living thing. Bioluminescent species may use different specific reactions to generate light, but the recipe for this "living light" usually contains two key ingredients: a <b>luciferase</b> enzyme and a <b>luciferin</b> molecule. The luciferase enzyme contains a small area that finds and binds the luciferin molecule. When the luciferin molecule binds to the luciferase enzyme, a chemical reaction occurs and the luciferin releases light that we can see!</p>
<br>
  <div class='clearfix'>
    <img style="width:70%; height:70%; padding:0px 200px 0px" src='https://bl-hub.s3.amazonaws.com/education/Junior_Trainee_Club/bioluminescence+simple+fig.png' alt='simple cartoon of bioluminescence chemical reaction'>
  </div>
<br>
<div class='clearfix'>
    <video class='float-right' width="50%" height="50%" controls>
  <source src='https://bl-hub.s3.amazonaws.com/education/Junior_Trainee_Club/purifiednanolucwithpipettedfuimazine.mp4' type='video/mp4'>
    </video>
<br>
<br>

<h3>Bioluminescence in the Lab</h3>
<br>
<p>Play the video to the right to see what happens when furimazine (a luciferin) is broken down by purified NanoLuciferase (a luciferase).</p>
<br>
<p>Be sure to record the two parts needed for a bioluminescent chemical reaction and your observations from the video in your <a class='bl-link' href='/JTC-welcome'>science notebook</a>. Here are a few questions to think about as you write down your thoughts and ideas:</p>
<br>
<p><i>What color(s) do you see?</p>
<br>
<p>Why do you think the scientist is swirling the liquid?</p>
<br>
<p>Why do you think the light becomes more dim after the first few moments?</i></p>
<br>
<br>
<p class='text-xs italics'> Special thanks to Sabrina Tran for capturing this video during her <a class='bl-link' href='/education/UCSD-interns' target='_blank'>internship at UCSD</a>!</p>
</div>

<h3>Learn More</h3>
<br>
<p>In <a class='bl-link' href='https://www.youtube.com/watch?v=oKjFVBVGad0' target='_blank'>this video from TEDEd</a>, you will learn about living light and the reaction that occurs to produce the light in bioluminescent creatures. You will also learn about some of the ways scientists harness the power of living light in their research endeavors.</p>
<br>
<p>You might also be interested in these (non-affiliate) sites: <a class='bl-link' href='https://biolum.eemb.ucsb.edu/organism/photo.html' target='_blank'>The Bioluminescence Web Page</a>, <a class='bl-link' href='http://www.marinespecies.org/copepoda/aphia.php?p=taxdetails&id=104625' target='_blank'>marinespecies.org</a>, <a class='bl-link' href='https://scripps.ucsd.edu/labs/mlatz/bioluminescence/bioluminescence-questions-and-answers/' target='_blank'>Bioluminescence Q&A with the Latz Laboratory</a>, and National Geographic’s <a class='bl-link' href='https://www.nationalgeographic.org/encyclopedia/bioluminescence/' target='_blank'>Bioluminescence Encyclopedic Entry</a>.</p>
<br>
<p>Still not enough? Check out our introduction to bioluminescence for more advanced scientists.</p>
<br>
  <div class='button-img mll'>
      <a href='/bioluminescence_intro'>
          <img src='https://bl-hub.s3.amazonaws.com/about-bl-og/Bioluminescence_button-min.jpg' alt='What is Bioluminescence?'/>
          <div class='button-img__overlay'></div>
      </a>
  </div>


</div>
