<div id='JTC-welcome' class='container'>

<h3 class='text-center'>Junior Trainee Club Part 1: Welcome to the team!</h3>
<br>
<p>We are so happy you have decided to join us! Our Bioluminescence Hub, a National Science Foundation NeuroNex Technology Hub, is inspired by the light that some organisms are able to create and use to survive in the natural world. We build tools with this living light to study the brain. As you work through these modules, you will learn about what bioluminescence is and how it is used in nature and in scientific labs to study the brain.</p>
<br>
<div class='clearfix'>
  <div>
    <img class='float-left' style="width:50%; height:50%; padding:15px 40px 0px" src="https://bl-hub.s3.amazonaws.com/education/Junior_Trainee_Club/Science-notebook_smaller-min.jpg" alt="Science Notebook">
  </div>
<br>
<p>Check out this fantastic resource from the California Academy of Sciences for tips to create your very own <a class='bl-link' href='https://www.calacademy.org/educators/setting-up-your-science-notebooks' target='_blank'>science notebook</a>. Science notebooks are a place for careful observations, accurate record keeping, and creativity. After setting up your notebook, use it to record your thoughts, observations, questions, and responses throughout trainee activities.</p>
<br>
<p>In your notebook, work through this <a class='bl-link' href='https://www.calacademy.org/educators/lesson-plans/draw-a-scientist' target='_blank'>Draw a Scientist Activity</a> with a parent, teacher, or friend. Compare your drawings, how are they similar and how are they different? There is no one way that a scientist looks, science is for everyone. You are a scientist and a member of our team!</p>
</div>
