<div id='LMO3' class='container'>

    <h2 class='text-center'>E-Z Guide to LMO3</h2>
<br>
<br>

    <h3 class='text-center'>What is BL-OG? Chemogenetic and/or Optogenetic Control in a <i>Single</i> Molecule</h3>
      <img class='prl pll' src='https://bl-hub.s3.amazonaws.com/LMO3-card/BL-OG+figure+for+LMO3+card_simple.png' alt='Schematic of Basic BL-OG'/>
      <br>
      <p>In BioLuminescent OptoGenetics <a class='bl-link' href='/what-is-BL-OG' target='_blank'>(BL-OG)</a>, molecular light drives an optogenetic sensor. LuMinOpsins (LMOs) are single molecules that tether the light producer (luciferase) and opsin. In LMO3, bioluminescent (BL) light drives VChR1 causing depolarization when coelenterazine (CTZ) is present. LMO3 has now been vetted in multiple cell types and contexts.</p>
<br>
<br>
<br>

    <h3 class='text-center'>Why BL-OG? More Flexible and More Trackable = More Useful</h3>
      <p><b>Systemic impact (chemogenetic) and specific control (optogenetic)</b> in the same mouse: <b><a class='bl-link' href='#Study_I'>Study I</a></b></p>
        <br>
      <p><b>Bioluminescent light reports the timing of neuromodulation</b> after injection: <b><a class='bl-link' href='#Study_II'>Study II</a></b></p>
        <br>
      <p><b>Choose the timing</b>; fast optogenetic and multiple chemogenetic time courses: <b><a class='bl-link' href='#Study_II'>Study II</a></b></p>
        <br>
      <p><b>Long-term biocompatibility: <b><a class='bl-link' href='#Study_I'>Studies I-IV</a></b></b></p>
<br>
<br>
    <h3 class='text-center'>How to Get BL-OG</h3>
      <p>Order LMO3s as pAAV plasmids from <a class='bl-link' href='https://www.addgene.org/Ute_Hochgeschwender/' target='_blank'>Addgene</a> (114099, 114103, 114104, 114105)</p>
      <br>
      <p>Order native CTZ from <a class='bl-link' href='https://nanolight.com/CoelenterazineCyan/_113_Native_Coelenterazine.html' target='_blank'>Nanolight</a></p>
      <br>
      <p> The LMO3-floxed mouse is available at <a class='bl-link' href='https://www.jax.org/strain/034853' target='_blank'>Jackson Laboratory</a> (Stock Number: 034853)</p>
<br>
<br>

    <h3 class='text-center'>How to Use BL-OG</h3>
<iframe id="embed-iframe" allowTransparency="true" allow="encrypted-media *" allowfullscreen height="490" width="1100" border="0" scrolling="no" frameborder="0" marginwheight="0" marginwidth="0" src="https://www.jove.com/embed/player?id=62850&t=1&chap=1&s=1&fpv=1"><p><a title="Bioluminescent optogenetics 2.0: harnessing bioluminescence to activate photosensory proteins <em>in vitro</em> and <em>in vivo</em>" href="https://www.jove.com/v/62850/bioluminescent-optogenetics-20-harnessing-bioluminescence-to-activate-photosensory-proteins-in-vitro-and-in-vivo">Bioluminescent optogenetics 2.0: harnessing bioluminescence to activate photosensory proteins <em>in vitro</em> and <em>in vivo</em></a></p></iframe>

<p>Read more, including a step by step protocol, and download a materials list: <a href='https://doi.org/10.3791/62850' class='bl-link' target='_blank'>Crespo EL, Björefeldt A, Prakash M, Hochgeschwender U. 2021. Bioluminescent optogenetics 2.0: harnessing bioluminescence to activate photosensory proteins <i>in vitro</i> and <i>in vivo</i>. J Vis Exp (174).</a></p>

<br>
<br>
    <h3 class='text-center'>Help with BL-OG</h3>
      <p>Our in-house <a class='bl-link' href='/workshops'>workshops</a> train users in all aspects of BL-OG use, and our <a class='bl-link' href='/research/emissaries'>emissaries</a> can provide hands-on training in your lab. <a class='bl-link' href='mailto:bioluminescencehub@gmail.com?subject=Workshop-or-Emissary'>Email us</a> for more information.</p>
<br>
<br>
    <h3 class='text-center'>Toxicity?  No. Brain Permeability? Yes.</h3>
      <p>Toxicology screens commissioned by Prolume (ms in prep., H. Schmidt) did not reveal any toxicity concerns of CTZ, the luciferin we employ, consistent with our extensive experience with repeated administration of it in water-soluble form. Another FAQ is whether CTZ can reach brain targets. Multiple published studies and our ongoing work show that CTZ can access the brain (e.g., neocortex, Choroid Plexus) after peripheral injection.</p>
<br>
<br>
<br>

    <h2 class='text-center'>LMO3: <i>In vivo</i> Studies</h2>
      <div class='clearfix'>
              <div >
                  <img class='float-right prl pll mbm' style='width:50%;' src='https://bl-hub.s3.amazonaws.com/LMO3-card/Study_I_Figure.png' alt='Study I Figure'/>
              </div>
                <div>
                  <br>
                  <p id='Study_I'><b>Study I: Impacting Development with Chemogenetic LMO3 Activation, then Probing Changes in the Adult with Optogenetic Drive</b></p>
                  <p><a class='bl-link' href='https://doi.org/10.1016/j.isci.2021.102157' target='_blank'>Medendorp et al. 2021 </a> drove pyramidal neurons expressing LMO3 by IP CTZ injection P4-P10. They then used direct optogenetic drive of LMO3 to test adult excitability in the same cells. Adult mice showed robust behavioral and physiological changes after developmental BL-OG treatment.</p>
                </div>
      </div>
<br>
<br>
<br>
      <div class='clearfix'>
              <div>
                <img class='prl pll' style='width:95%;' src='https://bl-hub.s3.amazonaws.com/LMO3-card/Study_II_Figure.png' alt='Study II Figure'/>
              </div>
                <div>
                  <br>
                  <p id='Study_II'><b>Study II: Bioluminescent Light from LMO3 Reports Chemogenetic Activation in the Choroid Plexus</b></p>
                  <p>Shipley et al. (in review) describes novel imaging and control tools for <i>in vivo</i> Choroid Plexus (ChP) study. LMO3 activation in ChP showed distinct time courses for different CTZ injection routes.</p>
                </div>
      </div>
<br>
<br>
<br>
      <div class='clearfix'>
              <div >
                  <img class='prl pll' style='width:95%;' src='https://bl-hub.s3.amazonaws.com/LMO3-card/Study_III_Figure.png' alt='Study III Figure'/>
              </div>
                <div>
                  <br>
                  <p id='Study_III'><b>Study III:	IPSC control by LMO3 Post-Stroke: Chemogenetic or Optogenetic Activation Drives Behavioral Recovery and Synaptic Enhancement</b></p>
                  <p><a class='bl-link' href='https://doi.org/10.1523/JNEUROSCI.2010-18.2019' target='_blank'>Yu et al. (2019 J Neurosci)</a> expressed LMO3 in induced pluripotent stem cells (IPSCs) implanted <i>in vivo</i> post-stroke. Chemogenetic or optogenetic LMO3 activation improved behavioral and sensory responses <i>in vivo</i>, and enhanced peri-infarct synaptic plasticity.</p>
                </div>
      </div>
<br>
<br>
<br>
      <div class='clearfix'>
              <div >
                  <img class='float-left prl pll mbm' style='width:25%;' src='https://bl-hub.s3.amazonaws.com/LMO3-card/Study_IV_Figure.png' alt='Study IV Figure'/>
              </div>
                <div>
                  <br>
                  <p id='Study_IV'><b>Study IV: LMO3 Activation Drives Motor Recovery Following Spinal Cord Injury</b></p>
                  <p>Petersen et al. (in review; <a class='bl-link' href='https://doi.org/10.1101/710194' target='_blank'>bioRxiv</a>) expressed LMO3 in the ventral cord below an impact injury. Driving LMO3 activation with repeated CTZ injections (10 days) significantly enhanced the long-term recovery of motor coordination/control of the lower limbs, as compared to vehicle control treatment of injured mice.</p>
                </div>
      </div>
<br>
<br>

      <p class='text-left'>Questions? Ready to get started with LMO3? <a class='bl-link' href='mailto:bioluminescencehub@gmail.com?subject=LMO3'>Email us!</a></p>
        <br>
      <p> Click <a class='bl-link' href='https://bl-hub.s3.amazonaws.com/E-Z_Guide_to_LMO3.pdf' target='_blank'>here</a> for a printer-friendly version of our E-Z Guide.</p>
</div>
