<div class='container' id='LMOs_in_vivo'>

  <br>
    <h2 class='text-center'>BL-OG in Action: LMOs drive behavior <i>in vivo</i></h2>

    <img class='container--nobottom prl pll' src="https://bl-hub.s3.amazonaws.com/about-bl-og/BL-OG+channels-min.jpg" alt="Simple BL-OG Figure">
  <br>

<p><a class='bl-link' href='/what-is-BL-OG'>BL-OG</a>, the use of bioluminescent light to drive optogenetic sensors, can be achieved with molecular constructs called LuMinOpsins (LMOs), where a luciferase (yellow) is tethered to a channel (green) or pump (not shown). When the luciferin (orange) is present, the resulting bioluminescent light is sensed by the opsin (black), opening the channel or activating the pump.</p>
<br>
<p>LMOs can be modified to have different properties, and <a class='bl-link' href='https://doi.org/10.1073/pnas.1510899113' target='_blank'>Berglund et al.</a> used a modified <i>Gaussia</i> luciferase to create <a class='bl-link' href='/LMO3'>LMO3</a>, a BL-OG construct that produces bioluminescent light that is brighter and better at driving its partner optogenetic element than earlier LMOs. This team of researchers also engineered iLMO, a fusion of a modified <i>Gaussia</i> luciferase and a light-sensitive proton pump naturally found in the fungus <i>Leptosphaeria maculans</i>.</p>
    <div class='clearfix'>
      <div>
        <img class='float-left container--nobottom' src="https://bl-hub.s3.amazonaws.com/about-bl-og/BL-OG+in+neurons+fig-min.jpg" alt="BL-OG in Neurons">
      </div>
      <br>
      <br>
      <p>These authors expressed LMO3 and iLMO in cultured cortical neurons and were able to image bioluminescence in the cell bodies and processes in both cases (top images), showing the luciferase was functional and that its interaction with its luciferin, coelenterazine (CTZ), produced bioluminescence. Next, action potentials were recorded in the presence of CTZ. Neurons expressing LMO3 showed an increase in action potentials (depolarization causing activation; left) while neurons expressing iLMO showed a decrease in action potentials (hyperpolarization causing silencing; right).</p>
    </div>
<br>
    <div class='clearfix'>
      <div>
        <img class='float-right' style='width:45%; height:60%' src="https://bl-hub.s3.amazonaws.com/about-bl-og/mice-min.jpg" alt="Mice and CTZ Administration">
      </div>
      <br>
      <br>
      <p>After showing that LMO3 can be activated by bioluminescent light or an external light source to drive action potentials <i>in vitro</i>, Berglund et al. tested whether <i>in vivo</i> activation could result in a behavioral change in mouse behavior. Previous work showed that activation of GABAergic neurons in the <i>substantia nigra pars reticulata</i> (SNr) on one side of the brain results in the mouse moving in circles in the opposite direction (<a class='bl-link' href='https://doi.org/10.1016/0306-4522(82)90161-0' target='_blank'>Kilpatrick et al., Neurosci, 1982</a>), and Berglund et al. used this assay to test their LMOs.</p>
    </div>
<br>
    <div class='clearfix'>
      <div>
        <img class='float-left container--nobottom' src="https://bl-hub.s3.amazonaws.com/about-bl-og/mouse+movement-min.jpg" alt="Mouse Behavior LMO3 and iLMO">
      </div>
      <br>
      <br>
      <br>
      <p>After expressing LMO3 or iLMO in mouse brains via viral transduction with AAV, Berglund et al. delivered CTZ intravenously (IV) via the tail vein or applied it directly to the brain and analyzed the behavior of the mice. In the presence of CTZ, SNr neurons were activated in LMO3 mice and those animals turned toward the stimulated side of the brain (ipsiversive turns; red). When CTZ was administered to iLMO mice, SNr neurons were silenced and the animals turned away from the inhibited side of the brain (contraversive turns; blue).</p>
      <br>
      <p>Regardless of CTZ delivery method, behavioral effects were similar, showing that CTZ reached the brain when administered in the periphery. This CTZ activated LMOs that created bioluminescence capable of driving opsins, and that excitation or silencing was realized in the animal’s behavior.</p>
    </div>

<br>
<p><a class='bl-link' href='https://doi.org/10.1073/pnas.1510899113' target='_blank'>Berglund, K., Clissold, K., Li, H. E., Wen, L., Park, S. Y., Gleixner, J., Klein, M. E., Lu, D., Barter, J. W., Rossi, M. A., Augustine, G. J., Yin, H. H., Hochgeschwender, U. 2016. Luminopsins integrate opto- and chemogenetics by using physical and biological light sources for opsin activation. Proceedings of the National Academy of Sciences, 113(3):E358-E367</a>.</p>
