<div class='container' id='optogenetics_intro'>

<br>
    <h2 class='text-center'>What is Optogenetics?</h2>

    <img class='container--nobottom prl pll' src="https://bl-hub.s3.amazonaws.com/about-bl-og/OG+channels-min.jpg" alt="Simple Optogenetics Figure">
  <p class='text-center text-xs italics'>Optogenetics (alone, with out a bioluminescent component) requires an external light source such as an LED to stimulate the opsin.</p>
<br>
  <p>Opsins are naturally-occurring proteins that contain chromophores, molecular regions that are sensitive to light. You might be familiar with retinal, a chromophore within the opsins in your retina. When chromophores sense a photon, they change their shape. This conformational change results in a change in the cell, such as a signal cascade and/or a shift in ion permeability. These biochemical signals are responsible for phenomena as diverse as animal vision and algae swimming toward light.</p>
<br>
<img class='container--nobottom prl pll' src="https://bl-hub.s3.amazonaws.com/about-bl-og/Mikrofoto.de-volvox-4_Frank_Fox_www.mikro-foto.de-min.jpg" alt="Volvox sp.">
<p class='text-center text-xs'>Volvox <i>sp.; Photo by Frank Fox, <a class='bl-link' href='http://www.mikro-foto.de' target=_blank'>http://www.mikro-foto.de</a></i></p>
<br>
<p>Natural opsins have been modified and engineered to have particular properties that can be used in research, creating a family of techniques called optogenetics. Famous examples of opsins borrowed from nature include the channelrhodopsin ion channel (VChR) family derived from the alga <i>Volvox carteri</i> and the halorhodopsin ion pump (NpHR) families derived from bacteria.</p>
<br>
<p>Optogenetics is a flexible research method and specialized opsins are routinely expressed in subcellular units that control cellular events, such as ion channels, ion pumps, or a G-protein coupled receptor (GPCR). This expression allows the researchers to control cells with specific local and fine temporal control. A researcher can apply a fixed amount of light, of a known wavelength and for a certain duration, to a particular brain region to stimulate a circuit, for example.</p>
<br>
<p>Most optogenetic work has been accomplished by delivering light from an external source, such as an LED to the brain <i>via</i> an implant. BioLuminescent Optogenetics (<a class='bl-link' href='/what-is-BL-OG'>BL-OG</a>) allows researchers to drive optogenetic elements with internal, bioluminescent light, allowing systemic control and the use of freely-behaving, intact animals. If a particular research question requires the comparison of global and local control, the researcher can stimulate all expressed cells chemogenetically by adding luciferin (e.g., CTZ) or only a subset of those cells <i>via</i> traditional optogenetics with an external light source, both within the same animal. In BL-OG, the optogenetic element maintains full functionality for standard optogenetics.</p>
<br>
<p>To learn more about optogenetics, visit these (non-affiliate sites): <a class='bl-link' href='https://www.addgene.org/guides/optogenetics/' target=_blank>Optogenetics Guide</a> (Addgene), <a class='bl-link' href='https://kids.frontiersin.org/article/10.3389/frym.2017.00051' target=_blank>Frontiers for Young Minds</a>, <a class='bl-link' href='https://web.stanford.edu/group/dlab/optogenetics/index.html' target=_blank>Optogenetics Resources</a> (Deisseroth Lab Web Page), <a class='bl-link' href='https://syntheticneurobiology.org/protocols' target=_blank>Synthetic Neurobiology Group Resources</a> (Boyden Lab Web Page).</p>

</div>
