<div class='container--nobottom' id='publications'>
  <h2 class='text-center'>BL-OG Publications</h2>
    <p>Browse the bibliography below to learn more about the applications of our LMO constructs. Did we miss a publication? <a class='bl-link' href='mailto:bioluminescencehub@gmail.com?subject=BL-OG-Publications'>Let us know</a>!</p>
<br>
    <p><i>To view by construct, click "Group by" then "Keyword."</i>
<br>
<br>
    <p><i>To view a research article, control-click or right-click on "doi" in its reference and select "open link in new window" (or tab).</p></i>
  <br>
</div>
<div class='container' id='Zotero'>
  <iframe src="https://bibbase.org/show?bib=https%3A%2F%2Fapi.zotero.org%2Fusers%2F5859248%2Fcollections%2FZYVZCB4C%2Fitems%3Fkey%3Di592Yilg8w9omECWaTAnxNT7%26format%3Dbibtex%26limit%3D100" width="1000" height="1200"></iframe>
  <br />
</div>
