<div class='container--nobottom' id='what-is-BL-OG'>
<br>
<h2 class='text-center'>What is Interluminescence?</h2>
<br>
<center><img class='prl pll' style='width:85%;' src="https://bl-hub.s3.amazonaws.com/Interluminescence/20220921_Schematicofinterluminescence.png" alt="Interluminescence illuustration"></center>
<br>

<p>Interluminescence combines <a href='/bioluminescence_intro' class='bl-link' target='_blank'>bioluminescence</a> and <a href='/optogenetics_intro' class='bl-link' target='_blank'>optogenetics</a> to achieve synapse-specific and activity-dependent circuit control by creating an “optical synapse” between two synaptically-connected neurons.</p>
<br>
<p>Both the light emitter (“Sender” in the illustration above) and the light sensor (“Receiver” in the illustration above) are genetically encoded; each component can be expressed in different cells. To create an interluminescent synapse, we express a luciferase in vesicles in presynaptic neurons and a light-sensing channelrhodopsin in postsynaptic neurons. When the presynaptic neuron depolarizes, the luciferase is released into the synapse. In the presence of a complementary small molecule luciferin ligand (e.g., coelenterazine, shown as “CTZ” in the illustration above), the luciferase breaks down the luciferin, releasing bioluminescent light. The bioluminescent light is detected by the opsins in the postsynaptic channels and their conformational change opens the channels in the postsynaptic neurons.</p>
<br>
<p>This novel tool for cell-pairing and activity-specific control for testing the mechanisms underlying behavior has distinct advantages:</p>
<br>

<ul style='padding-left:50px'>
  <li>Bioluminescence allows the light to be focused at the synapses of interest without surgery to implant an LED light source;</li>
  <br>
  <li>Genetically-encoded tools allow for systemic activation of all expressing elements at once;</li>
  <br>
  <li>Anatomically proximal cells can be studied, an advantage over DREADDs;</li>
  <br>
  <li>The amount of luciferin ligand can be adjusted to control the response;</li>
  <br>
  <li>Researchers have control over presence/absence of luciferin;</li>
  <br>
  <li>Interluminescence is modular, as light emission from the presynaptic luciferase can, in principle, modulate any postsynaptic photoreceptor, including excitatory and inhibitory opsins and light-sensing GPCRs.</li>
</ul>
<br>

<p>We are presently characterizing the optical synapse in detail in patch-clamp recordings and are designing alternative strategies for activity-dependent and -independent release of the presynaptic luciferase. We are also using interluminescence for communication across other cell types.</p>
<br>
<p>To learn more, read <a href='https://doi.org/10.1038/s42003-021-02981-7' class='bl-link' target='_blank'>Prakash et al. <i> Current Biology</i> 2022</a> and a <a href='https://neuronex.org/news/22' class='bl-link' target='_blank'>NeuroNex research news article</a>.</p>
<br>
<p>To get started with interluminescence, get in touch! Email us at <a href=<a href="mailto:bioluminescencehub@gmail.com?subject=interluminescence" class='bl-link'>bioluminescencehub@gmail.com</a> and follow us on <a href='https://twitter.com/biolumhub' class='bl-link' target='_blank'>Twitter</a> and <a href='https://www.instagram.com/biolumhub/' class='bl-link' target='_blank'>Instagram</a>.</p>

</div>
