<% url = 'https://repository.library.brown.edu/api/items/bdr:847090/'; %>
<%response = RestClient.get(url)%>
<% data = JSON.parse(response)%>
<% @iframeHtml = data['display_inline'] %>

<div class='container' id='what-is-blog'>
<h2 class='text-center'>What is BL-OG?</h2>
<br/>
<div style='background:lightgray;'><%= @iframeHtml.html_safe  %></div>
<br/>
<br/>
<h3>What is bioluminescence?</h3>
<img style='width:70%;margin:auto;' src='https://s3.amazonaws.com/bl-hub/about-bl-og/basic+BL-min.jpg' />
<br/>
<p>Bioluminescence is light emitted when a luciferase, an enzyme, interacts with a small molecule, a luciferin; the enzymatic reaction changes the luciferin, thereby releasing photons. An example of a bioluminescent reaction is the conversion of coelenterazine (CTZ) and oxygen (O<sub>2</sub>) into coelenteramide (CA), carbon dioxide (CO<sub>2</sub>), and light (hv).</p>
<br/>
<h3>What is optogenetics?</h3>
<br/>
<img style='width:70%;margin:auto;' src='https://s3.amazonaws.com/bl-hub/about-bl-og/OG+channels-min.jpg'/>
<br/>
<p>Optogenetic elements, opsins, are ion channels or ion pumps (left) that react to light by opening the channel or activating the pump (right), resulting in movement of ions across the cell membrane and subsequent change of membrane potential. Depending on the specific ions a particular opsin allows into the cell or pumps out of the cell, the membrane potential depolarizes (turns more positive) or hyperpolarizes (turns more negative).</p>
<br/>
<h3>What is BL-OG?</h3>
<img style='width:70%;margin:auto;' src='https://s3.amazonaws.com/bl-hub/about-bl-og/BL-OG+channels-min.jpg'?>
<br/>
<p>In BioLuminesence-driven OptoGenetics (BL-OG) the luciferase is brought in proximity to the optogenetic element (left); in the presence of the luciferin (e.g., CTZ), its enzymatic breakdown by the luciferase produces bioluminescent light that activates the opsin (right). Molecules that fuse the luciferase to the opsin are called luminopsins, luminescent opsins (e.g., LMO3).</p>
<br/>
<img style='width:80%;margin-left:100px;' src='https://s3.amazonaws.com/bl-hub/about-bl-og/BL-OG+in+neurons+fig-min.jpg'/>
<br/>
<p>When the cells expressing luciferase-opsin combinations such as (LMO3 or iLMO) are neurons, light activation of the opsin results in activating (depolarization; left) or silencing (hyperpolarization, right) of the neuron. <i>Figure modified from <a class='bl-link' href='https://doi.org/10.1073/pnas.1510899113'>Berglund et al., PNAS 2016</a></i>.</p>
<br/>
<img style='width:70%;margin:auto;' src='https://s3.amazonaws.com/bl-hub/about-bl-og/mice-min.jpg'/>
<br/>
<p>Experimental animals, e.g., mice, can be genetically engineered to have specific populations of neurons in the brain express a luciferase-opsin combination. Application of the luciferin to the animal, for example by intravenous injection, will lead to light emission of all luciferase molecules and activation of their nearby opsins.
<img style='width:70%;margin:auto;' src='https://s3.amazonaws.com/bl-hub/about-bl-og/mouse+movement-min.jpg'/>
<p>Depending on the physical characteristics of the opsin (de- or hyper-polarizing), the neural population will fire or will be silenced. Depending on which population of neurons is being manipulated, this can result in a change of the animal’s behavior, such as the turning behavior shown above. <i>Figure modified from <a class='bl-link' href='https://doi.org/10.1073/pnas.1510899113'>Berglund et al., PNAS 2016</a></i>.</p>
<br/>
<img style='width:40%;margin:auto;' src='https://s3.amazonaws.com/bl-hub/about-bl-og/BL+in+live+mouse-min.jpg'/>
<br/>
<p>Because the light emitted by the luciferase can be imaged with sensitive cameras in live animals, the investigator is able to confirm that the targeted population of neurons “lit up,” and thus that the neurons were activated or silenced.</p><i>Figure modified from <a class='bl-link' href='https://doi.org/10.1117/1.NPh.3.2.025001'>Tung et al., Neurophotonics 2016</a></i>.</p>
<br/>
<p><a class='bl-link' href='https://doi.org/10.1073/pnas.1510899113'>Berglund, K., Clissold, K., Li, H. E., Wen, L., Park, S. Y., Gleixner, J., Klein, M. E., Lu, D., Barter, J. W., Rossi, M. A., Augustine, G. J., Yin, H. H., Hochgeschwender, U. 2016. Luminopsins integrate opto- and chemogenetics by using physical and biological light sources for opsin activation. Proceedings of the National Academy of Sciences, 113(3):E358-E367.</a></p>
<br/>
<p><a class='bl-link' href='https://doi.org/10.1117/1.NPh.3.2.025001'>Tung, J. K., Berglund, K., Gutekunst, C-A., Hochgeschwender, U., Gross, R. E. 2016. Bioluminescence imaging in live cells and animals. Neurophotonics, 3(2):025001.</a></p>
</div>
