<div class='container--nobottom' id='what-is-BL-OG'>
<br>
<h2 class='text-center'>What is BL-OG?</h2>

<img class='prl pll' src="https://bl-hub.s3.amazonaws.com/LMO3-card/BL-OG+figure+for+LMO3+card_simple.png" alt="Basic BL-OG schematic">
<br>

  <div class='container--xtracozy' id='what-is-BL-OG-textbox'>
<p>BL-OG, BioLuminesence-driven OptoGenetics, joins <a class='bl-link' href='/bioluminescence_intro'>bioluminescence</a> with <a class='bl-link' href='/optogenetics_intro'>optogenetics</a>. Light is created by the chemical reaction of two biological molecules: a luciferase enzyme breaks down a luciferin, just as it does in nature. This bioluminescent light is sensed by a nearby opsin, just as light is sensed by the opsins in your retina.</p>
<br>
<p>Shown in the figure is a LuMinOpsin (such as <a class='bl-link' href='/LMO3'>LMO3</a>), a molecular construct where the luciferase (yellow) is tethered to the optogenetic element, here an opsin (black) within a membrane-bound ion channel (green).</p>
<br>
<p>When the corresponding luciferin (here, coelenterazine, CTZ; orange) is present, bioluminescent light is produced, stimulating the opsin and opening the channel (left) or activating the pump (example not shown). Depending on the charge of the ions (purple) that pass through the channel (or pump), the membrane hyperpolarizes or depolarizes. When BL-OG constructs are used in neurons, this change in polarization can cause silencing or activation, respectively.</p>
<br>
<p>The bioluminescent light created during the luciferase-luciferin chemical reaction can be imaged in real time to provide optical confirmation that the luciferin reached its target, the LMO-expressing cells.</p>
<br>
<p>Regardless of activation by bioluminescent light, the optogenetic element is functional; it can still be stimulated with an external light source, such as an LED (right). This allows for global, chemogenetic global control of the cells that express the construct (left) and local, optogenetic control of a subset of those same cells (right), in the same animal.</p>
<br>
<p>Learn more about the use of <a class='bl-link' href='/LMOs_in_vivo'>BL-OG to activate or silence neurons</a>, and browse our <a class='bl-link' href='/data'>bibliography of papers</a> that employ LMOs to address a variety of research questions.</p>
  </div>
</div>

    <div id='BLOGcards' class='container'>
        <div class='button-img mll'>
            <a href='/bioluminescence_intro'>
                <img src='https://bl-hub.s3.amazonaws.com/about-bl-og/Bioluminescence_button-min.jpg' alt='What is Bioluminescence?'/>
                <div class='button-img__overlay'></div>
            </a>
        </div>
        <div class='button-img mlxl'>
            <a href='/LMO3'>
                <img src='https://bl-hub.s3.amazonaws.com/home+buttons/LMO3+Primer+Button_new-min.jpg' alt='Get Started with LMO3'/>
                <div class='button-img__overlay'></div>
            </a>
        </div>
        <div class='button-img mll'>
            <a href='/optogenetics_intro'>
                <img src='https://bl-hub.s3.amazonaws.com/about-bl-og/Optogenetics_button-min.jpg' alt='What is Optogenetics?'/>
                <div class='button-img__overlay'></div>
            </a>
        </div>
        <div class='button-img mlxl'>
            <a href='/LMOs_in_vivo'>
                <img src='https://bl-hub.s3.amazonaws.com/about-bl-og/LMOs_in_vivo_button-min.jpg' alt='BL-OG Tools in Action: LMOs'/>
                <div class='button-img__overlay'></div>
            </a>
        </div>
        <div class='button-img mll'>
            <a href='/constructs'>
                <img src='https://bl-hub.s3.amazonaws.com/home+buttons/Constructs+Database+button-min.jpg' alt='Constructs Database'/>
                <div class='button-img__overlay'></div>
            </a>
        </div>
        <div class='button-img mlxl'>
            <a href='/BLOGfaqs'>
                <img src='https://bl-hub.s3.amazonaws.com/about-bl-og/BL-OG_FAQs_button-min.jpg' alt='BL-OG FAQs'/>
                <div class='button-img__overlay'></div>
            </a>
        </div>
    </div>
<div>
<div style='background:lightgray;border:1px solid grey; width:70%;margin:auto;'>
    <img src='https://repository.library.brown.edu/iiif/image/bdr:847090/full/!1200,1200/0/default.jpg' />
</div>
<div class='container--nobottom'>
  <br>
<p> Click <a class='bl-link' href='https://repository.library.brown.edu/iiif/image/bdr:847090/full/!1200,1200/0/default.jpg' target='_blank'>here</a> for a printer-friendly version of this BL-OG summary card.</p>
</div>
