<div class='container' id='workshops'>
    <h2 class='text-center'>Workshops</h2>
    <p>One of the most efficient ways to learn a given approach is through hands-on instruction from those skilled in its use; direct contact is also an excellent strategy for building intellectual community around new advances.</p>
    <br/>
    <p>As part of our strategy to achieve these goals, <strong>we are holding biannual Workshops in the use of Bioluminescent Tools, to provide accessible training to researchers at all levels.</strong> These workshops will blend lecture-format presentations and hands-on lab training to address all theoretical and practical knowledge needed to effectively work with these innovations. <strong>We will tailor the specific topics covered at each Workshop to the attendees’ goals, so please tell us what you would like to learn!</strong></p>
    <br/>
    <p>Most workshops will be held at Brown University but we plan to provide at least one at Central Michigan University and one at the Scintillon Institute in the coming years. </p>
    <br/>
    <p>Have an idea for a Workshop? <b><a class='bl-link' href='mailto:bioluminescencehub@gmail.com?subject=Bioluminescence%20Workshop'>Contact us!</a></b></p>
    <br/><br/>
    <div class='button-img'>
        <a href='/workshops/august-2018'>
            <img src='https://s3.amazonaws.com/bl-hub/workshops/workshop-button-min.jpg'/>
            <div class='button-img__overlay'></div>
        </a>
    </div>
</div>
