<div class='container' id='symposium-directions'>
    <h2 class='text-center'>Driving Directions to our Symposium</h2>

    <p><b>Address:</b></p>
    <br/>
    <p>Sidney Frank Hall for Life Sciences</p>
    <p>185 Meeting Street</p>
    <p>Providence, RI 02912</p>
    <br/>
    <p class='italics'>N.B., Parking on Providence city streets is strictly enforced; please note signs and be prepared for meters. Please note that some street parking is restricted to holders of Brown University parking permits.</p>
    <br/>
    <p><b>From the North:</b></p>
    <br/>
    <p>Take I-95S to Providence and take Exit 25 for RI-126/Smithfield Ave. Turn left off the exit ramp onto Smithfield Ave, then, at the second light, turn right onto North Main. Drive south for about 1 mile, then turn left at the light on to head up the hill on Olney Street. At the next light, turn right onto Hope Street, then keep right to continue onto Thayer Street.</p>
    <br/>
    <ul>
        <li>To look for parking north of campus, turn right on any of the first few side streets (Barnes, Keene, Lloyd).</li>
        <br/>
        <li>To continue toward Sidney Frank Hall, take your 5th right onto Meeting Street and arrive at 185 Meeting Street.</li>
        <br/>
        <li>If you come to a light that intersects with Angell Street, you have gone too far. Turn right onto Angell Street, then right on Brown Street and look for parking on side streets. To loop back around toward Sidney Frank Hall, turn right on Bowen Street, then right on Thayer Street, then right on Meeting Street and arrive at 185 Meeting Street.</li>
    </ul>
    <br/><br/>
    <p><b>From the South:</b></p>
    <br/>
    <p>Take I-95 North to Rhode Island and use Exit 22A toward Memorial Boulevard/Downtown Providence. Keep right to merge onto Memorial Boulevard. Turn left onto Waterman Street.</p>
    <br/>
    <ul>
        <li>To look for parking north of campus, turn left at the 3rd light onto Prospect Street and check side streets.</li>
        <br/>
        <li>To continue toward Sidney Frank Hall, turn left at the 5th light onto Brook Street. Take your second left onto Meeting Street and arrive at 185 Meeting Street.</li>
    </ul>
    <br/><br/>
    <p><b>From the East:</b></p>
    <br/>
    <p>Take I-195 West to Rhode Island, then Exit 3 in Providence toward Gano Street. Turn right off the ramp onto Gano Street, then, at the 3rd light, turn left onto Angell Street.</p>
    <br/>
    <ul>
        <li>To look for parking north of campus, continue straight across busy Thayer Street and turn right on Brown Street and look for parking on side streets. If you come to Prospect Street, you have gone too far; turn right on Prospect Street, then right on Meeting Street, then left on Brown Street. To loop back around toward Sidney Frank Hall, turn right on Bowen Street, then right on Thayer Street, then right on Meeting Street and arrive at 185 Meeting Street.</li>
        <br/>
        <li>To continue toward Sidney Frank Hall, take your 5th right onto Brook Street, then your second left onto Meeting Street and arrive at 185 Meeting Street.</li>
    </ul>
    <br/><br/>
    <p><b>From the West:</b></p>
    <br/>
    <p>Take I-90 East to Massachusetts Exit 10A for 146 South toward Providence, RI. Continue on 146 South for about 33 miles. In Providence, exit toward Rhode Island College/State Offices/Providence College. After exiting, turn left onto Admiral Street, then right onto Charles Street, bearing right to stay on Ashburton Street. At the next light, turn left onto Randall Street, then hard right onto North Main Street. At the next light, turn left to head up the hill on Olney Street. At the next light, turn right onto Hope Street, then keep right to continue onto Thayer Street. Take your 5th right onto Meeting Street and arrive at 185 Meeting Street. If you come to a light that intersects with Angell Street, you have gone too far. Turn right onto Angell Street, then right on Brown Street.</p>
    <br/>
    <ul>
        <li>To look for parking north of campus, stay north on Brown Street and check side streets.</li>
        <br/>
        <li>To loop back around toward Sidney Frank Hall, turn right on , then right on Thayer street, then right on Meeting Street and arrive at 185 Meeting Street.</li>
    </ul>
</div>
