<div class='container' id='symposium-learn-more'>
    <h2 class='text-center'>Symposium in Next Generation Technologies for Neuroscience:</h2>
    <h3 class='symposium-subheader text-center mbxl'>An exemplar for sharing innovative Neurotechnology tools and building collaborative connections</h3>
    <img src='https://s3.amazonaws.com/bl-hub/symposium+talks-min.jpg'/>
    <br/>
    <p>Our Symposium in Next Generation Technologies for Neuroscience at Brown University was a great success! We hope that all who attended learned as much as we did. We kicked off the event with an incredibly informative and interactive <a class='bl-link' href='#translation-panel'>Translation Panel</a>, <span class='italics'>Getting from Discovery to Broad Utility: Essential Contributors Outside the Basic Science Lab</span>, where representative panelists from the fields of industry, scientific societies, and scientific journals shared their expertise with the audience. A variety of topics were covered from best practices in data publication to what industry teams look for in a job candidate. The audience and the panelists then had the opportunity to free-form network. The Smith-Buonanno Hall Lobby was buzzing with excitement as we all had the chance to share our knowledge and make new, professional connections. Our first day concluded with an illuminating talk by Keynote speaker Dr. Steven Haddock of the Monterey Bay Aquarium Research Institute: <span class='italics'>Bringing Nature’s Palette into the Lab: The Diversity of Known & Unknown Bio-optical Markers.</span></p>
    <br/>
    <p>The second day of the Symposium was filled with a variety of talks given by a <a class='bl-link' href='#symposium-speakers'>breadth of innovative leaders</a> from research institutions that span the globe. Our speakers shared their expertise; the overarching theme was the development of novel tools that make use of  fluorescent and bioluminescent technologies for neural imaging and targeted cellular control. Additionally, our poster session served as an excellent forum for participants to present their data related to neurotechnological research pursuits.</p>
    <br/>
    <img src='https://s3.amazonaws.com/bl-hub/symposium+posters-min.jpg'/>
    <br/>
    <p>The symposium exemplified the emerging atmosphere of collaboration among members from a range of fields, all with the shared goal of developing innovative neuroscience technologies to solve a diversity of research puzzles associated with the brain. Our sincere thanks goes out to all who attended and contributed!</p>
    <br/>
    <!-- <p>Share:
        <img class='bl-logo bl-logo--twitter' src='https://s3.amazonaws.com/bl-hub/Twitter_Logo_Blue.svg'/>
        <img class='bl-logo bl-logo--fb' src='https://s3.amazonaws.com/bl-hub/fb-logo'/>
        <img class='bl-logo bl-logo--linked-in' src='https://s3.amazonaws.com/bl-hub/linked-in-logo.png'/>
    </p> -->
    <h3 id='translation-panel'>Translation Panel</h3>
    <h4><a class='bl-link' href='https://www.promega.com/'>Thomas Kirkland, Ph.D., Promega Corporation</a><h4>
    <p class='mts'>Tom received his PhD in Organic Chemistry from California Institute of Technology and completed a postdoctoral fellowship at the University of Texas in Austin. He is presently the head of chemistry research within the Advanced Technology Group, the Promega Corporation’s early research division, and his inventions include fluorescent dyes for a variety of applications, proluminescent substrates for real time analysis of epigenetic enzyme activity, and optimized HaloTag ligand chemistry for subcellular analysis.</p>
    <br/>
    <h4><a class='bl-link' href='http://neuroscience.brown.edu/LipscombeLab/homepage/home2.htm'>Diane Lipscombe, Ph.D.</a><h4>
    <p class='mts'>Diane completed her PhD in Pharmacology at the University College London, followed by postdoctoral training at Yale and Stanford. Diane studies the expression, regulation, and function of neuronal voltage-gated calcium ion channels, particularly their role in chronic pain and psychiatric disorders. She also studies ALS (Lou Gehrig’s Disease) including the impact of disease-causing mutations on motor neuron excitability. She is a Professor of Neuroscience and Director of the Carney Institute for Brain Science at Brown University, and will serve as President of the Society for Neuroscience in 2019.</p>
    <br/>
    <h4><a class='bl-link' href='http://www.prolume.com/'>Hendrik Schmidt, Ph.D., Prolume</a><h4>
    <p class='mts'>Hendrik pursued a Master’s degree on the mutagenesis of GFP from deep sea jellyfish, then a PhD in Biochemistry and Immunology working on T-cell signaling. He presently works in the Department for Innovation and Development at Prolume in Denver, Colorado.</p>
    <br/>
    <h4><a class='bl-link' href='https://www.cell.com/neuron/home'>Mariela Zirlinger, Ph.D., Neuron</a><h4>
    <p class='mts'>Mariela completed her PhD in Neurobiology at the California Institute of Technology and postdoctoral work at Harvard, training in mouse genetics, behavior, and molecular and developmental neurobiology. She has been an editor with Cell Press since 2011, first as a scientific editor and more recently as the Editor in Chief of <span class='italics'>Neuron</span>.</p>
    <br/>
    <br/>
    <h3 id='symposium-speakers'>Symposium Speakers</h3>
    <p><a class='bl-link' href='https://www.mbari.org/haddock-steven/'>Steven Haddock, Ph.D.</a></p>
    <p><a class='bl-link' href='https://www.cmich.edu/colleges/chsbs/Neuroscience/Bioluminescent-Optogenetics-Lab/Pages/default.aspx'>Ute Hochgeschwender, MD</a></p>
    <p><a class='bl-link' href='https://www.janelia.org/lab/lavis-lab'>Luke Lavis, Ph.D.</a></p>
    <p><a class='bl-link' href='http://millerchembio.com/'>Evan Miller, Ph.D.</a></p>
    <p><a class='bl-link' href='https://www.themoorelab.org/'>Christopher Moore, Ph.D.</a></p>
    <p><a class='bl-link' href='http://www.sanken.osaka-u.ac.jp/organization/thi/thi_07/'>Takeharu Nagai, Ph.D.</a></p>
    <p><a class='bl-link' href='https://www.chem.uci.edu/~jpresche/'>Jennifer Prescher, Ph.D.</a></p>
    <p><a class='bl-link' href='http://www.robinsonlab.com/'>Jacob Robinson, Ph.D.</a></p>
    <p><a class='bl-link' href='http://scintillon.org/Shaner.html'>Nathan Shaner, Ph.D.</a></p>
    <p><a class='bl-link' href='http://wickershamlab.org/'>Ian Wickersham, Ph.D.</a></p>

</div>
