<div class='container' id='symposium-poster-guidelines'>
    <h2>Poster Guidelines</h2>
    <p>Poster boards measure 8 feet (244cm) long and 4 feet (122cm) wide; the recommended maximum width is 45 inches (144cm). A photo of the boards can be found <a class='bl-link' href='https://www.brown.edu/about/administration/biomed/facilities-planning-operations/home/facilities-operations/poster-board-rentals'>here</a>.</p>
    <br/>
    <p>If you plan to bring a poster, please be sure to <a class='bl-link' href='/symposium/register'>register</a> so we can reserve a board for you.</p>

</div>
