<div id='register'>
    <h2 class='text-center'>Symposium Registration</h2>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdsDSPX-pklqWdcaXwzyoH3l9hRmfXsT4lY9uql2EVY_llU2g/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
