<div class='container' id='mbl-2018-testimonials'>
    <h2 class='text-center'>Testimonials from the 2018 Practicum</h2>
    <div class='testimonial'>
        <p class='mbl'>"The NeuroNex MBL Practicum taught me about the myriad research applications of bioluminescence by uniquely combining theory and practice. It's extraordinary how one (intensive) week can give you new friends and skills to change your trajectory for years to come."</p>
        <p class='mbl text-s text-right'>Ben Li, University of Michigan Ann Arbor</p>
    </div>
    <div class='testimonial'>
        <p class='mbl'>"I heard about the [NeuroNex] Practicum through a Neuroscience announcement and immediately knew that I needed to apply. I had been interested in bioluminescence since freshman year, but had yet to fully indulge in the topic in a formal, classroom setting. This program seemed like the perfect opportunity for me to explore this interest, and it absolutely exceeded my expectations. I loved every component - the lectures, the labs, the projects, the friendships, and the scientific exploration in general. Without a doubt, the MBL Practicum was my favorite week of college because I learned more, and made more positive memories, than I have during any other week in my undergraduate career. I am determined to incorporate bioluminescence into my post-undergraduate and PhD work, and I have a renewed passion for novel Neuroscientific pursuits."</p>
        <p class='mbl text-s text-right'>Camille Phaneuf, University of Michigan Ann Arbor</p>
    </div>
    <div class='testimonial'>
        <p class='mbl'>"This practicum was exactly what I needed to become re-excited about a career in science. I was feeling really beaten down by my coursework and research, and I felt like it had been a long time since I was sitting at the edge of my seat in lecture or lab. Thank you for such a wonderfully invigorating experience; I will cherish the lessons that I learned and friends that I made for years to come. Being exposed to this NeuroNex hub truly could not have come at a better time for me, and I am so very grateful."</p>
    </div>
    <div class='testimonial'>
        <p class='mbl'>"What a great experience! I had so much fun learning about bioluminescence and its applications to modern neuroscience research. It was also super fascinating learning from experts in many different fields of biology including marine biology, neuroscience, and bioluminescence-optogenetics. On top of that, it was great meeting students from other schools who are also interested in pursuing neuroscience research and careers in the medical field. Would highly recommend to anyone interested!"</p>
    </div>
    <div class='testimonial'>
        <p class='mbl'>"The [NeuroNex] Practicum was definitely one of the highlights of my year - I was exposed to an entirely new research field that has so many practical applications, learned so much from some of the most knowledgeable mentors I've ever met, and made some life-long friends along the way! I would recommend anyone to apply - it opens your eyes to real-world research and you make some amazing connections."</p>
    </div>
    <div class='testimonial'>
        <p class='mbl'>"This program forced me to get out of my comfort zone and think like a scientist. It taught me how to work with my peers and come up with great ideas in a short time! I did not know I had that ability and I felt really proud of myself towards the end of this program." </p>
    </div>
    <div>
        <p class='mbl mlxl mrxl'><a href='/mbl/apply' class='bl-link'>Applications</a> for the 2019 iteration of the NeuroNex Undergraduate Practicum open October 1st, 2018; we hope to see you in Woods Hole!</p>
    </div>
</div>
