<div class='container' id='mbl-2019-practicum'>
    <h2 class='text-center'>2019 NeuroNex Undergraduate Practicum</h2>
    <br/>
    <img src='https://s3.amazonaws.com/bl-hub/mbl-2019/MBL-synopsis/group-2019-min.jpg'/>
    <br/>
    <p>Our second annual Undergraduate Practicum in Bioluminescence held at the Marine Biological Laboratory (MBL) in beautiful Woods Hole, Massachusetts, was a huge success!</p>
    <br/>
    <p>In late March 2019, our NeuroNex Technology Hub hosted 13 undergraduates from colleges and universities across the United States and Canada: Amherst College, Brown University, Coastal Carolina University, Iowa State University, Mercer University, Northern Michigan University, Oregon State University, Pomona College, San Francisco State University, University of Alberta, Canada, University of California Irvine, University of Central Florida, and the University of New Hampshire.
</p>
    <br/>
    <p>Students attended morning lectures on the biology, chemistry and physics of bioluminescence and fluorescence, learned about lamprey as a model organism, and were introduced to the molecular engineering that allows the component molecules of bioluminescent chemical reactions to be expressed in cell and mouse models.
</p>
    <br/>
    <img src='https://s3.amazonaws.com/bl-hub/mbl-2019/MBL-synopsis/library1-min.jpg'/>
    <br/>
    <p>Each day featured a tour of the facilities that make Woods Hole a special place for scientific research. Librarian Matthew Person guided us through the Rare Books Room at the library shared by the MBL and the Woods Hole Oceanographic Institution (WHOI) where our students held Thomas Hunt Morgan’s Nobel Prize medal and turned the pages of a 6th Edition <i>Origin of Species</i> gifted from Charles Darwin to Alpheus Hyatt, first President of the MBL.</p>
    <br/>
    <img src='https://s3.amazonaws.com/bl-hub/mbl-2019/MBL-synopsis/MRC-min.jpg'/>
    <br/>
    <p>Scott Bennett, Marine Research Services & Outreach Coordinator, taught us about the Marine Resources Center, its animal residents, and MBL research and education programs that it supports.</p>
    <br/>
    <img src='https://s3.amazonaws.com/bl-hub/mbl-2019/MBL-synopsis/WHOI-min.jpg'/>
    <br/>
    <p>We visited the WHOI Ocean Science Discovery Center and learned about deep sea exploration and the submersibles and research vessels used to research the open ocean and its depths.</p>
    <br/>
    <img src='https://s3.amazonaws.com/bl-hub/mbl-2019/MBL-synopsis/NOAA-aquarium-min.jpg'/>
    <br/>
    <p>We also enjoyed the National Oceanic and Atmospheric Administration’s Aquarium and viewed specimens from the cold (north shore) and warm (south shore; seasonal) waters around Cape Cod.</p>
    <br/>
    <img src='https://s3.amazonaws.com/bl-hub/mbl-2019/MBL-synopsis/2019-lab-composite-min.jpg'/>
    <br/>
    <p>Afternoons were spent in the lab and students had the opportunity to experiment with naturally bioluminescent animals, work with fluorescent proteins, and, in collaboration with MBL Scientist Dr. Jen Morgan’s lab, examine lamprey using microscopes.</p>
    <br/>
    <img src='https://s3.amazonaws.com/bl-hub/mbl-2019/MBL-synopsis/Waterfront-min.jpg'/>
    <br/>
    <p>The week concluded with a technology venture proposal competition where groups of students presented proposals for new products and applications of bioluminescence to earn their peers’ votes.</p>
    <br/>
    <img src='https://s3.amazonaws.com/bl-hub/mbl-2019/MBL-synopsis/waterfront2-min.jpg'/>
    <br/>
    <p>Want to join us in 2020? Applications for the next NeuroNex Undergraduate Practicum open on October 1, 2019! Visit us at bioluminescencehub.org, and follow us on Twitter and Instagram @biolumhub.</p>
</div>
