<div class='container' id='mbl-2018-schedule'>
    <h2 class='text-center'>2019 NeuroNex Undergraduate Practicum Schedule</h2>
    <div style='width:30%;'>
        <img class='float-left prl mbl' src='https://bl-hub.s3.amazonaws.com/mbl-2019/Walking+to+Nobska-min.jpg' />
        <img class='float-left prl mbl' src=' https://bl-hub.s3.amazonaws.com/mbl-2019/Enzyme+column-min.jpg' />
        <img class='float-left prl mbl' src='https://bl-hub.s3.amazonaws.com/mbl-2019/Tamar+at+Microscope-min.jpg' />
    </div>
    <table class="tg">
      <tr class='mbl__header'>
        <td class="tg-yw4l" colspan="2">March 24, 2019</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-ey81">3:30pm</td>
        <td class="tg-7uzy">Arrive in Woods Hole</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-us36">4pm<br/></td>
        <td class="tg-yw4l">Walk to Nobska Lighthouse (optional)</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">5:30pm</td>
        <td class="tg-7uzy">Dinner</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">7pm</td>
        <td class="tg-yw4l">Welcoming remarks; technology venture teams drawn</td>
      </tr>
      <tr class='mbl__header'>
        <td class="tg-7uzy mbl__header" colspan="2">March 25, 2019</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">7:30am</td>
        <td class="tg-yw4l">Breakfast</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">9am</td>
        <td class="tg-7uzy">Lecture: Bioluminescence in Marine Animals<br/>Justine J. Allen, PhD</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">10am</td>
        <td class="tg-yw4l">Lecture: Calcium &mdash; Not Too Little and Not Too Much<br/>Diane Lipscombe, PhD</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">11am</td>
        <td class="tg-7uzy">Lecture: Lamprey as a Model System<br/>Jennifer Morgan, PhD</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">12pm</td>
        <td class="tg-yw4l">Lunch</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">1pm</td>
        <td class="tg-7uzy">Tour of the MBL Rare Books Collection and Nobel Prizes</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">2:30pm</td>
        <td class="tg-yw4l">Lab</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">5:30pm</td>
        <td class="tg-7uzy">Dinner</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">7pm</td>
        <td class="tg-yw4l">Work on technology venture proposal; marine biology video (optional)</td>
      </tr>
      <tr class='mbl__header'>
        <td class="tg-yw4l" colspan="2">March 26, 2019</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">7:30am</td>
        <td class="tg-7uzy">Breakfast</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">9am</td>
        <td class="tg-yw4l">How Do We Get From Shrimps to Brains?<br/>Ute Hochgeschwender, MD</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">10am</td>
          <td class="tg-7uzy">Lecture: BL-OG <span class='italics'>in vivo</span><br/>Jeremy Murphy, PhD</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">11am</td>
        <td class="tg-yw4l">Lecture: Science Communication in Contemporary STEM<br/>Krystal Literman, MS</td>
      </tr>
        <tr class='mbl__row'>
        <td class="tg-7uzy">12pm</td>
        <td class="tg-7uzy">Lunch</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">1pm</td>
        <td class="tg-yw4l">Tour of the MBL Marine Resources Center</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">2:30pm</td>
        <td class="tg-7uzy">Lab</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">5:30pm</td>
        <td class="tg-yw4l">Dinner</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">7pm</td>
        <td class="tg-7uzy">Work on technology venture proposal; marine biology video (optional)</td>
      </tr>
      <tr class='mbl__header'>
        <td class="tg-7uzy" colspan="2">March 27, 2019</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">7:30am</td>
        <td class="tg-yw4l">Breakfast</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">9am</td>
        <td class="tg-7uzy">Lecture: Fluorescence and Bioluminescence: Basics and Chemistry<br/>Nathan Shaner, PhD</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">10:30am</td>
        <td class="tg-yw4l">Lecture: Bioluminescence in Neuroscience Research<br/>Christopher I. Moore, PhD</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">12pm</td>
        <td class="tg-7uzy">Lunch</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">1pm</td>
        <td class="tg-yw4l">WHOI Ocean Science Discovery Center &amp; Gift Shop</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">2pm</td>
        <td class="tg-7uzy">MBL Gift Shop</td>
      </tr>
        <tr class='mbl__row'>
        <td class="tg-yw4l">2:30pm</td>
        <td class="tg-yw4l">Lab</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">5:30pm</td>
        <td class="tg-7uzy">Dinner</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">7pm</td>
        <td class="tg-yw4l">Work on technology venture proposal; marine biology video (optional)</td>
      </tr>
      <tr class='mbl__header'>
        <td class="tg-yw4l" colspan="2">March 28, 2019</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">7:30am</td>
        <td class="tg-7uzy">Breakfast</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">9am </td>
        <td class="tg-yw4l">Lecture: The Physics of Energy Transfer and Bioluminescent Light Production<br/>Nathan Shaner, PhD</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">10:30am</td>
        <td class="tg-7uzy">Lecture: The Glow Up: Bioluminescent Tools for Cellular Control<br/>Emmanuel Crespo</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">12pm</td>
        <td class="tg-yw4l">Lunch</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">1pm</td>
        <td class="tg-7uzy">NOAA Aquarium (optional)</td>
      </tr>
        <tr class='mbl__row'>
        <td class="tg-yw4l">2:30pm</td>
        <td class="tg-yw4l">Lab</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">5:30pm</td>
        <td class="tg-7uzy">Dinner</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">7pm </td>
        <td class="tg-yw4l">Technology venture presentations</td>
      </tr>
      <tr class='mbl__header'>
        <td class="tg-yw4l" colspan="2">March 29, 2019</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">7:30am</td>
        <td class="tg-7uzy">Breakfast</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-yw4l">9am</td>
        <td class="tg-yw4l">Pack up and check out&semi; pick up bagged lunch&semi; group photo</td>
      </tr>
      <tr class='mbl__row'>
        <td class="tg-7uzy">10:30am</td>
        <td class="tg-7uzy">Depart Woods Hole</td>
      </tr>
    </table>

</div>
