<div class='container' id='research-emissaries'>
    <h2 class='text-center'>Emissaries</h2>
    <p>One of the most efficient ways to learn a given approach is through hands-on instruction from those skilled in its use; direct contact is also an excellent strategy for building intellectual community around new advances.</p>
    <br/>
    <p>As a part of our mission to apply Open Science to our Hub, we have allocated some of our resources to providing Emissaries in Bioluminescence Methods. <b>With their travel supported by NeuroNex, we will send Emissaries to your lab, and/or we will sponsor a member of your team to visit to one of our three lab locations.</b> Our Emissaries include technicians, graduate students, and postdoctoral researchers who have honed their skills in particular bioluminescent tool applications. </p>
    <br/>
    <p>If you have interest in applying these tools to your research, or you are encountering obstacles as you apply bioluminescent tools, we welcome you to <a class='bl-link' href='mailto:bioluminescencehub@gmail.com?subject=Emissary%20Request'>request an emissary.</a></p>
    <br/>
    <p><b>Questions?</b> <a class='bl-link' href='mailto:bioluminescencehub@gmail.com?subject=Emissaries'>Contact us!</a></p>
    <br/><br/>
    <div class='button-img'>
        <a href='/research/akash-loyola'>
            <img src='https://s3.amazonaws.com/bl-hub/emissaries/Emissary+button-min.jpg'/>
            <div class='button-img__overlay'></div>
        </a>
    </div>
</div>
