<div class='container' id='research-emissaries'>
    <h2>Emissaries</h2>
    <p>One of the most efficient ways to learn a given approach is through hands-on instruction from those skilled in its use; direct contact is also an excellent strategy for building intellectual community around new advances.</p>
    <br/>
    <p>As a part of our mission to apply Open Science to our Hub, we have allocated some of our resources to providing Emissaries in Bioluminescence Methods. With their travel supported by NeuroNex, we will send Emissaries to your lab, and/or we will sponsor a member of your team to visit to one of our three lab locations. Our Emissaries include technicians, graduate students, and postdoctoral researchers who have honed their skills in particular bioluminescent tool applications. </p>
    <br/>
    <p>If you have interest in applying these tools to your research, or you are encountering obstacles as you apply bioluminescent tools, we welcome you to request an emissary.  </p>
    <br/>
    <p><b>Questions?</b> <a class='bl-link' href='mailto:neuronex1@gmail.com?subject=Emissaries'>Contact us!</a></p>
</div>
