<div class='container' id='research-workshops'>
    <h2>Workshops</h2>
    <p>One of the most efficient ways to learn a given approach is through hands-on instruction from those skilled in its use; direct contact is also an excellent strategy for building intellectual community around new advances.</p>
    <br/>
    <p>As part of our strategy to achieve these goals, <strong>we are holding biannual Workshops in the use of Bioluminescent Tools, to provide accessible training to researchers at all levels.</strong> These workshops will blend lecture-format presentations and hands-on lab training to address all theoretical and practical knowledge needed to effectively work with these innovations. <strong>We will tailor the specific topics covered at each Workshop to the attendees’ goals, so please tell us what you would like to learn!</strong></p>
    <br/>
    <p>Most workshops will be held at Brown University but we plan to provide at least one at Central Michigan University and one at the Scintillon Institute in the coming years. </p>
    <br/>
    <p>The inaugural workshop will be held August 6, 2018 at Brown University in Providence, RI.  Please <b><a class='bl-link' href='mailto:neuronex1@gmail.com?subject=Bioluminescence%20Workshop'>contact us</a></b> if you would like to attend.</p>
    <br/><br/>
    <div style='background:lightgray;padding:15px;'>
        <img src='https://s3.amazonaws.com/bl-hub/bl-workshop-min.jpg'/>
    </div>
</div>
