<div class='container' id='interviews'>

<!--change URL from BDR from "studio/item" to "viewers/stream" -->
<!--start a new css file to get the video formatting right (just copy-paste from JTC-cold-light or this interviews CSS) -->

<h2 class='text-center'>Interviews with Experts</h2>

<p>Beginning in the spring and extending through the summer of 2021, we are taking advantage of web-based videoconferencing to interview senior researchers who study various aspects of  bioluminescence, fluorescence, and optogenetics.</p>
<br>
<p>We have asked these world experts about their career paths, their favorite discoveries, challenging moments, the attributes of their ideal environment, and more.</p>
<br>
<p>In a format made possible by technology and a culture shift, these interviews provide valuable insight for undergraduates considering graduate school and a career in research.</p>
<br>
<p>Follow us on <a class='bl-link' target='_blank' href='https://twitter.com/biolumhub'>Twitter</a> and <a class='bl-link' target='_blank' href=https://www.instagram.com/biolumhub/>Instagram</a> to be notified when our next interview is available!
<br>
<br>
<a id="Colecraft">
    <div class='bl-iframe__video'><iframe src='https://repository.library.brown.edu/viewers/stream/bdr:eefr6skt/'></iframe>
    </div>
<br>
    <p>On May 6, 2021, we hosted <a class='bl-link' target='_blank' href='https://www.physiology.columbia.edu/colecraft.html'>Henry M. Colecraft, PhD</a>, the John C. Dalton Professor of Physiology and Cellular Biophysics, and Professor of Pharmacology at Columbia University Medical Center. Listen in to learn Dr. Colecraft's thoughts on what event truly triggers the start of an interesting project and the conditions under which he gets his best ideas.</p>
<br>
<br>
<a id="Haddock">
    <div class='bl-iframe__video'><iframe src='https://repository.library.brown.edu/viewers/stream/bdr:23yje4k9/'></iframe>
    </div>
<br>
    <p>On May 20, 2021, we were joined by <a class='bl-link' target='_blank' href='https://www.mbari.org/haddock-steven/'>Steven Haddock, PhD</a>, Senior Scientist/Marine Biologist at the Monterey Bay Aquarium Research Institute. Listen to our interview to hear about Dr. Haddock's blue water diving adventures and the bioluminescent and fluorescent discoveries that have (so far!) surprised him the most.</p>
<br>
<br>
<a id="Herlitze">
    <div class='bl-iframe__video'><iframe src='https://repository.library.brown.edu/viewers/stream/bdr:nwpsrhtw/'></iframe>
    </div>
<br>
    <p>On June 3, 2021, <a class='bl-link' target='_blank' href='https://www.ruhr-uni-bochum.de/neurobiol/index.html.en'> Professor Stefan Herlitze, PhD</a> from the Research Department of Neuroscience at Ruhr-Universität Bochum, Germany called us from the Alps to tell us, among many things, about his journeys to Egypt and Indonesia to study <a class='bl-link' target='_blank' href='https://doi.org/10.1371/journal.pone.0198765'> bioluminescence in the flashlight fish</a>.</p>
<br>
<br>
<a id="Prescher">
    <div class='bl-iframe__video'><iframe src='https://repository.library.brown.edu/viewers/stream/bdr:4f23ydub/'></iframe>
    </div>
<br>
    <p>On June 10, 2021, our hot seat was occupied by <a class='bl-link' target='_blank' href='https://www.chem.uci.edu/~jpresche/'>Jennifer Prescher, PhD</a>, Professor of Chemistry, Molecular Biology and Biochemistry and Pharmaceutical Sciences at the University of California, Irvine. Listen in to hear Dr. Prescher explain why "The worst type of experiment is an inconclusive one; a failed experiment still tells you something" and have her persuade you that "Creativity... is a skill; it can be learned."</p>
<br>
<br>
<a id="Hegemann">
    <div class='bl-iframe__video'><iframe src='https://repository.library.brown.edu/viewers/stream/bdr:8s8ypt6w/'></iframe>
    </div>
<br>
    <p>On July 15, 2021, we interviewed <a class='bl-link' target='_blank' href='https://www.biologie.hu-berlin.de/de/gruppenseiten/expbp/members-1/prof.-hegemann-peter'>Peter Hegemann, PhD</a>, Professor and Head of the Department for Biophysics at Humboldt Universität zu Berlin, Germany. Prof. Hegemann told us about his co-discovery of channelrhodopsin and how his research led to the invention of optogenetic techniques.</p>
<br>
<br>
</div>
