<div class='container' id='lectures'>

<!--change URL from BDR from "studio/item" to "viewers/stream" -->
<!--start a new css file to get the video formatting right (just copy-paste from JTC-cold-light or this interviews CSS) -->
<!--one br between video and summary, two between videos -->

<h2 class='text-center'>Practicum Lectures</h2>
<p>We created this series of six lectures to introduce learners at the advanced undergraduate level to bioluminesence, fluorescence, optogenetics, and calcium. We describe the unique properties of each and how these features can be used to create molecular constructs that are useful tools for imaging and studying brain function. To learn more, read our introductions to <a class='bl-link' target='_blank' href='/bioluminescence_intro'> bioluminescence</a>, <a class='bl-link' target='_blank' href='/optogenetics_intro'>optogenetics</a>, and <a class='bl-link' target='_blank' href='/what-is-BL-OG'>BL-OG</a>. Questions? <a <a class='bl-link' href='mailto:bioluminescencehub@gmail.com?subject=Lecutres'>Send us an email</a> or contact us on <a class='bl-link' target='_blank' href='https://twitter.com/biolumhub'>Twitter</a> or <a class='bl-link' target='_blank' href=https://www.instagram.com/biolumhub/>Instagram</a>.</p>
<br>
<br>
<div class='bl-iframe__video'><iframe src='https://repository.library.brown.edu/viewers/stream/bdr:1167673/'></iframe>
</div>
<br>
  <p>This lecture introduces undergraduate students to the behavior and rapid attenuation of light when it interacts with the ocean and to some of the adaptations of the deep ocean's peculiar denizens. The lecture persuades students that biolumiescence is common in the ocean and exists among diverse life forms. Bioluminescece is used for a variety of life processes that can be broadly classified as defense/camouflage, predation, and communication/propagation.</p>
<br>
<br>

<div class='bl-iframe__video'><iframe src='https://repository.library.brown.edu/viewers/stream/bdr:1169212/'></iframe>
</div>
<br>
  <p>This lecture introduces undergraduate students to the chemistry of bioluminescence and fluorescence. The lecture explains how new fluorescent proteins are discovered, whether in nature or in the laboratory, and how they are modified and improved for a variety of uses including cell-specific imaging.</p>
<br>
<br>
<div class='bl-iframe__video'><iframe src='https://repository.library.brown.edu/viewers/stream/bdr:1169225/'></iframe>
</div>
<br>
  <p>This lecture introduces undergraduate students to genetic engineering, the creation of molecular constructs, laboratory techniques for <i>in vitro</i> study and viral transduction for <i>in vivo</i> study. The lecture focuses on the creation and utility of BioLuminescent-OptoGenetic (BL-OG) molecular constructs, particularly <a class='bl-link' target='_blank' href='/LMO3'>LMO3</a>.</p>
<br>
<br>
<div class='bl-iframe__video'><iframe src='https://repository.library.brown.edu/viewers/stream/bdr:1170548/'></iframe>
</div>
<br>
  <p>This lecture introduces undergraduate students to the advantages of bioluminescence as an optical reporter of a chemical reaction and its use with optogenetics (BL-OG) for neuroscience research applications. Examples of the uses of BL-OG for brain control and imaging, including its advantages over fluorescence, are discussed.</p>
<br>
<br>
<div class='bl-iframe__video'><iframe src='https://repository.library.brown.edu/viewers/stream/bdr:8pjntyf5/'></iframe>
</div>
<br>
  <p>This lecture introduces undergraduate students to calcium as a ubiquitous second messenger and a proxy for cellular activity. Students learn why calcium is unique, where it is stored extracellularly and intracellularly, and the importance of voltage-gated calcium channels to action potentials and neuronal signaling.</p>
<br>
<br>
<div class='bl-iframe__video'><iframe src='https://repository.library.brown.edu/viewers/stream/bdr:56u8rvus/'></iframe>
</div>
<br>
  <p>This lecture introduces students to the quantification of "brightness," ways to quantify and compare bioluminescent and fluorescent proteins, and the factors that influence Förster Resonance Energy Transfer (FRET) between nearby proteins.</p>
</div>
