<div class='container' id='lectures'>

<!--change URL from BDR from "studio/item" to "viewers/stream" -->
<!--start a new css file to get the video formatting right (just copy-paste from JTC-cold-light or this interviews CSS) -->

<h2 class='text-center'>Practicum Lectures</h2>



</div>
