<div class='container' id='2021-virtual-practicum'>
    <h2 class='text-center'>2021 Virtual NeuroNex Undergraduate Practicum</h2>
    <br/>
    <img src='https://bl-hub.s3.amazonaws.com/practicum/Class+collage_cropped-min.jpg'/>
    <br/>

<p>Our first Virtual Practicum in Bioluminescence was held from late February to early April 2021 and we were honored to host 16 students from colleges and universities across the United States and Spain: Boston University, Carleton College, College of William & Mary, Hunter College, Michigan State University, New York University, Northeastern University, Universidad CEU San Pablo, Madrid, University of California, Los Angeles, University of Colorado Boulder, University of Kentucky, University of Nevada, Las Vegas, University of Oklahoma, University of Puerto Rico, Cayey, University of Puerto Rico, Río Piedras, and the University of Rochester.</p>
<br>
<div class='clearfix'>
  <div>
    <center>
  <video width="250" height="450" controls><source src="https://bl-hub.s3.amazonaws.com/practicum/Sea_Fireflies.m4v" type='video/mp4'></video>
  <video class='mll' width="250" height="450" controls><source src="https://bl-hub.s3.amazonaws.com/practicum/GCastillo_UV+hunt.mp4" type='video/mp4'> </video>
    </center>
    </div>
</div>
<p class='text-xs italics credit-text text-center'>Left: Crushed, dried ostracods release bioluminescent light when water is added. Video courtesy of Krystal Literman.</p>
<p class='text-xs italics credit-text text-center'>Right: Copper sulfate emits fuchsia fluorescence under UV light. Video courtesy of Gema Castillo-García.</p>
<br>

<p>Participants learned about the physics and chemistry involved in fluorescence and bioluminescence, bioluminescent optogenetics, and bioluminescence in neuroscience research. Although our group was distributed across time zones, we were able to interact and collaborate virtually. Individuals were willing to adjust their personal schedules when possible, lectures were pre-recorded and distributed online, we offered discussions on a variety of weekdays and times, and all live sessions were recorded and provided to the group for later viewing.</p>
<br>
<p>Our hands-on activities and demonstrations are a powerful way to communicate the principles of bioluminescence and fluorescence, and we were determined to provide these resources even if we weren’t able to meet in person. Students were sent a UV light and instructions for our <a class='bl-link' target='_blank' href='https://repository.library.brown.edu/studio/item/bdr:880615/PDF/'>UV light activity</a>, <a class='bl-link' target='_blank' href='https://www.carolina.com/algae/bioluminescent-dinoflagellates-living/153305.pr'>living dinoflagellates</a> and instructions for our <a class='bl-link' target='_blank' href='https://repository.library.brown.edu/studio/item/bdr:919150/PDF/'>dinoflagellates activity</a>, <a class='bl-link' target='_blank' href='https://www.carolina.com/cellular-physiology-enzymes/sea-firefly-cypridina-hilgendorfii/FAM_203430.pr'>dried ostracods</a>, and <a class='bl-link' target='_blank' href='https://www.the-odin.com/colorbacteria/'>a kit to insert GFP into <i>E. coli</i></a>.</p>
<br>
  <img class='' src='https://bl-hub.s3.amazonaws.com/practicum/Ecoli_plates-min.jpg'>
  <p class='text-xs italics credit-text'>Students practiced inserting GFP into bacterial colonies. Photos courtesy of Brazil Bartholomew and Gema Castillo-García.</p>
<br>
<p>After participating in lectures and discussion sections, the students were met with the challenge of our Shark Tank competition. It was as fierce and popular as ever, and the students impressed us with their thoughtful, well-researched pitches.</p>
<br>
<p>Whether near or far, our team has an absolute blast meeting and working with our Practicum students!</p>
<br>
<p>Interested in joining us for a future Practicum? Email <a class='bl-link' href="mailto:bioluminescencehub@gmail.com?subject=Practicum">bioluminescencehub@gmail.com</a> for more information and follow us on <a class='bl-link' href='https://twitter.com/biolumhub' target='_blank'>Twitter</a> and <a class='bl-link' href='https://instagram.com/biolumhub' target='_blank'>Instagram</a> for updates.</p>
</div>
