
<div class='container' id='virtual-practicum-FAQs'>
<h2 class='text-center'>NeuroNex Undergraduate Virtual Practicum FAQs</h2>
<br/>

<a href='#What is the estimated time commitment?' class='bl-link'><b>What is the estimated time commitment?</b></a>
<p><a href='#Do I have to pay to participate?' class='bl-link'><b>Do I have to pay to participate?</b></a></p>
<p><a href='#What is the Shark Tank project?' class='bl-link'><b>What is the Shark Tank project?</b></a></p>
<p><a href='#Can I forward this application to other students who might be interested?' class='bl-link'><b>Can I forward this application to other students who might be interested?</b></a></p>
<p><a href='#Will the Virtual Practicum be entirely remote (via Zoom)? Will there be an in-person component?' class='bl-link'><b>Will the Virtual Practicum be entirely remote (via Zoom)? Will there be an in-person component?</b></a></p>
<p><a href='#Do I need to ask for a letter of recommendation?' class='bl-link'><b>Do I need to ask for a letter of recommendation?</b></a></p>
<br>
<br>


<a id='What is the estimated time commitment?'><b>What is the estimated time commitment?</b></a>
<p><u>Part 1:</u> mid Feb-late March
<p>Before our first session, we will distribute ~5 papers to support your background knowledge. Reading these will certainly help you understand the content presented in the lectures, but we will not quiz you on specfic experiments presented in the papers. The amount of time spent on background reading varies by student.</p>
<br>
<p>The first meeting will be live, and will take about 1.5 hours. During this meeting, we will welcome all participants, provide an overview of the Practicum, and assign teams for the Shark Tank project.</p>
<br>
<p>We expect the lectures to be about 45 minutes to 1 hour in duration. There will be 5 lectures and they will be pre-recorded so they can be watched at your convenience. We plan to have a discussion section with each lecture too, which will probably be ~30mins or maybe up to an hour at the discretion of the instructor if students are interested. The plan is that these sessions will include information about the instructor's career path and research.</p>
<br>
<p>There will be at least three and maybe four hands-on activities; these will probably take about 15 minutes each and can be completed at your convenience.</p>
<br>
<p>The final Shark Tank presentation will be live and will probably take about two hours. Group work to prepare for this project varies, but might be an hour or so per week.</p>
<br>
<p>Note that these are my (Justine's) best guesses and are absolutely <i>not</i> intended to be interpreted as requirements for time spent. It might take you more or less time to work through the content, and that is 100% OK. As with many things, your learning and understanding will most likely be proportional to the effort and attention you invest.<p>
<br>
<br>
<p><u>Part 2:</u> April-August</p>
<p>We anticipate 5 interviews lasting ~1h each, at a frequency of about 1 per month.</p>
<br>
<p><u>Bottom line:</u> Part 1 will take about 3 hours per week, plus about 1.5-2 hours at the beginning and end for the intro session and Shark Tank. Part 2 will take 1 hour per month.</p>
<br>
<br>
<br>
<a id='Do I have to pay to participate?'><b>Do I have to pay to participate?</b><a>
<p>No, there is no cost to admitted students. This program is supported by our National Science Foundation cooperative agreement: NeuroNex 1707352.</p>
<br>
<br>
<br>
<a id='What is the Shark Tank project?'><b>What is the Shark Tank project?</b>
<p>Our Shark Tank activity is a group project to create a product, service, method, etc. using bioluminescence (and/or fluorescence, optogenetics...). Students learn which group they're in on the first day of the Practicum, and work with their group (with some ad hoc guidance from faculty and TAs) to prepare for a pitch on the last day. After hearing all pitches, all participants vote for their favorite (can't vote for your own team; faculty and TAs get 2 votes to distribute as they see fit) and the group with the most votes gets a prize.</p>
<br>
<br>
<br>
<a id='Can I forward this application to other students who might be interested?'><b>Can I forward this application to other students who might be interested?</b>
<p>We're not actively recruiting for our Virtual Practicum because we expect it will be full with students admitted to the canceled 2020 in-person Practicum, our BLbase interns, and successful applicants who expressed interest in the Practicum in Fall 2020. When recruitment begins for our 2022 Practicum (October 2021), we would really appreciate your help spreading the word. Justine will be in touch with details next fall.</p>
<br>
<br>
<br>
<a id='Will the Virtual Practicum be entirely remote (via Zoom)? Will there be an in-person component?'><b>Will the Virtual Practicum be entirely remote (via Zoom)? Will there be an in-person component?</b>
<p>Yes, our Virtual Practicum will be entirely remote, conducted via Zoom. Program staff will distribute Zoom links for the intro session, lectures and discussions, and Shark Tank as needed. Students are responsible for coordinating within their Shark Tank groups, but program staff will assist where possible. Course materials will be mailed to the address provided by students at start of the Practicum. At the time of this writing (January 2021), Brown University is not allowing visitors to campus for in-person programs.</p>
<br>
<br>
<br>
<a id='Do I need to ask for a letter of recommendation?'><b>Do I need to ask for a letter of recommendation?</b>
<p>We ask applicants for contact information only, not letters, for three references in case we need to reach out for more information about a candidate.</p>
<br>
<br>
<br>
<p><i>Last updated: January 21, 2021.</i><p>



</div>
