
<div class='container' id='virtual-practicum-FAQs'>
<h2 class='text-center'>NeuroNex Undergraduate Virtual Practicum FAQs</h2>
<br/>

<h3>General Information</h3>
<p><a href='#Do I have to pay to participate?' class='bl-link'><b>Do I have to pay to participate?</b></a></p>
<p><a href='#Graduates' class='bl-link'><b>My application was accepted for the 2020 iteration but I have since graduated. Am I still eligible to participate?</b></a></p>
<br>
<h3>Application</h3>
<p><a href='#Can I forward this application to other students who might be interested?' class='bl-link'><b>Can I forward this application to other students who might be interested?</b></a></p>
<p><a href='#Do I need to ask for a letter of recommendation?' class='bl-link'><b>Do I need to ask for a letter of recommendation?</b></a></p>
<br>
<h3>Practicum Schedule</h3>
<p><a href='#Will the Virtual Practicum be entirely remote (via Zoom)? Will there be an in-person component?' class='bl-link'><b>Will the Virtual Practicum be entirely remote (via Zoom)? Will there be an in-person component?</b></a></p>
<p><a href='#I have other commitments during the weekends; will these conflict with the Practicum?' class='bl-link'><b>I have other commitments during the weekends; will these conflict with the Practicum?</b></a></p>
<p><a href='#What is the estimated time commitment?' class='bl-link'><b>What is the estimated time commitment?</b></a></p>
<p><a href='#Prep for Part 1' class='bl-link'><b>Will we receive instructions for how to prepare for Part 1 of the Practicum?</b></a></p>
<p><a href='#Schedule' class='bl-link'><b>What is the schedule for Part 1 (February to March)?</b></a></p>
<br>
<h3>Practicum Content</h3>
<p><a href='#What is the Shark Tank project?' class='bl-link'><b>What is the Shark Tank project?</b></a></p>
<p><a href='#Readings' class='bl-link'><b>Will there be a pre-Practicum reading assignment?</b></a></p>
<p><a href='#Mailed Supplies' class='bl-link'><b>What kinds of materials will be mailed to us?</b></a></p>
<br>
<br>

<a id='Do I have to pay to participate?'><b>Do I have to pay to participate?</b><a>
<p>No, there is no cost to admitted students. This program is supported by our National Science Foundation cooperative agreement: <a href='https://nsf.gov/awardsearch/showAward?AWD_ID=1707352' target='_blank' class='bl-link'>NeuroNex 1707352</a>.</p>
<br>
<br>
<br>
<a id='Graduates' class='bl-link'><b>My application was accepted for the 2020 iteration but I have since graduated. Am I still eligible to participate?</b></a></p>
<p>Yes!</p>
<br>
<br>
<br>
<a id='Can I forward this application to other students who might be interested?'><b>Can I forward this application to other students who might be interested?</b>
<p>We're not actively recruiting for our Virtual Practicum because we expect it will be full with students admitted to the canceled 2020 in-person Practicum, our BLbase interns, and successful applicants who expressed interest in the Practicum in Fall 2020. When recruitment begins for our 2022 Practicum (October 2021), we would really appreciate your help spreading the word. Justine will be in touch with details next fall.</p>
<br>
<br>
<br>
<a id='Do I need to ask for a letter of recommendation?'><b>Do I need to ask for a letter of recommendation?</b>
<p>We ask applicants for contact information only, not letters, for three references in case we need to reach out for more information about a candidate.</p>
<br>
<br>
<br>
<a id='Will the Virtual Practicum be entirely remote (via Zoom)? Will there be an in-person component?'><b>Will the Virtual Practicum be entirely remote (via Zoom)? Will there be an in-person component?</b>
<p>Yes, our Virtual Practicum will be entirely remote, conducted via Zoom. Program staff will distribute Zoom links for the intro session, lectures and discussions, and Shark Tank as needed. Students are responsible for coordinating within their Shark Tank groups, but program staff will assist where possible. Course materials will be mailed to the address provided by students at start of the Practicum. At the time of this writing (January 2021), Brown University is not allowing visitors to campus for in-person programs.</p>
<br>
<br>
<br>
<a id='I have other commitments during the weekends; will these conflict with the Practicum?'><b>I have other commitments during the weekends; will these conflict with the Practicum?</b>
<p>We are still working on the final schedule and I am very much hoping to avoid having meetings on the weekend (we might be forced to, though, to accommodate as many students as possible for the live sessions). The short answer is no, I don't think this will be a problem, and even if it is, we will do our best to make sure everyone is able to participate as much as possible.</p>
<br>
<br>
<br>
<a id='What is the estimated time commitment?'><b>What is the estimated time commitment?</b></a>
<p><u>Part 1:</u> mid Feb-late March
<p>Before our first session, we will distribute ~5 papers to support your background knowledge. Reading these will certainly help you understand the content presented in the lectures, but we will not quiz you on specfic experiments presented in the papers. The amount of time spent on background reading varies by student.</p>
<br>
<p>The first meeting will be live, and will take about 1.5 hours. During this meeting, we will welcome all participants, provide an overview of the Practicum, and assign teams for the Shark Tank project.</p>
<br>
<p>We expect the lectures to be about 45 minutes to 1 hour in duration. There will be 6 lectures and they will be pre-recorded so they can be watched at your convenience. We plan to have a discussion section with each lecture too, which will probably be about 30 minutes or maybe up to an hour at the discretion of the instructor if students are interested. In these sessions, the instructor(s) will include information about their career paths and research.</p>
<br>
<p>There will be at least three and maybe four hands-on activities; these will probably take about 15 minutes each and can be completed at your convenience.</p>
<br>
<p>The final Shark Tank presentation will be live and will probably take about two hours. Group work to prepare for this project varies, but might be an hour or so per week.</p>
<br>
<p>Note that these are my (Justine's) best guesses and are absolutely <i>not</i> intended to be interpreted as requirements for time spent. It might take you more or less time to work through the content, and that is 100% OK. As with many things, your learning and understanding will most likely be proportional to the effort and attention you invest.<p>
<br>
<p><u>Part 2:</u> April-August</p>
<p>We anticipate 5 interviews lasting ~1h each, at a frequency of about 1 per month.</p>
<br>
<br>
<p><u>Bottom line:</u> Part 1 will take about 3 hours per week, plus about 1.5-2 hours at the beginning and end for the intro session and Shark Tank. Part 2 will take 1 hour per month.</p>
<br>
<br>
<br>
<p><a id='Prep for Part 1'><b>Will we receive instructions for how to prepare for Part 1 of the Practicum?</b></a></p>
<p>Yes. After the schedule is set (see next question), you will receive an email with several readings that will provide background information before the lectures. We also plan to ship your supplies so you receive them just before the start of the Practicum, but this could vary a bit depending on when we place the order, shipping times, your location, etc. You will be given instructions for activities you can do with the supplies throughout the Practicum; these activities will be done at your convenience (although it might be rewarding to call a classmate to work on them remotely/together? Up to you!).</p>
<br>
<br>
<br>
<p><a id='Schedule'><b>What is the schedule for Part 1 (February to March)?</b></a></p>
<p>Thanks so much for your patience as we finalize the schedule. I plan to have the participants list finalized by Monday, January 25, and will send dates to everyone to check availability. I'm sure everyone is very busy and we have folks living in a range of time zones, but I will do my best to choose times that work for as mamy people as possible. This won't be perfect, and I really appreciate everyone's flexibility. The earliest date we are planning to start is February 22, but I will know a lot more very soon.</p>
<br>
<p>Our first meeting will be an intro/overview session where we will select Shark Tank teams. We will then focus on one lecture per week for 6 weeks; lectures will be pre-recorded so you can watch at your convenience. These will be inspired by (but not necessarily identical to) lectures we have presented in the past (<a href='/mbl/2018-practicum/schedule' target='_blank' class='bl-link'>2018</a>, <a href='/mbl/2019-practicum/schedule' target='_blank' class='bl-link'>2019</a>). We will have a live discussion section once per week to allow students to ask questions and learn more about each instructor's career path and research. We will conclude Part 1 of the Practicum with live Shark Tank presentations.</p>
<br>
<p class='text-purple'><b>Kickoff: Monday, February 22, 5-6:30pm Eastern</b></p>
<br>
<p class='text-purple'><b>Shark Tank: Friday, April 2, 1-3pm Eastern</b></p>
<br>
<p><i>Zoom links were sent via email on February 1 and can be found in the description of your calendar invitation.</i></p>
<br>
<br>
<p><u>Lecture Titles:</u>
  <ul>
    <li>Light and Living Where it is Very, Very Dark (Justine)
    <li>Fluorescence and Bioluminescence: Basics and Chemistry (Nathan)
    <li>How Do We Get From Shrimps to Brains? (Ute)
    <li>Bioluminescence as a Tool for Understanding Biological Information Processing Systems (Chris)
    <li>Calcium — Not Too Little and Not Too Much (Diane)
    <li>The Physics of Energy Transfer and Bioluminescent Light Production (Nathan)
  </ul>
<br>
<br>
<br>
<a id='What is the Shark Tank project?'><b>What is the Shark Tank project?</b>
<p>Our Shark Tank activity is a group project to create a product, service, method, etc. using bioluminescence (and/or fluorescence, optogenetics...). Students learn which group they're in on the first day of the Practicum, and work with their group (with some ad hoc guidance from faculty and TAs) to prepare for a pitch on the last day. After hearing all pitches, all participants vote for their favorite (can't vote for your own team; faculty and TAs get 2 votes to distribute as they see fit) and the group with the most votes gets a prize.</p>
<br>
<br>
<br>
<p><a id='Readings'><b>Will there be a pre-Practicum reading assignment?</b></a></p>
<p>Before our first session, we will distribute ~5 papers to support your background knowledge. Reading these will certainly help you understand the content presented in the lectures, but we will not quiz you on specfic experiments presented in the papers.</p>
<br>
<p><i>On February 1, 2021 you should have received an email with direct links and links to a folder of PDFs for the 5 required papers and a few recommended readings. If you didn't receive this email and/or you have trouble accessing the materials, please email Justine.</i></p>
<br>
<br>
<p><a href='Mailed Supplies'><b>What kinds of materials will be mailed to us?</b></a></p>
<p>This is (kind of) a surprise! We will send you materials that you can use for hands-on exploration of bioluminescence and fluorescence. Make sure the address you provide is a location where you can receive your supplies within a few hours to a day. In other words, you don't need to be able to retrieve your package <i>immediately</i> after it is delivered, but it also shouldn't hang around for multiple days, especially if your package will be waiting outside and you live in a climate where it is very hot or very cold in February.</p>

<br>
<br>
<br>


<p><i>Last updated: February 1, 2021.</i><p>



</div>
