// $yellow: #ffd507;
$yellow: #FFC726;
$yellow-darker: #FFAE00;
$grey-lighter: #8D8D8D;
$slate: #434343;
$off-black: #111111;

html, body, header, nav, div, a,
ul, li, main, button, aside,
section, img, div, h1, h2, h3, h4,
h5, p, form, label, input, textarea,
span, article, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  transition: all 0.2s ease;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

html {
  background: rgba(245,245,245,1);
  font-family: 'Roboto', sans-serif;
  margin: 15px;
}

body {
  position: relative;
}
