$lightblue: #B0D0EE;
$lightblue-darker: #97B7D5;
$green: #339966;
$green-darker: #268C59;
$grey-lighter: #8D8D8D;
$slate: #434343;
$off-black: #000000;
$purple: #666699;
$yellow: #DDDB60;

.text-green {
    color: $green;
}

.text-purple {
    color: $purple;
}

html, body, header, nav, div, a,
ul, li, main, button, aside,
section, img, div, h1, h2, h3, h4,
h5, p, form, label, input, textarea,
span, article, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  transition: all 0.2s ease;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    margin-bottom: 12px;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

iframe {
    display: block;
    margin: 15px auto;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

html {
  background: white; // rgba(245,245,245,1);
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  min-width: 1000px;
}

.bl-link {
    color: $green;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.styled-list {
    list-style-type: unset;
    list-style-position: unset;
    margin-left: 35px;
    li {
        list-style: unset;
    }
}

.button-img {
    margin: auto;
    position: relative;
    width: 50%;

    img {
        position: relative;
        border-radius: 3px;
    }

    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000;
        opacity: 0;
        top: 0;
        cursor: pointer;
        border-radius: 3px;
    }

    &:hover > &__overlay {
        opacity: 0.1;
    }
}

.horizontal-divider {
    width: 100%;
    background-color: #1111111;
    border-bottom: 1px solid $slate;
}

.container {
    margin: 0 auto;
    background: white;
    width: 65%;
    padding: 40px 100px 70px;
    min-height: 350px;
    min-width: 600px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.mbs {
    margin-bottom: 5px;
}

.mbm {
    margin-bottom: 10px;
}

.mtm {
    margin-top: 10px;
}

.mbl {
    margin-bottom: 15px;
}

.mbxl {
    margin-bottom: 20px;
}

.mtxl {
    margin-top: 20px;
}

.mtl {
    margin-top: 15px;
}

.mts {
    margin-top: 10px;
}

.mrs {
    margin-right: 5px;
}

.mls {
    margin-left: 5px;
}


.mrm {
    margin-right: 10px;
}

.mlm {
    margin-left: 10px;
}

.mrl {
    margin-right: 15px;
}

.mll {
    margin-left: 15px;
}

.mlxl {
    margin-left: 20px;
}

.mrxl {
    margin-right: 20px;
}

.prl {
    padding-right: 15px;
}

.pll {
    padding-left: 15px;
}

.text-l {
    font-size: 16px;
}

.text-m {
    font-size: 14px;
}

.text-s {
    font-size: 13px;
}

.text-xs {
    font-size: 12px;
}

.italics {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.img__fixed-width {
    width: 70%;
    margin: auto;
}

.img__hero-bg {
    position: relative;
    height: 300px;
    width: 100%;

    &--utra {
        background:  linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://s3.amazonaws.com/bl-hub/luminb_h_Shimomura+NSF-min+cropped.jpg');
        background-size: cover;
        background-position: center;
    }

    &--faq {
        background:  linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://s3.amazonaws.com/bl-hub/mbl-faq-min.jpg');
        background-size: cover;
        background-position: center;
    }

}

.hero-img__title {
    vertical-align: middle;
    line-height: 300px;
    z-index: 3;
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
}

#scintillon-students {
    p {
        margin-bottom: 10px;
    }
}

.horizontal-divider {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid lightgray;
}
