$yellow: #FFC726;
$yellow-darker: #FFAE00;
$green: #00bf08;
$green-darker: #00b908;
$grey-lighter: #8D8D8D;
$slate: #434343;
$off-black: #111111;

html, body, header, nav, div, a,
ul, li, main, button, aside,
section, img, div, h1, h2, h3, h4,
h5, p, form, label, input, textarea,
span, article, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  transition: all 0.2s ease;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h2 {
    margin-bottom: 15px;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

iframe {
    display: block;
    margin: 15px auto;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

h2 {
    font-size: 24px;
}

html {
  background: rgba(245,245,245,1);
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  min-width: 950px;
}

.bl-link {
    color: $green;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.container {
    margin: 0 auto;
    background: white;
    width: 65%;
    padding: 40px 100px 70px;
    min-height: 350px;
    min-width: 600px;
}

.mbs {
    margin-bottom: 5px;
}

.mbm {
    margin-bottom: 10px;
}

.mtm {
    margin-top: 10px;
}
