@import 'reset';

.carousel {
    position: relative;
    height: 550px;
    background: black;

    .hero-img-container {
        height: 550px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 0;
        opacity: 0;
        transition: 1s ease-out;

        &.current {
            opacity: 1;
            z-index: 1;
        }
    }
}
