#footer .footer-contents {
    height: 20px;
    border-top: 1px solid lightgray;
    padding: 50px;
    background-color: #f4f4f4;
    font-size: 14px;
    font-weight: lighter;
    position: relative;

    .footer-center {
        position: absolute;
        top: 50px;
        right: 0;
        left: 0;
    }
}
