#footer {
    .footer-wrapper {
        height: 110px;
        border-top: 1px solid lightgray;
        background-color: #f4f4f4;
        font-size: 14px;
        font-weight: lighter;
        position: relative;
    }

    .footer-contents {
        width: 65%;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        margin: 0 auto;
        line-height: 30px;
    }
}
