// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'reset';

.neuronex-text {
    position: absolute;
    bottom: -11px;
    left: 354px;
    font-size: 14px;
}

.mission-statement {
    width: 1000px;
    margin: auto;

    img {
        display: inline-block;
        vertical-align: text-bottom;
    }

    &__text-container {
        display: inline-block;
        position: relative;
        width: 631px;
        margin: 30px auto;
    }

    &__text {
        text-align: center;
        line-height: 1.5;
        font-weight: 100;
    }

    .bl-icon {
        position: absolute;
        opacity: 0.3;

        &__quote {
            height: 30px;
            width: auto;

            &--right {
                bottom: -5px;
                right: 25px;
            }
            &--left {
                top: -10px;
                left: -30px;
                transform: scaleX(-1);
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                filter: FlipH;
                -ms-filter: “FlipH”;
            }
        }
    }
}

.header {
    margin: 25px;
    margin-left: 60px;
    font-weight: lighter;

    &__logo {
        width: 30px;
        position: absolute;
        top: 19px;
        left: 25px;
    }
}

.button {
    padding: 10px 15px;
    margin-left: 10px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    display: inline-block;

    &.login {
        background: $grey-lighter;
        color: $off-black;
        &:hover {
            background: darken($grey-lighter, 15);
            color: white;
            transition: 0.5s ease;
        }
    }

    &.signup {
        background: $lightblue;
        color: $off-black;
        &:hover {
            background: $lightblue-darker;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.bl-hub__logo {
    width: 330px;
    margin: auto;
}

.hp-cards {
    margin: auto;
    display: block;
    text-align: center;

    a:hover {
        .hp-card__title {
            cursor: pointer;
            text-decoration: none;
            color: $off-black;
        }

        .hp-card__img:after {
            background-color: darken($lightblue-darker, 10);
        }
    }
}

.hp-card {
    position: relative;
    display: inline-block;
    height: 250px;
    width: 250px;
    overflow: hidden;

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 1;
        cursor: pointer;
        text-decoration: none;
        color: $off-black;
        font-size: 20px;
        width: 80%;
        font-weight: bold;
        letter-spacing: 2px;
    }

    &__img {
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        width: 250px;
        height: 250px;

        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:after {
            content: ' ';
            background-color: $lightblue-darker;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.7;
        }
    }

    &__img-container {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: 20px;
        margin-right: 20px;
    }

    &:hover {
        cursor: pointer;

    }
}

@media screen and (max-width: 1200px) {
    .header {
        display: none;
    }

    .nav-bar-container {
        width: 100%;
        min-width: 100%;
    }

    .bl-nav-bar-wrapper {
        position: relative !important;
    }
}
