@import 'reset';

#interviews {
    .bl-iframe__scaled--wrapper  {
        width: 800px;
        height: 390px;
        padding: 0;
        overflow: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;


        iframe {
            width: 2800px;
            height: 1800px;
            border: 0px;
            zoom: 1;
            -moz-transform: scale(0.3);
            -moz-transform-origin: 0 0;
            -o-transform: scale(0.3);
            -o-transform-origin: 0 0;
            -webkit-transform: scale(0.3);
            -webkit-transform-origin: 0 0;

}
}
    .bl-iframe__video {
      width: 800px;
      height: 500px;
      padding: 0;
      overflow: hidden;
      display: block;
      margin-left: auto;
      margin-right: auto;

      iframe {
          width: 100%;
          height: 98%;
      }

}
}
