@import 'reset';

#mbl-about {
    ul {
       list-style-type: unset;
       list-style-position: outside;
       margin: 15px;
       li {
           margin-left: 15px;
           list-style: unset;
        }
    }
}

.mbl__row:nth-of-type(odd) {
    background: #f0f0f0;
}

.mbl__header {
    background: $lightblue;
    text-align: center;
    font-weight: bold;
}

.mbl__landing {
    margin: auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px;
}

.mbl__photo {
    width: 30%;
    height: auto;
    display: inline-block;
    margin: 10px;

    &:hover {
        cursor: pointer;
    }
}

.panel-wrapper {
    width: 25%;
    height: 200px;
    position: relative;

    a {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &--blue {
        background: $lightblue;
        &:hover {
            background: cornflowerblue;
        }
    }

    &--green {
        background: $green;
        &:hover {
            background: $green-darker;
        }
    }

    .text {
        opacity: 0;
        font-size: large;
        font-weight: bold;
        letter-spacing: 3px;
        cursor: pointer;
        text-decoration: none !important;
        color: $off-black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    &:hover {
        cursor: pointer;
        transition: none;

        .bl-icon {
            opacity: 0;
        }

        .text {
            opacity: 0.8;
            text-decoration: none !important;
        }
    }

    .bl-icon {
        position: absolute;
        opacity: 0.8;

        &__schedule,
        &__photo,
        &__newspaper {
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            width: 80%;
            left: 50%;
        }

        &__quote {
            height: 60px;
            width: auto;
            margin: 40px;

            &--right {
                bottom: 0;
                right: 0;
            }
            &--left {
                top: 0;
                left: 0;
                transform: scaleX(-1);
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                filter: FlipH;
                -ms-filter: “FlipH”;
            }
        }
    }
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border:none;
}

.tg td {
    font-size: 14px;
    padding: 10px 0px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    &:first-of-type {
        padding: 10px 32px;
    }
}

.tg th {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-7uzy {
    vertical-align: top;
}

.tg .tg-us36 {
    border-color: inherit;
    vertical-align: top
}

.tg .tg-yw4l {
    vertical-align: top;
}

.tg .tg-ey81 {
    border-color: inherit;
    vertical-align: top;
}

.testimonial {
    padding: 24px 36px;
    margin-bottom: 16px;
    font-style: italic;
    line-height: 24px;

    &:nth-of-type(odd) {
        background: $lightblue;
    }
    &:nth-of-type(even) {
        background: lighten($lightblue, 10%);
    }

    .text-s {
        font-style: normal;
    }
}
