@import 'reset';

.bl-nav-bar-wrapper {
    background: $slate;
    color: whitesmoke;
    z-index: 10;
    min-width: 1012px;

    .bl-nav-bar {
        margin: auto;
        width: 1012px;
    }

    .bl-nav-tab {
        &:hover {
            cursor: pointer;
        }
        &.active, &:hover {
            background: $lightblue;
            color: $off-black;
            transition: 0.2s ease;
        }

        display: inline-block;
        list-style: none;
        padding: 20px 25px;
    }

    .bl-dropdown {
        display: none;
        position: absolute;
        left: 0;
        top: 59px;
        z-index: 10;
        width: 100%;

        &__wrapper {
            position: relative;
            display: inline-block;

            &:hover {
                .bl-dropdown {
                    display: inline-block;
                }

                .bl-nav-tab {
                    background: $lightblue;
                    color: $off-black;
                }
            }
        }

        &__item {
            color: white;
            padding: 15px 20px;
            background: gray;

            &--small-parent {
                display: block;
                min-width: 100%;
            }

            &:hover {
                cursor: pointer;
                background: #ababab;
            }
        }
    }
}
