@import 'reset';

#nav-bar-container {
    position: relative;
    background: white;
    color: $off-black;
    width: 100%;
    z-index: 10;
    top: 0;
    height: 65px;
    border-bottom: 1px solid #ebebeb;
}

.nav-bar-container--home {
    position: absolute;
    background: linear-gradient(to bottom, $off-black, transparent);
    color: white;
    width: 100%;
    z-index: 10;
    top: 0;
    height: 80px;
}

.bl-nav-bar-wrapper {
    min-width: 951px;
    position: absolute;
    float: right;
    right: 15px;

    .bl-nav-bar {
        margin: auto;
        width: 951px;
    }

    .bl-nav-tab {
        display: inline-block;
        list-style: none;
        padding: 25px 25px 35px;
        font-weight: lighter;
        font-size: 13px;

        &:hover {
            cursor: pointer;
        }

        &.active, &:hover {
            color: $lightblue;
            transition: 0.2s ease;
        }
    }

    .bl-dropdown {
        display: none;
        position: absolute;
        left: 0;
        top: 59px;
        z-index: 10;
        width: 100%;

        &__wrapper {
            position: relative;
            display: inline-block;

            &:hover {
                .bl-dropdown {
                    display: inline-block;
                }

                .bl-nav-tab {
                    color: $lightblue;
                    position: relative;

                    &:after {
                        content: ' ';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 10px 10px 10px;
                        border-color: transparent transparent $grey-lighter transparent;
                        top: 50px;
                        z-index: 200;
                        right: 0;
                        left: 0;
                        margin: 0 auto;
                    }
                }
            }
        }

        &__item {
            color: white;
            padding: 15px 20px;
            background: $grey-lighter;

            &--small-parent {
                display: block;
                min-width: 100%;
            }

            &:hover {
                cursor: pointer;
                background: #ababab;
            }
        }
    }
}
