<div class='container' id='mbl-2018-practicum'>
    <h2 class='text-center'>2018 MBL Undergraduate Practicum</h2>
    <table class='mbl__landing'>
        <tr>
            <td class='panel-wrapper text-center'>
                <a href='/mbl/2018-practicum/schedule'>
                    <img class='bl-icon bl-icon__schedule' src='https://s3.amazonaws.com/bl-hub/clipboard.svg'
                    href='/mbl/2018-practicum/schedule' />
                    <span class='text'>SCHEDULE</span>
                </a>
            </td>
            <td class='panel-wrapper text-center'>
                <img class='bl-icon bl-icon__photo' src='https://s3.amazonaws.com/bl-hub/photo-camera.svg'
                href='/mbl/2018-practicum/schedule' />
                <a href='/mbl/2018-practicum/photos'>
                    <span class='text'>PHOTOS</span>
                </a>
            </td>
            <td class='panel-wrapper text-center'>
                <a href='/mbl/2018-practicum/testimonials'>
                    <img class='bl-icon bl-icon__quote bl-icon__quote--left' src='https://s3.amazonaws.com/bl-hub/right-quotation-mark.svg' />
                    <img class='bl-icon bl-icon__quote bl-icon__quote--right' src='https://s3.amazonaws.com/bl-hub/right-quotation-mark.svg' />
                    <span class='text'>TESTIMONIALS</span>
                </a>
            </td>
        </tr>
        </table>
        <br/>
        <h2 class='text-center mtxl mbxl'>Marine Biological Laboratory (MBL), Woods Hole, MA</h2>
        <img src='https://s3.amazonaws.com/bl-hub/mbl-blog/MBL+Student+group+photo-min.jpg'/>
        <br/>
        <p>We hosted 13 undergraduates from 10 colleges in seven states for a week of lectures and hands-on learning at the MBL in Woods Hole, Massachusetts. A schedule of our activities can be found <a class='bl-link' href='/mbl/2018-practicum/schedule'>here</a>. The week culminated in technology venture presentations where teams of students pitched an idea for a new technology using bioluminescence in an effort to earn votes from their classmates and faculty. There was great energy and enthusiasm from all participants for the duration of the practicum, but don’t just take our word for it – read our <a class='bl-link' href='/mbl/2018-practicum/testimonials'>student testimonials</a>. We are already looking forward to next year!</p>
        <br/>
        <p><a class='bl-link' href='/mbl/apply'>Applications</a> for the 2019 iteration of the MBL Undergraduate Practicum open October 1, 2018; we hope to see you in Woods Hole!</p>
        <br/>
        <p>Participants in the 2018 MBL Undergraduate Practicum represented 10 colleges: Brown University, Central Michigan University, Colorado College, CUNY Hunter, Hope College, James Madison University, University of Michigan Ann Arbor, University of New Hampshire University of Rhode Island, and Vanderbilt University.</p>
        <br/>
        <img src='https://s3.amazonaws.com/bl-hub/mbl-blog/MBL+MRC+Tank+Room-min.jpg'/>
        <br/>
        <p>We enjoyed a guided tour of the marine animal holding facility in the Marine Resources Center at the MBL.</p>
        <br/>
        <img src='https://s3.amazonaws.com/bl-hub/mbl-blog/MBL+Rare+Books-min.jpg'/>
        <br/>
        <p>We enjoyed a guided tour of the MBL’s Rare Books room where students handled T. H. Morgan’s Nobel Prize, a fourth edition <span class='italics'>Origin of Species</span> inscribed by Darwin himself, and paged through volumes with hundreds of hand-painted accounts of marine animals.</p>
        <br/>
        <img src='https://s3.amazonaws.com/bl-hub/mbl-blog/MBL+hands+on+composite-min.jpg'/>
        <br/>
        <p>“Hands on” science at the MBL!</p>
        <br/>
        <img src='https://s3.amazonaws.com/bl-hub/mbl-blog/mbl-cropped-min.jpg'/>
        <br/>
        <p>We collected local fouling fauna to look for bioluminescent specimens.</p>
        <br/>
        <img src='https://s3.amazonaws.com/bl-hub/mbl-blog/MBL+Shark+Tank+winners-min.jpg'/>
        <br/>
        <p>The winners of the technology venture proposal (“shark tank”) celebrate with their plush shark trophies.</p>
        <br/>
        <img src='https://s3.amazonaws.com/bl-hub/mbl-blog/MBL+Nobska+Light-min.jpg'/>
        <br/>
        <img src='https://s3.amazonaws.com/bl-hub/mbl-blog/MBL+View+from+Nobska-min.jpg'/>
        <br/>
        <p>We even found time to enjoy the views from Nobska Light!</p>
</div>
