<div class='container' id='mbl-2018-practicum'>
    <h2 class='text-center'>2018 MBL Undergraduate Practicum Schedule</h2>
    <embed src="http://gdurl.com/qfBA" width="800" height="1090" type='application/pdf'>
</div>
