<div class='container' id='mbl-2018-practicum'>
    <h2 class='text-center'>2018 MBL Undergraduate Practicum</h2>
    <table class='mbl__landing'>
        <tr>
            <td class='panel-wrapper text-center'>
                <a href='/mbl/2018-practicum/schedule'>
                    <img class='bl-icon bl-icon__schedule' src='/assets/clipboard.svg'
                    href='/mbl/2018-practicum/schedule' />
                    <span class='text'>SCHEDULE</span>
                </a>
            </td>
            <td class='panel-wrapper text-center'>
                <img class='bl-icon bl-icon__photo' src='/assets/photo-camera.svg'
                href='/mbl/2018-practicum/schedule' />
                <a href='/mbl/2018-practicum/photos'>
                    <span class='text'>PHOTOS</span>
                </a>
            </td>
            <td class='panel-wrapper text-center'>
                <a href='/mbl/2018-practicum/testimonials'>
                    <img class='bl-icon bl-icon__quote bl-icon__quote--left' src='/assets/right-quotation-mark.svg' />
                    <img class='bl-icon bl-icon__quote bl-icon__quote--right' src='/assets/right-quotation-mark.svg' />
                    <span class='text'>TESTIMONIALS</span>
                </a>
            </td>
        </tr>
        </table>
</div>
