<div class='container' id='mbl-2018-practicum'>
    <h2 class='text-center'>2018 MBL Undergraduate Practicum Schedule</h2>
    <table class="tg">
      <tr class='mbl__header'>
        <td class="tg-yw4l" colspan="2">18 March 2018</td>
      </tr>
      <tr class='row'>
        <td class="tg-ey81">4pm</td>
        <td class="tg-7uzy">Arrive in Woods Hole</td>
      </tr>
      <tr class='row'>
        <td class="tg-us36">4:30pm<br></td>
        <td class="tg-yw4l">Walk to Nobska Lighthouse (optional)</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">6pm</td>
        <td class="tg-7uzy">Dinner</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">8pm</td>
        <td class="tg-yw4l">Welcoming remarks; technology venture teams drawn; game night</td>
      </tr>
      <tr class='mbl__header'>
        <td class="tg-7uzy mbl__header" colspan="2">19 March 2018</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">7:30am</td>
        <td class="tg-yw4l">Breakfast</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">9am</td>
        <td class="tg-7uzy">Lecture: Light in the Ocean &amp; Behavioral Ecology of Bioluminescence<br/>Justine J. Allen, PhD</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">10:30am</td>
        <td class="tg-yw4l">Lecture: Action Potentials and the Biochemistry of Excitable Cells<br/>Diane Lipscombe, PhD</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">12pm</td>
        <td class="tg-7uzy">Lunch</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">1:30pm</td>
        <td class="tg-yw4l">Tour of the MBL Rare Books Room and Nobel Prizes</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">2pm</td>
        <td class="tg-7uzy">Lab</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">5:30pm</td>
        <td class="tg-yw4l">Dinner</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">8pm</td>
        <td class="tg-7uzy">Work on technology venture proposal; marine biology video (optional)</td>
      </tr>
      <tr class='mbl__header'>
        <td class="tg-yw4l" colspan="2">20 March 2018</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">7:30am</td>
        <td class="tg-7uzy">Breakfast</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">9am</td>
        <td class="tg-yw4l">Lecture: Calcium (and other) channels<br/>Diane Lipscombe, PhD</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">10:30am</td>
        <td class="tg-7uzy">Lecture: Fluorescence and Bioluminescence: Basics and Chemistry<br/>Nathan Shaner, PhD</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">12pm</td>
        <td class="tg-yw4l">Lunch</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">1:30pm</td>
        <td class="tg-7uzy">Tour of the MBL Marine Resources Center</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">2pm</td>
        <td class="tg-yw4l">Lab</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">5:30pm</td>
        <td class="tg-7uzy">Dinner</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">8pm</td>
        <td class="tg-yw4l">Work on technology venture proposal; marine biology video (optional)</td>
      </tr>
      <tr class='mbl__header'>
        <td class="tg-7uzy" colspan="2">21 March 2018</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">7:30am</td>
        <td class="tg-yw4l">Breakfast</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">9am</td>
        <td class="tg-7uzy">Lecture: How do we get from Copepod to Neuron – Molecular Engineering of Bioluminescence Tools<br/>Ute Hochgeschwender, MD</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">10:30am</td>
        <td class="tg-yw4l">Lecture: Applications of Bioluminescence <span class='italics'>in vivo</span><br/>Christopher I. Moore, PhD</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">12pm</td>
        <td class="tg-7uzy">Lunch</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">1:30pm</td>
        <td class="tg-yw4l">NOAA Aquarium (optional)</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">2pm</td>
        <td class="tg-7uzy">Lab</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">5:30pm</td>
        <td class="tg-yw4l">Dinner</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">8pm</td>
        <td class="tg-7uzy">Work on technology venture proposal; marine biology video (optional)</td>
      </tr>
      <tr class='mbl__header'>
        <td class="tg-yw4l" colspan="2">22 March 2018</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">7:30am</td>
        <td class="tg-7uzy">Breakfast</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">9am </td>
        <td class="tg-yw4l">Lecture: The Physics of Energy Transfer<br/>Nathan Shaner, PhD</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">10:30am</td>
        <td class="tg-7uzy">Lecture: Bioluminescence as a Treatment for Spinal Cord Injury<br/>Eric Petersen</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">12pm</td>
        <td class="tg-yw4l">Lunch</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">2pm</td>
        <td class="tg-7uzy">Lab</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">5:30pm</td>
        <td class="tg-yw4l">Dinner</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">8pm </td>
        <td class="tg-7uzy">Technology venture presentations and voting</td>
      </tr>
      <tr class='mbl__header'>
        <td class="tg-yw4l" colspan="2">23 March 2018</td>
      </tr>
      <tr class='row'>
        <td class="tg-7uzy">7:30am</td>
        <td class="tg-7uzy">Breakfast</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">9-10am</td>
        <td class="tg-yw4l">Pack up and check out</td>
      </tr>
      <tr class='row'>
        <td class="tg-yw4l">11am</td>
        <td class="tg-yw4l">Depart Woods Hole</td>
      </tr>
    </table>
</div>
