<div class='container' id='mbl-about'>
    <h2 class='text-center'>About the MBL Undergraduate Practicum</h2>
    <p><b>Learning Objectives:</b> At the end of this practicum, students will be able to...</p>
    <ul>
        <li>Identify and discuss the ubiquity and uses of bioluminescence in nature.</li>
        <li>Describe the mechanism(s) by which bioluminescent light is created.</li>
        <li>Describe the mechanism(s) by which neurons are stimulated by light.</li>
        <li>Select and defend the choice of an appropriate animal/tool/method to study natural bioluminescence or another cellular/molecular neuroscience phenomenon.</li>
        <li>Propose a compelling research/business idea around bioluminescence technology.</li>
    </ul>
    <br/>
    <p><b>What:</b> The MBL Undergraduate Practicum is a 4-day, 5-night, intensive, hands-on learning experience investigating bioluminescence with a multifaceted approach. Students will examine this phenomenon from organismal, animal behavior, molecular biology, chemistry, physics, and neuroscience perspectives.</p>
    <br/>
    <p><b>Whom:</b> Undergraduates pursuing a degree in a STEM field with a demonstrated interest in neuroscience. This practicum is especially suited for motivated and ambitious juniors. Students from groups underrepresented in STEM fields are especially encouraged to apply.</p>
    <br/>
    <p><b>When:</b> The 2019 Practicum will be held in late March 2019. Applications will be accepted beginning October 1 and are due December 1, 2018.</p>
    <br/>
    <p><b>Where:</b> The Marine Biological Laboratory, Woods Hole, Massachusetts.</p>
    <br/>
    <p><b>Why:</b> This practicum will introduce students to the use of bioluminescence in the innovation and development of tools and techniques for neuroscience research.</p>
    <br/>
    <p><b>How:</b> <a class='bl-link' href='/mbl/apply'>Apply online!</a></p>
    <br/>
    <p><b>Price:</b> Full support will be provided for tuition, housing, meals, approved travel expenses, and laboratory supplies for accepted students.</p>
    <br/>
    <p><b>Questions?</b> <a class='bl-link' href='mailto:neuronex1@gmail.com?subject=MBL%20Workshop'>Contact us!</a></p>
</div>
