<div class='container' id='mbl-apply'>
    <h2 class='text-center'>NeuroNex Undergraduate Practicum Application</h2>
    <br/>
    <p>Applications for the 2020 Practicum are now being accepted; please use the embedded form below.</p>
    <br/>
    <p>Don't delay! The last day to apply is <b>December 1, 2019</b>.</p>
    <br/>
    <p><b>Questions?</b> Check our <a class='bl-link' href='/mbl/faqs'>FAQs</a> or <a class='bl-link' href='mailto:bioluminescencehub@gmail.com?subject=MBL%20Practicum'>send us an email.</a></p>
    <br/>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScF7mRNtKKGcIQkiGp8K6lhphpLZv54FekZqh-HcyaQaaZA0A/viewform?embedded=true" width="640" height="5458" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
