<div class='container' id='mbl-apply'>
    <h2 class='text-center'>MBL Practicum Application</h2>
    <p>The application for our 2019 Practicum is now closed; thanks to all who applied!</p>
    <p>Applications for the 2020 Practicum will open October 1, 2019.</p>
</div>
