<div class='container' id='workshops-august-2018'>
    <h2 class='text-center'>Inaugural BioLuminescence Hub NSF NeuroNex Workshop:</h2>
    <h2 class='text-center'>An opportunity to disseminate our tools and <br/>expand upon their research applications</h2>
    <br/><br/>
    <p>Our team is very happy to share that we recently had the pleasure of hosting our first NeuroNex Hub Workshop! Participants from near and far joined us at Brown University for an exciting day dedicated to sharing how our Hub develops bioluminescent tools used in a variety of research endeavors, and communicating about potential future research directions. Dr. Christopher Moore, Principal Investigator of our Hub, started the event by providing an overview of how our NeuroNex Hub uses BioLuminescence to drive OptoGenetics (BL-OG) for neural control and imaging in our labs. Highlighted topics were:</p>
    <br/>
    <ul class='styled-list'>
        <li>How BL-OG tools can be used and the advantages of their application
        <li>BL-Activity Dependent Modulation (BL-ADe) and how it provides real time calcium-inducible subcellular feedback
        <li>InterLuminescence and the ability to be able to optically re-wire synapses
        <li>The advantages of BL as a 1-Photon Sensor
    </ul>
    <br/><br/>
    <img style='width:90%;margin:auto;' src='https://s3.amazonaws.com/bl-hub/workshops/workshop-img-1-min.jpg' />
    <br/><br/>
    <p>This introductory session lead to some fantastic discussions and questions from our participants! As a way to demonstrate our Hub’s use of bioluminescence, attendees then had the opportunity to directly observe both <span class='italics'>in vitro</span> and in vivo lab demonstrations.</p>
    <br/>
    <p>The <span class='italics'>in vitro</span> lab session was led by Dr. Ute Hochgeschwender (Central Michigan University), Co-Principal Investigator of our NeuroNex Hub, and Brown University Postdoctoral Research Associate Dr. Mikhail Koksharov. The goal of this session was to demonstrate bioluminescence-imaging techniques using mammalian cell cultures. For the first session, Dr. Hochgeschwender and Dr. Koksharov showed how bioluminescence could be observed without the use of a microscope after a luciferase substrate, coelenterazine (CTZ), which we use as part of our Hub’s bioluminescence toolkit, was added to a culture of HEK cells able to express <span class='italics'>Gaussia</span> Luciferase (GLuc) coupled with a yellow fluorescent protein. Then, in a second demonstration, the bioluminescence of those cells was imaged at the cellular level, in real-time, following the addition of CTZ.</p>
    <br/><br/>
    <img style='width:90%;margin:auto;' src='https://s3.amazonaws.com/bl-hub/workshops/workshop-img-2-min.jpg' />
    <br/><br/>
    <p>Following the <span class='italics'>in vitro</span> lab session, Brown University Research Assistant Nina Friedman began the in vivo lab session, demonstrating the preparation of the CTZ solutions. Then, Brown University Postdoctoral Research Associates, Dr. Manuel Gomez-Ramirez and Dr. Jeremy Murphy, used that CTZ to visualize the real-time, in vivo brain activity of brain cells that expressed a bioluminescent luminopsin, a novel molecule in which the luciferase is tethered by a short amino acid chain to an optogenetic element.</p>
    <br/><br/>
    <img style='width:90%;margin:auto;' src='https://s3.amazonaws.com/bl-hub/workshops/workshop-img-3-min.jpg' />
    <br/><br/>
    <p>The day concluded with a discussion lead by Dr. Hochgeschwender, with a technical and practical focus on the wide range of BL-OG molecules used in our Hub’s research, followed by a great Q&A. We discussed the advantages and disadvantages of using bioluminescence as a research tool as well as how methods could be applied in a variety of contexts. What a great opportunity it was to be able to communicate directly with the Workshop participants as to how they felt our Hub can most effectively disseminate our findings to maximize their research utility!</p>
    <br/>
    <p>After such a productive inaugural workshop, we are looking forward to building upon these new collaborative relationships. Specifically, we’re excited about the ability to follow-up on and personalize the messages from this workshop through the sending of <a class='bl-link' href='/research/emissaries'>Emissaries</a> from our Hub to the labs of the attendees, in order to provide hands-on, project-specific training.</p>
</div>
