<!DOCTYPE html>
<html>
  <head>
    <title>BL Hub</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/f8e35c4eda.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id='bl-app'>
      <div class='header clearfix'>
          <h1 class='float-left'>The Bioluminescence Hub</h1>
      </div>
      <div id='nav-bar-container'></div>
      <%= yield %>
  </body>

  <footer id='footer'>
  </footer>
</html>
