<div class=container>
<h2 class='text-center'>Summer 2020 Virtual Intership at Brown</h2>
<br>
<p>In partnership with the <a class='bl-link' href='https://www.theleadershipalliance.org/' target='_blank'>Leadership Alliance Program</a>, the <a class='bl-link' href='http://www.bpendure.org/' target='_blank'>BP-ENDURE Program</a>, and the <a class='bl-link' href='https://www.oberlin.edu/career/career-communities' target='_blank'>Oberlin Health Professions Career Communities Program</a>, we welcomed five undergraduates to train as NeuroNex Bioluminescent Hub Virtual Summer Interns. These excellent interns kindly shared their reflections on their experience and provided photos of themselves doing laboratory research at their home colleges.
<br>
<img src='https://bl-hub.s3.amazonaws.com/education/BLbase_interns/Moore+Summer+Interns+%26+Mentors-min.jpg'>
<br>

<h3>Priscilla Louis, University of Central Florida</h3>
<br>
<div class='clearfix'>
  <img class='float-right pll mbm' style='width:35%;' src='https://bl-hub.s3.amazonaws.com/education/BLbase_interns/Priscilla-histology-min.jpg'>
  <p>I am an undergraduate studying Biomedical Neuroscience & Psychology with the intent to research self-control and impulsivity as a Systems and Cognitive Neuroscientist. While my prior research experiences extend from nanotechnology to computational neuroscience, the Moore Lab at Brown University was different from all other research experiences.</p>
<br>
    <p>In the midst of COVID-19, the Moore Lab provided a healthy virtual community to coordinate and develop a bioluminescence database toward the advancement of the scientific field. My contribution was to uncover luciferases that were discovered and utilized between the years of 1950-2003. This project may benefit the community by providing a quicker and more efficient avenue for selecting bioluminescent molecules toward optogenetic and chemogenetic research. In addition to professional development projects and career determining conversations, this online research experience expanded my knowledge of molecular terminology and key concepts, tailored my ability to inspect research journal publications for relevant material, and challenged my organization skills regarding the collection of data.</p>
<br>
    <p>I am grateful to the Moore Lab and the Leadership Alliance not only because of their efficiency in adapting to a virtual setting due to COVID-19, but also because of their willingness to assist in our academic and professional careers in research despite it.</p>
</div>
<br>
<br>

<h3>Mia Roberts, Hunter College</h3>
<br>
<div class='clearfix'>
  <img class='float-left prl mbm' style='width:30%;' src='https://bl-hub.s3.amazonaws.com/education/BLbase_interns/Mia-min.jpg'>
  <p>The year 2020 has been a series of unusual and unfortunate events with the appearance of the COVID-19 virus. Due to this, I thought I would have to spend my summer stuck at home doing nothing. However, this summer I had the amazing opportunity to virtually work with Dr. Christopher Moore at Brown University in Providence, Rhode Island. It was the perfect distraction to keep me busy during the summer. Along with four other interns, we helped the NeuroNex Bioluminescent Hub develop a free and open-access bioluminescent database where researchers can visit to get information regarding bioluminescent molecules and help assist them in determining the appropriate molecules for their project. This database will also help researchers optimize their bioluminescent molecules by including pertinent information for the optimal environment for the molecules.</p>
<br>
  <p>Even though we were not able to have a hands on experience in the lab, the Moore laboratory created a virtual experience that was extremely rewarding and fun. We were given the opportunity to take part in BL-OG meetings where we could get a behind-the-scenes look at bioluminescence in research. Before starting this internship, I had no prior knowledge of bioluminescence. By attending these meetings and working on my project, I learned so much useful information that, if applicable, I would love to use it in my future projects. Additionally, we had weekly meetings where we philosophically discussed “Discovery in Research,” which aimed to help us craft our minds to think philosophically about how projects are developing a project. I enjoyed those weekly “Disco” talks because it helped me look at experimental development in a new lens.</p>
<br>
<img class='float-right pll mbm' style='width:30%;' src='https://bl-hub.s3.amazonaws.com/education/BLbase_interns/Mia-lab-min.jpg'>
  <p>Unlike my previous lab experience, the Moore lab focuses on encouraging and fostering the "individual," which is something I am not used to. We were given a lot of freedom from the beginning of how to approach the project and our presentations, which I think lent a hand in me growing as a researcher. I felt like I was able to challenge my creativity and critical thinking. In fact, while working on this project, I gained an interest in coding and began taking online coding courses to help develop this skill so that way I can use it in the future.</p>
<br>
  <p>Overall, I had an amazing experience with the NeuroNex Bioluminescent Hub and the Moore lab. As a rising senior, I plan on applying to graduate school in the upcoming cycle, and working in the Moore lab has assisted me in rewiring how I think about science and academia. I believe that this will help me with how I interpret my current and future research projects, as well as, to make my mark in science. If there is one thing I learned this summer, it is that bioluminescence is a very interesting and promising technique for a lot of fields outside of neuroscience. I look forward to trying this technique in the future.<p>
</div>
<br>

<h3>Rochelle van der Merwe, Oberlin College</h3>
<br>
<div class='clearfix'>
  <img class='float-left prl mbm' style='width:35%;' src='https://bl-hub.s3.amazonaws.com/education/BLbase_interns/Rochelle-min.jpeg'>
<p>This summer, I had the opportunity to participate in a remote internship with a cohort of 4 other students in Dr. Christopher Moore’s lab. While this summer didn’t go exactly as planned for anyone, I was extremely lucky to have had such a robust experience, and one that not only enhanced my excitement about Discovery, but also solidified my thinking about my future career trajectory. I am currently studying neuroscience at Oberlin College and am engaged in research there, but having to transition to an entirely remote internship experience gave me the opportunity to engage with research from an entirely new perspective, and has made me more sure than even that I want to commit myself to scientific discovery!</p>
<br>
<p>The project I primarily worked on was developing an open-access database of bioluminescent molecules to be used in the field of optogenetics, which will ultimately greatly increase knowledge and accessibility about the technique to bring it to the forefront of brain (and beyond) discovery! I am very engaged in the quest to increase the accessibility of scientific knowledge, and so this internship was personally fulfilling on that front, but I was also able to increase my proficiency in scientific research and computational neuroscience, as well as develop a greater awareness of and appreciation for the concept of Discovery. I am extremely excited about the prospect of potentially joining Dr. Moore’s lab next summer as well for what will hopefully be an in-person, hands-on experience!</p>
</div>


</div>
