<div class=container>
<h2 class='text-center'>Summer 2021 Virtual Internship at Brown</h2>
<br>
<p>In Summer 2021, we welcomed five excellent undergraduate/recently graduated students from Howard University, Oberlin College, and the University of California, Los Angeles for our second Virtual Internship to build BLBase, our database of the attributes of all known bioluminescent molecules. Read their perspectives below!</p>
<br>
<center>
<img style="width:90%" src='https://bl-hub.s3.amazonaws.com/education/BLbase_interns/BLBase_2021_collage-min.jpg'>
</center>
<br>
<br>
<h3>Rochelle van der Merwe, Oberlin College</h3>
<p>After an amazing experience with the BL-OG team in <a class='bl-link' target=_blank href='/education/BLbase-interns'>summer 2020</a>, I was thrilled to be able to jump back in as an intern this summer as well. While last summer we focused primarily on identifying bioluminescent molecules and entering them into a spreadsheet, we spent much of this summer thinking about how to organize this information into a usable, open-access database. As someone with little experience with website design or coding, this presented a new challenge for me - but I am excited with the progress we made over the last few months, and looking forward to continuing to be a part of the process in the future. We also had the opportunity to dive more deeply into the techniques of optogenetics and molecular engineering, and think more intentionally about potential applications of bioluminescence as a driver of optogenetics. I had a great time working with this summer's interns, and have continued to enjoy the mentorship and collaboration of members of the BL-OG and BINS teams. I'm very excited to see where the developments we made this summer take us!</p>
<br>
<br>
<h3>Emmanuel Buckman, Howard University</h3>
<p>I am very grateful to have had the opportunity to research with the Moore Lab this summer. This summer, my colleagues and I researched different bioluminescent molecules in order to build on the bioluminescent database started by the Moore Lab. We also worked towards refining and updating information on previous entries in the database. The Covid-19 pandemic delivered a new challenge to us all but the Moore Lab was perfect in how this virtual internship was handled because I gained a broad range of knowledge, research skills and techniques. Even though this was a remote program, it felt as if it were in-person because I developed great relationships with my mentors and colleagues. My mentors, Dr. Christopher Moore, Dr. Justine Allen, Dr. Nathan Shaner, and Nina Friedman were very helpful in answering all our questions and ensuring that we had all the necessary resources to succeed. Overall, I enjoyed working with the Moore Lab and I am excited to apply the skills and knowledge I gained wherever I go.</p>
<br>
<br>
</div>
