<div class='container' id='Brown-interns-2022'>
<h2 class='text-center'>Summer 2022 at Brown University</h2>
<br>
<p>The Moore Lab hosted two excellent undergraduate students this summer; keep reading to learn more!</p>
<br>
<br>
<div class='clearfix'>
  <div >
      <img class='float-left' style='width:35%; padding:0px 20px 0px 0px' src='https://bl-hub.s3.amazonaws.com/education/Brown+Interns+2022/Om-Naphade-portrait-min.jpg' />
  </div>
<h3> Om Naphade, Brown University</h3>
<p>This summer, I had the opportunity to work in the Dr. Christopher Moore lab where I worked on a project under the guidance of Sinda Fekir focused on investigating blood-brain barrier (BBB) permeability using <a href='/what-is-BL-OG' class='bl-link' target='_blank'>BL-OG</a> (a neuroscience research technique that combines BioLuminescence with OptoGenetics). I personally was drawn to this research because of my past experience working as a student contractor for the Environmental Protection Agency where I modeled the embryonic BBB using computational software. The research project is still underway due to the time-consuming nature of the methods of the project.</p>
<br>
<p>In terms of the experiment, there were two main parts. To get a whole brain view, we first used BL-OG alongside coelenterazine (CTZ) to stimulate the optogenetic element using bioluminescence. We intravenously injected Evans blue dye and CTZ into anesthetized DAT-Cre mice that express BL-OG in Ventral Tegmental Area (VTA) cells. We waited two hours after the Evans blue and CTZ injection, then we perfused the mice, sliced and imaged the brain slices to see where the blue dye accumulated.</p>
<br>
<p>In the upcoming months, this will give us the ability to test the hypothesis that VTA cell stimulation via BL-OG will increase BBB permeability in brain areas where VTA cells project. In these brain areas, we predict to see accumulation of the Evans blue dye. However, this does not show the real time effects of activating the VTA because we have to wait two hours before we can slice the brain.</p>
<br>
<p>Next steps involve taking advantage of the BL-OG protein in a slightly different way by using an optic fiber to directly optogenetically activate the axons of the VTA dopaminergic neurons that express BL-OG in selective brain sections. This prevents the whole VTA from being activated which the previous experiment would do.</p>
</div>

</div>
