<div class='container' id='CMU-interns-2022'>
<h2 class='text-center'>Summer 2022 at CMU</h2>



<h3>Nipun Gorantla, Marvin Ridge High School, NC</h3>
<p>My name is Nipun Gorantla, and I am a High School Senior from Marvin Ridge High School in North Carolina. This Summer in my NeuroNex internship at the Hochgeschwender Lab in Central Michigan University was one of the most exciting and enriching experiences of my life. Over the course of 10 weeks, I led the project on recording 20+ novel luminopsin constructs (over 120 recordings!)  and gauging real time cortical neuronal response activity by adding luciferin and blue light treatment. With the guidance of the lab, I learned how to utilize powerful computational neuroscience tools such as MEA Analyzer, NeuroExplorer, MATLAB, Python based spike sorting softwares, and more to visualize and manipulate electrophysiological data. Additionally, I had the opportunity to help assist in behavioral mice tests such as Rotarod, Water T-Maze, and Catwalk for a project conducted on BL-OG’s potential in alleviating Huntingtons Disease. I  had the privilege of observing and working with all of the talented researchers and team here as they guided me through the fundamentals of the field of Bioluminescent Optogenetics through even more things such as molecular cloning, luminopsin construct preparation, and more. Through weekly lab presentations, I honed my skills in scientific presentation and communication. Towards the conclusion of my internship, I presented my research on novel luminopsin constructs in the Michigan Society for Neuroscience Conference.</p>
<br>
<p>Despite being the only high schooler in the NeuroNex program and this being one my first research experiences, the amount of trust confided in me by Dr. Hochgeschwender gave me the confidence to make great strides and deepen my passion in research and neuroscience. While the amazing support from the entire team at BL-OG certainly helped to advance my skills in areas such as computational, molecular, and behavioral neuroscience, what I will cherish the most is the community and kindness that flourished in the research. The Hochgeschwender Lab showed me that the importance of science not only lies in publications and results, but the valuable process and lessons that you learn along the way.</p>
<br>
<p>I will forever be grateful for the entire BL-OG community, including the National Science Foundation, Central Michigan University, Brown University, UC San Diego for their generosity, support, and providing this valuable opportunity.</p>
<br>
<br>
<h3>Shashwat Maharjan, CMU</h3>
<p>Working in the Bioluminescent Optogenetics Lab over this summer truly changed the way I thought about neuroscience research and data analysis in general. I loved every single day working with top minds with diverse young researchers in this field. This internship has motivated me to pursue graduate school and conduct research towards making a big impact in a similar area of study.</p>
<br>
<br>
<h3>Anusha Uprety, CMU</h3>
<p>My research this summer is focused on the Effects of Hyper-Excitation of Layer V Neocortical Pyramidal Neurons during early postnatal development on adult behavior. After systematically enhancing neocortical pyramidal activity levels in early development using non-invasive Bioluminescence Optogenetics (BL-OG), I am focused on measuring rodent behavior using a variety of behavioral tests, such as the Novel Object Recognition Test, the Open Field Test, and the Water T-Maze, etc. The purpose here is to directly address whether early life alterations in pyramidal activity can induce adult phenotypes and related circuit changes.</p>


</div>
