<div class='container' id='CMU-interns-2022'>
<h2 class='text-center'>Summer 2022 at Central Michigan University</h2>
<br>
<p>The <a href='https://www.cmich.edu/academics/colleges/college-of-medicine/research/basic/bioluminescent-optogenetics-lab/bioluminescent-optogenetics-lab-research' target='_blank' class='bl-link'>Hochgeschwender Lab</a> once again hosted five superb summer students and each generously shared a bit about their research and internship experiences. Read on!
<br>
<br>
<br>
  <div class='clearfix'>
    <div >
        <img class='float-left' style='width:35%; padding:0px 20px 0px 0px' src='https://bl-hub.s3.amazonaws.com/education/CMU+interns+2022/Nipun_square.png' />
    </div>
<h3>Nipun Gorantla, Marvin Ridge High School, NC</h3>
<p>My name is Nipun Gorantla, and I am a High School Senior from Marvin Ridge High School in North Carolina. This Summer in my NeuroNex internship at the Hochgeschwender Lab in Central Michigan University was one of the most exciting and enriching experiences of my life. Over the course of 10 weeks, I led the project on recording 20+ novel luminopsin constructs (over 120 recordings!)  and gauging real time cortical neuronal response activity by adding luciferin and blue light treatment. With the guidance of the lab, I learned how to utilize powerful computational neuroscience tools such as MEA Analyzer, NeuroExplorer, MATLAB, Python based spike sorting softwares, and more to visualize and manipulate electrophysiological data. Additionally, I had the opportunity to help assist in behavioral mice tests such as Rotarod, Water T-Maze, and Catwalk for a project conducted on BL-OG’s potential in alleviating Huntingtons Disease. I  had the privilege of observing and working with all of the talented researchers and team here as they guided me through the fundamentals of the field of Bioluminescent Optogenetics through even more things such as molecular cloning, luminopsin construct preparation, and more. Through weekly lab presentations, I honed my skills in scientific presentation and communication. Towards the conclusion of my internship, I presented my research on novel luminopsin constructs in the Michigan Society for Neuroscience Conference.</p>
<br>
<p>Despite being the only high schooler in the NeuroNex program and this being one my first research experiences, the amount of trust confided in me by Dr. Hochgeschwender gave me the confidence to make great strides and deepen my passion in research and neuroscience. While the amazing support from the entire team at BL-OG certainly helped to advance my skills in areas such as computational, molecular, and behavioral neuroscience, what I will cherish the most is the community and kindness that flourished in the research. The Hochgeschwender Lab showed me that the importance of science not only lies in publications and results, but the valuable process and lessons that you learn along the way.</p>
<br>
<p>I will forever be grateful for the entire BL-OG community, including the National Science Foundation, Central Michigan University, Brown University, and UC San Diego for their generosity, support, and providing this valuable opportunity.</p>
  </div>
<br>
<br>
  <div class='clearfix'>
    <div >
        <img class='float-right' style='width:35%; padding:0px 0px 0px 20px' src='https://bl-hub.s3.amazonaws.com/education/CMU+interns+2022/Shashwat_square.png'/>
    </div>
<h3>Shashwat Maharjan, CMU</h3>
<p>Working in the Bioluminescent Optogenetics Lab over this summer truly changed the way I thought about neuroscience research and data analysis in general. I loved every single day working with top minds with diverse young researchers in this field. This internship has motivated me to pursue graduate school and conduct research towards making a big impact in a similar area of study.</p>
    <div >
        <img class='float-left' style='width:60%; padding:40px 0px 0px 0px' src='https://bl-hub.s3.amazonaws.com/education/CMU+interns+2022/EMX+vs.+RBP4.png'/>
    </div>
  </div>
<br>
<br>
<div class='clearfix'>
  <div >
      <img class='float-left' style='width:35%; padding:0px 20px 0px 0px' src='https://bl-hub.s3.amazonaws.com/education/CMU+interns+2022/Lily_square.png'/>
  </div>
  <h3>Lily Mclean, CMU</h3>
<p>My summer as a NeuroNex intern has been an incredibly rewarding experience that allowed me to grow as a researcher, student, and team-member. My focus was on image analysis at both the cellular level and behavioral level. I explored techniques for quantifying cellular contractility at the neuro-muscular junction as well as automating cell counting in regions of interest in the brain. With behavioral data, I trained neural networks using DeepLabCut™ to increase efficiency (speed) of pose estimation compared to manual human labeling.</p>
<br>
<p>This internship taught me what is possible to accomplish in a mere 10 weeks when you have a killer team who is supportive, innovative, and passionate about science. My communication, programming, and problem-solving skills increased tremendously due to these projects. One of my favorite aspects of this collaboration is the emphasis on open science. I really enjoyed not only creating documentation for our lab, but also formulating protocols that can be used universally to replicate our methods and programming efforts.</p>
  </div>
<br>
<br>
  <div class='clearfix'>
  <div >
      <img class='float-right' style='width:35%; padding:0px 0px 0px 20px' src='https://bl-hub.s3.amazonaws.com/education/CMU+interns+2022/Jeel_square.png' />
  </div>
<h3>Jeel Patel, CMU</h3>
<p>This past summer I had the opportunity to conduct research in Dr. Ute Hochgeschwender’s lab. I was able to study chemogenetic technologies and their effects on the electrophysiology and morphology of cortical rat neurons <i>in vitro</i>. The techniques and knowledge I gained over the course of this summer allowed me to gain insight into the various steps involved in research such as sample preparation, data collection, and conducting my own computational analysis. I was able to mount and image neurons under a microscope and then analyze them using the software ImageJ. I also had the ability to learn bits and pieces of coding using Matlab to analyze MEA (multi-electrode array) recordings. I’m incredibly honored to have had the ability to collaborate with my fellow interns and their work while also learning more about each other as a team! It is so rewarding to have been given a meaningful experience with research surrounded by individuals passionate about their work and their desire to share it with others. I am forever grateful to everyone in our lab cohort for allowing me to learn from them and make mistakes: research is never a straight path and I never understood that until seeing it firsthand this summer. Being given the opportunity to learn, make mistakes, and revise techniques allowed for me to pursue a growth mindset that I will carry with me for the rest of my undergrad career.</p>
  </div>
<br>
<br>
  <div class='clearfix'>
    <div>
      <img class='float-left' style='width:35%; padding:0px 20px 0px 0px' src='https://bl-hub.s3.amazonaws.com/education/CMU+interns+2022/Anusha_square.png'/>
      <img class='float-right' style='width:30%; padding:40px 0px 0px 20px' src='https://bl-hub.s3.amazonaws.com/education/CMU+interns+2022/Sociability+Apparatus+-min.jpeg'/>
        </div>
<h3>Anusha Uprety, CMU</h3>
<p>My research this summer is focused on the Effects of Hyper-Excitation of Layer V Neocortical Pyramidal Neurons during early postnatal development on adult behavior. After systematically enhancing neocortical pyramidal activity levels in early development using non-invasive Bioluminescence Optogenetics (BL-OG), I am focused on measuring rodent behavior using a variety of behavioral tests, such as the Novel Object Recognition Test, the Open Field Test, and the Water T-Maze, etc. The purpose here is to directly address whether early life alterations in pyramidal activity can induce adult phenotypes and related circuit changes.</p>
  </div>

</div>
