<div class=container>
<h2 class='text-center'>Summer 2021 at Central Michigan University</h2>
<br>
<p>In Summer 2021, the <a href='https://www.cmich.edu/academics/colleges/college-of-medicine/research/basic/bioluminescent-optogenetics-lab/bioluminescent-optogenetics-lab-research' target='_blank' class='bl-link'>Hochgeschwender Lab</a> welcomed five excellent undergraduate students at Central Michigan University for NeuroNex-supported internships. Read about their experiences in their own words below!</p>
<br>
<center>
<img style="width:90%" src='https://bl-hub.s3.amazonaws.com/education/CMU+Interns+2021/CMU+2021+Interns+Collage_cropped-min.jpg'>
</center>
<br>
<br>
<h3>Grant Folkert</h3>
<p>I am a senior Neuroscience and Philosophy double major at Central Michigan University. Working with the Hochgeschwender Lab last summer was invaluable for my development as a neuroscientist. Before the internship, I did not have much guidance or a clear research direction. While I was always interested in "computational neuroscience," I did not know exactly what that entailed or how to get started. However, this internship helped me to regain my passion for research and get a much better idea of the paradigms I can focus on.</p>
<br>
<p>My work during the summer focused on the quantification of behavior using machine learning. I used DeepLabCut to implement several algorithms that track and label the body parts of mice across behavior videos; then, I used the output “pose estimation data” to perform ROI analyses and generate figures. In doing so, I was able to learn a useful amount of statistical programming in Python and R. My new understanding of machine learning is also readily transferable to other tasks; for example, automating cell counts and quantifying higher-level behaviors such as grooming. Since open-source computational tools keep getting more important in neuroscience research, these skills will be very broadly applicable as my career progresses.</p>
<br>
<p>I am very grateful for all the mentoring and training I have received in the BL-OG lab so far. Everyone I worked with has helped to create an excellent, welcoming environment for undergraduates, and I look forward to continuing my research with them in the future!</p>
<br>
<br>

<div class='clearfix'>
    <div >
        <img class='float-right pll mtxxl' style='width:35%;' src='https://bl-hub.s3.amazonaws.com/education/CMU+Interns+2021/Macy_Knoblock_2021_RNAsamples-min.jpeg' />
    </div>
<h3>Macy Knoblock</h3>
<p>This summer, I had the opportunity to work with Dr. Ute Hochgeschwender at Central Michigan University. I originally signed my major in biochemistry with an interest in becoming a physician, but some brief time in another lab inspired me to explore the possibility of becoming a physician-scientist. This intensive ten-week experience pushed me to grow as a researcher and gave me the confidence that I can pursue a career in this fascinating field.</p>
<br>
<p>With very little hands-on research experience due to COVID-19 and a limited understanding of neuroscience, I was initially intimidated by the prospect of performing original research. My project focused on how the use of different chemogenetic technologies impacted neuronal electrophysiology, morphology, and the transcriptome <i>in vitro</i>. Over the course of ten weeks, I learned everything from working with cultured neurons to recording their activity and analyzing their electrophysiological differences. It was especially exciting getting to use different molecular biology techniques like RNA isolation, reverse transcription, polymerase chain reaction, and quantitative (real-time) PCR that I had previously only read about in class textbooks. However, the most gratifying, and challenging, part of my experience was designing and carrying out my own RNA-sequencing experiment to study changes in the transcriptome of chronically stimulated neurons. When I was first given the project, I was overwhelmed by where to even begin. There was no manual handed to me like I had come to expect in my lab coursework. While I knew I could turn to any member of the lab for help, they fostered my independence and gave me the tools I needed to be successful (mostly) on my own.</p>
<br>
<p>This summer, I not only gained practical knowledge and lab skills, but the people in the lab helped encourage me to think critically to design my experiments, become a better presenter, and have confidence in my abilities as a researcher as I go forward into graduate school and beyond. I am very thankful to have had this amazing opportunity and for all the members of the lab who made this summer so impactful.</p>
</div>

<br>
<br>
<h3>Jacob Simkins</h3>
<p>I used molecular cloning techniques to design and create novel constructs expressing different combinations of luciferases, opsins, and fluorescent proteins. I specialized in making new luminopsins (LMO), in which a genetically expressed luciferase is tethered to an opsin that controls ion flow. Utilizing LMOs allows for non-invasive manipulation of neuronal activity. Additionally, I tested the expression levels of each construct in HEK cells. Finally, I learned how to evaluate the <i>in vitro</i> function of LMOs expressed in neurons using multi-electrode arrays (MEA).</p>
<br>
<br>
<h3>Nicholas Coon</h3>
<p>This past summer I had the amazing opportunity to work with four other interns within the Hochgeschwender Lab on the Central Michigan University campus. Throughout the 10-week span of the internship, each week presented new challenges to overcome and learn from. Within Ute’s lab, a culture has been developed that pushes you to develop your skillset within each scientific investigation undertaken.</p>
<br>
<p>Over the internship I gained a lot of experience within <i>in vivo</i> mouse surgeries. Each week was filled with completing a series of viral injections within the substantia nigra pars reticula or by recording electrophysiological data. I particularly enjoyed seeing the real time activity of action potentials firing off within the mouse brain. Being able to optogenetically alter brain activity and see live representations of neuronal waveform alterations was one of the coolest research experiences I have partaken in. A secondary part of the summer that has maintained my attention outside of lab is the coding experience. Being able to manipulate and efficiently visualize large data sets is something I plan on continuing to pursue in the future.</p>
<br>
<p>By allowing students to fully engage within each problem presented to them in lab, I was able to gain a much better understanding of where I would like to place my professional focus going forward. I would like to thank both Ute and graduate student in the lab Emmanuel Crespo for contributing to such a hands on, exploration based environment! Being able to be apart of this summer experience is something I will never forget.</p>
<br>
<br>
<h3>Stephanie Venn</h3>
<p>Before starting this internship I had almost no real understanding of what neuroscience was or a real interest in the field. Upon starting the internship I was deeply surprised by the amount of trust and respect that graduate student Emmanuel Crespo and Dr. Hochgeschwender gave me. It was the first time in my life that I felt like a scientist. And it didn't matter that I had limited knowledge going into the internship; they made sure that they explained things at my level and gave me the tools to rise above. I was able to ask questions make mistakes and advance in my understanding of bioluminescence optogenetics without fear. Over the summer I worked to quantify the calcium levels in cortical neurons and I am so glad to be able to continue that work in the fall!</p>
<br>
<br>
</div>
