<div class='container' id='Ute_MPUoT_Lecture'>
<h2 class='text-center'>Bioluminescent Optogenetics &#8212 Molecular Control with Biological Light</h2>
<h3 class='text-center'>Presented by Dr. Ute Hochgeschwender</h3>
<br>

<iframe width="992" height="558" src="https://www.youtube.com/embed/2W7prY7fWIQ" title="Lecture Series - Ute Hochgeschwender" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>
