<div class='container' id='summer-students'>
    <h2 class='text-center'>Opportunities for High School Students</h2>
    <p class='text-center mbm'>Stay tuned for future opportunities!</p>
    <img class='img__fixed-width' src='https://s3.amazonaws.com/bl-hub/education/HSintern-min.jpg'/>
    <br/>
    <p class='text-s'>
        “I feel that in the few months I was working there I learned a great deal about the brain and bioluminescence and I can’t wait to see how these studies can further help us understand how the brain works. I would definitely work there again one day and would encourage other high school students to take on similar jobs.” <span class='italics'>-Summer 2018 student, Senior from Moses Brown School, Providence, RI</span>
    </p>
    <br/>
    <h4 class='text-bold text-center'>Summer 2018</h4>
    <br/>
    <p>Our NeuroNex team had a fantastic time working with two bright, local high school seniors this summer. The ultimate goal for their summer project was to plan a bioluminescence-themed education and outreach event for a high school audience. The students presented their event proposal at one of our August NeuroNex Hub meetings, which served as an excellent opportunity to get feedback on their project. We all look forward to the possible execution of this event in 2019. Look out for updates!</p>
</div>
