<div class='container' id='UCSD-interns-2022'>
<h2 class='text-center'>Summer 2022 at UCSD</h2>







<h3>Frederic Nguyen, UCSD</h3>
<p>This past summer, I had the fantastic opportunity to be a Neuronex intern at the Shaner Lab. For ten weeks, I was exposed to what researchers do daily with a direction and a project. I was presented with many challenges that required me to utilize critical thinking skills. The problem-solving that was demanded of me pushed me as both a student and researcher. I have also learned so much invaluable knowledge from my PI, Dr. Nathan Shaner, and mentor, Gerard Lambert. They also emphasized the importance of community/team-building concerning the other 3 Neuronex interns in our lab. And together, we were all able to better and help each other with our projects.</p>
<br>
<p>Working with such fascinating fluorescent proteins was such an amazing experience, and seeing your project progress and work overtime was a very satisfying thing to see. I hope that one day the photomaturable proteins that we had been working on this past summer will be further evolved and someday be incorporated into cell imaging and used as an imaging tool. I also stepped out of my comfort zone by presenting my project to different PIs, graduate students, and other fellow interns, which I see as a stepping stone towards being a more well-rounded student and person.</p>
<br>
<p>I am so thankful for this opportunity and for everyone who made this internship possible!</p>
<br>
<br>

<h3>Matthew Tate, UCSD</h3>
<p>The Neuronex summer internship at the Shaner Lab has been an amazing experience! I was given the opportunity to take charge of my own project. Throughout the internship, I learned numerous valuable skills in molecular biology such as designing PCR primers, troubleshooting, site-directed evolution and many more. When the summer internship ended, I had a good grasp of the protocols and the workflow in the lab. More importantly, it allowed me to be more independent as an undergrad researcher. My project was mainly about engineering various binding affinity between complementary pieces of a split GFP, which can be used as a tool to label and control active synapses. The idea that my project can provide a way to conduct non-invasive studies in optogenetics is what made my summer internship incredibly rewarding. Working alongside my fellow summer interns was also such a fun experience, ranging from helping each other out in the lab to doing fun things outside the lab. Overall, this summer research experience reinforced my goal of pursuing a PhD in biomedical sciences so that I can continue to conduct research.</p>


</div>
