<div class='container' id='UCSD-interns-2022'>
<h2 class='text-center'>Summer 2022 at UCSD</h2>
<br>
<p>The Shaner Lab is proud of everything our wonderful students accomplished this summer! Each kindly provided a synopsis of their experience; keep reading to learn more!</p>
<br>
<br>
    <div style='width:100%; margin:auto'>
        <img class='' src='https://bl-hub.s3.amazonaws.com/education/UCSD+interns+2022/Lab+Group+Photo-min.jpg' />
    </div>
    <br>
    <br>
<div class='clearfix'>
  <div >
      <img class='float-left' style='width:35%; padding:0px 20px 0px 0px' src='https://bl-hub.s3.amazonaws.com/education/UCSD+interns+2022/Lisa_square.png' />
  </div>
<h3>Lisa Kraisriwatana, University of Nevada, Las Vegas <i>Alumna</i></h3>
<p>This summer, in the Shaner Lab at UCSD, I was given two projects to work on. The first was evaluating a series of novel bioluminescence substrates, in collaboration with Dr. Prescher’s lab at UCI, to test their effectiveness and brightness. The second project involved evolving a FRET linker that would produce a red-shifted emission. Both of these projects tested my ability to think critically and operate independently as a researcher.</p>
<br>
<p>Beyond learning technical skills like designing oligos, culturing cells, and operating microplate readers, it was gratifying to know that the data I generated will contribute to the Shaner Lab’s future research. Seeing how the lab operated day-to-day and the tools they were creating for the field of optogenetics was fascinating. After this internship, I’m more interested in molecular biology than ever, and have an expanded appreciation for the mechanisms of both fluorescence and bioluminescence.</p>
<br>
<p>On my last day, Dr. Shaner and I captured a movie of U2OS cells showing a beautiful geometric actin structure. Following the entire process from growing up the cells, transfecting them with a fluorescent label, and recording footage of individual cells in real time was amazing. Seeing the movie we created gain traction on twitter brought my experience full circle, since searching GIFs of fluorescent labeled cells was what caused me to learn about the NeuroNex practicum in the first place!</p>
</div>
<br>
<br>
<div class='clearfix'>
  <div >
      <img class='float-right' style='width:35%; padding:0px 0px 0px 20px' src='https://bl-hub.s3.amazonaws.com/education/UCSD+interns+2022/Selena_square.png'/>
  </div>
<h3>Selena Luong, UCSD</h3>
<p>I was able to work in Dr. Shaner’s lab at UCSD over the summer and it was an enthralling experience, to say the least. I had the privilege of working on optimizing our current calcium sensor to make it brighter as well as increasing the affinity for calcium. These past ten weeks in the lab has allowed me to learn an immense amount about molecular biology, research, and even about myself. I began this summer internship needing guidance between every little step and feeling so unsure about my skills in the lab. I also remember feeling a little bit of hopelessness when I would mess up pipetting or when my PCR did not work and just wanting to stop right then and there. Being surrounded by supportive peers who were always happy to help in any way shape or form was one of the biggest reasons as to why I was able to pick myself back up after that feeling of hopelessness. I will always be incredibly grateful for my peers in the lab, Dr. Shaner, and Gerry for being so welcoming, understanding, and patient as well as providing me with an experience I will always remember. I have learned so much and this summer has given me the motivation and desire to learn more.</p>
</div>
<br>
<br>
<div class='clearfix'>
  <div >
      <img class='float-right' style='width:35%; padding:0px 0px 0px 20px' src='https://bl-hub.s3.amazonaws.com/education/UCSD+interns+2022/Frederic_square.png'/>
  </div>
<h3>Frederic Nguyen, UCSD</h3>
<p>This past summer, I had the fantastic opportunity to be a NeuroNex intern at the Shaner Lab. For ten weeks, I was exposed to what researchers do daily with a direction and a project. I was presented with many challenges that required me to utilize critical thinking skills. The problem-solving that was demanded of me pushed me as both a student and researcher. I have also learned so much invaluable knowledge from my PI, Dr. Nathan Shaner, and mentor, Gerard Lambert. They also emphasized the importance of community/team-building concerning the other NeuroNex interns in our lab. And together, we were all able to better and help each other with our projects.</p>
<br>
<p>Working with such fascinating fluorescent proteins was such an amazing experience, and seeing your project progress and work overtime was a very satisfying thing to see. I hope that one day the photomaturable proteins that we had been working on this past summer will be further evolved and someday be incorporated into cell imaging and used as an imaging tool. I also stepped out of my comfort zone by presenting my project to different PIs, graduate students, and other fellow interns, which I see as a stepping stone towards being a more well-rounded student and person.</p>
<br>
<p>I am so thankful for this opportunity and for everyone who made this internship possible!</p>
</div>
<br>
<br>
<div class='clearfix'>
  <div >
      <img class='float-left' style='width:35%; padding:0px 20px 0px 0px' src='https://bl-hub.s3.amazonaws.com/education/UCSD+interns+2022/Matt_square.png'/>
  </div>
<h3>Matthew Tate, UCSD</h3>
<p>The NeuroNex summer internship at the Shaner Lab has been an amazing experience! I was given the opportunity to take charge of my own project. Throughout the internship, I learned numerous valuable skills in molecular biology such as designing PCR primers, troubleshooting, site-directed evolution and many more. When the summer internship ended, I had a good grasp of the protocols and the workflow in the lab. More importantly, it allowed me to be more independent as an undergrad researcher. My project was mainly about engineering various binding affinity between complementary pieces of a split GFP, which can be used as a tool to label and control active synapses. The idea that my project can provide a way to conduct non-invasive studies in optogenetics is what made my summer internship incredibly rewarding. Working alongside my fellow summer interns was also such a fun experience, ranging from helping each other out in the lab to doing fun things outside the lab. Overall, this summer research experience reinforced my goal of pursuing a PhD in biomedical sciences so that I can continue to conduct research.</p>
</div>

</div>
