<div class='container' id='UCSD-interns'>
<h2 class='text-center'>Summer 2019 at UCSD</h2>

      <p>The Shaner laboratory was again fortunate to host three excellent undergraduate students this summer! Patrick, Dylan, and Sabrina each provided a summary of their summer experience below. We wish them the best of luck in their future endeavors, and will make sure they stay in touch!</p>
      <br>
      <p>Summer research opportunities for undergraduates are occasionally available at each of the Hub’s locations: Brown University, Central Michigan University, and the University of California at San Diego. For more information, please <a class='bl-link' href="mailto: bioluminescencehub@gmail.com"> contact us</a>!</p>
      <br/>
      <div class='clearfix'>
          <div style='width:70%; margin:auto'>
              <img class='' src='https://bl-hub.s3.amazonaws.com/education/UCSD-intern-photos/UCSD-group-min.jpg' />
          </div>
          <br>
          <br>
      <div class='clearfix'>
          <div >
              <img class='float-left prl mbm' style='width:35%;' src='https://bl-hub.s3.amazonaws.com/education/UCSD-intern-photos/Patrick-min.jpg' />
          </div>
          <div>
              <h3>Patrick Friend, Amherst College</h3>
              <p>This past summer I had the opportunity to work with two other interns at the Shaner Lab at the University of California, San Diego. While there, we each focused on one or a small group of proteins, trying to enhance a few select characteristics. I was able to work with an exciting, extremely bright new green fluorescent protein, utilizing Dr. Shaner’s “directed evolution” work flow to increase the quantum yield and optimize the efficiency of FRET pairings involving the protein. Many research experiences targeted to undergraduates allow students to perform a limited number of tasks around the lab, as directed by their supervisor. This was far from the case in the Shaner lab. After being closely taught the key protocols and general workflow of our projects, we were charged not simply with completing the work on a piecemeal basis, but taking full ownership of the project and its direction for the full course of our internship. In addition to getting a comprehensive education in biochemical and microbiological lab techniques, we were all able to develop and hone our ability to think practically and creatively while designing, not simply carrying out scientific experiments and explorations. If this experience offered only one of those aspects, it would be exceptional. In offering both of them, as well as close mentorship and the ability to work on the cutting edge of the field of optogenetics, this experience is unmatched. This internship affirmed my enthusiasm for research, greatly increased my confidence in my own abilities in the lab, and has left me feeling ready to begin the next steps of my education and my scientific career.</p>

          </div>
      </div>
      <br/><br/>
      <div class='clearfix'>
          <div style='width:35%;'>
              <img class='float-left prl mbm' src='https://bl-hub.s3.amazonaws.com/education/UCSD-intern-photos/Dylan-min+.jpg' />
          </div>
          <div>
              <h3>Dylan Gregory, Oregon State University</h3>
                <p>Coming from an ecology background and having barely handled a pipette before coming to Dr. Shaner's lab at USCD, the learning curve was intense. However we were trained well and within two weeks I gained many skills and techniques to the point of being mostly independent. We learned how to assemble PCR and Gibson reactions, how to design oligonucleotides and perform directed evolution, and how to miniprep DNA and analyze genetic sequences. We even had the opportunity to use sophisticated instruments such as the luminometer and absorbance and fluorescence meters. My favorite part, though, was transfecting mammalian cells with the photoswitching protein I worked on all summer and watching it turn on and off inside live cells while using the confocal microscope. Aside from specific techniques, I gained a lot of experience analyzing and comparing data, troubleshooting issues while learning how to solve them quickly and to think about and experiment with our ideas. The amount of independence we were afforded challenged us to think critically about our projects but gave me the ability to strengthen my scientific skills.</p>
                <br>
                <p>This experience gave me the confidence I need to move forward and use the skills I've acquired as I complete my Honor's thesis and move into graduate school. I have discovered a new love for molecular biology and genetics and I am hoping to take many of these skills along with me into the field of ecology and intertwine them. However, the most important lessons I learned this summer was that with enough passion, and a little bit of drive, you can truly learn to accomplish anything, and most importantly, that working hard and having fun do not have to be mutually exclusive.</p>
                <br>
                <p>Being located in Southern California, and more specifically UCSD, was amazing. Even though we spent many hours in lab working hard, we also were able to explore all that San Diego and UCSD had to offer. We were minutes from the beach and Torrey Pines state park, a short commute to North Park, Pacific Beach, and surrounded by great food and fun shoppes. The lab began to feel like a small family for the summer, which elevated the experience and make it so much fun, to the point where the summer flew by way too fast! I will never forget this experience and have gained not only colleagues, but amazing friends.</p>

          </div>
      </div>
      <br/><br/>
      <div class='clearfix'>
          <div style='width:35%;'>
              <img class='float-left prl mbm' src='https://bl-hub.s3.amazonaws.com/education/UCSD-intern-photos/Sabrina2-min.jpg' />
          </div>
          <div>
              <h3>Sabrina Tran, University of California, Irvine</h3>
                <p>My time in the Shaner Lab at UCSD this summer was one of the most transformative and enriching experiences of my undergraduate career. From the minute I learned about fluorescent proteins at the NeuroNex MBL Practicum, I was drawn to the world of optogenetics and probe development. What I love about Dr. Shaner’s work is that it lies at the heart of Molecular Biology, but also intersects with so many different STEM fields. Dr. Shaner takes inspiration from nature, then uses fluorescent proteins in conjunction with bioluminescent proteins to produce a vast array of imaging modalities. The passion for science and drive for discovery in his lab is something rare and wonderful.</p>
                <br>
                <p>Already having come from previous lab experience at UCI, I was familiar with most of the techniques that we utilized in the lab. However, this ten week experience really forced me to grow on my own as a critically-thinking, independent scientist. It was so rewarding to go from designing oligonucleotides for PCR, to plating <i>E. coli</i> transformed with our fluorescent protein in one day. Coming into lab the next day and seeing colorful colonies lighting up the plates was always an exciting moment. My favorite part of the research experience was the sense of achievement I felt when I was able to see the red fluorescent protein I worked on all summer in live mammalian cells, illuminating the actin filaments and other various organelles.</p>
                <br>
                <p>Outside of the lab, there were so many adventures to experience. San Diego is one of my favorite cities in California because there is constantly something to do: hiking down the cliffs to the beach at sunset, exploring different restaurants and neighborhoods, going to the zoo and Balboa Park, attending comedy shows and live music - the list is endless. I felt like I forged lifelong relationships with incredible people this summer, and it was truly wonderful to work alongside individuals with various different backgrounds in an encouraging environment that had a common goal: to do good science. While I am still unsure as to whether I want to pursue a PhD, MD, or both, this summer has solidified my passion for discovering different methods to understand biological processes on both a cellular and organismal level. I will remember this experience forever, and highly encourage undergraduates to apply for this opportunity if given the chance.</p>

          </div>
          <br>
          <br>
          <div class='clearfix'>
              <div style='width:100%; margin:auto'>
                  <img class='' src='https://bl-hub.s3.amazonaws.com/education/UCSD-intern-photos/UCSD-interns-composite-min.jpg' />
              </div>

      </div>
  </div>
