<div class='container' id='utra'>
    <div class='img__hero-bg img__hero-bg--utra mbxl'>
        <h2 class='hero-img__title text-center'>MBL Undergraduate Practicum FAQs</h2>
    </div>
    <h2 class='text-center'>Spring 2019 UTRA positions available for Brown University undergraduates</h2>
    <p>Professor Christopher I. Moore, the NeuroNex Technology Hub, and Brown University Library's Center for Digital Scholarship are now accepting applications from Brown University sophomores and juniors for a Spring 2019 UTRA (Undergraduate Teaching and Research Award).</p>
    <br/>
    <p>The selected undergraduate student(s) will work closely with the NeuroNex Technology Hub team and the Library on one or more of the following projects, depending on the student's interests:</p>
    <br/>
    <p>1. Data archival in the <a class='bl-link' href="https://repository.library.brown.edu/studio/collections/id_784/">Hub's collection in the Brown Digital Repository</a>, including metadata collection, organization, and presentation on the Hub's website;</p>
    <br/>
    <p>2. Helping to design, build, and populate a database of all known bioluminescent molecules, their attributes, their citations in the literature, and designing how website visitors might visualize and interact with these data on the Hub's website, e.g., a visual network analysis;</p>
    <br/>
    <p>3. Building one or more visualizations to help website visitors understand the biochemistry of bioluminescence, the history of bioluminescence research, and/or the ways bioluminescence is used in current molecular biology and neuroscience research. Examples include graphical abstracts, animations, and interactive timelines.</p>
    <br/>
    <p>We are looking for motivated, enthusiastic individuals with interests in neuroscience, biochemistry, or cellular and molecular biology; website or database design; and/or data visualization or graphic design. Students should be comfortable working independently and as members of a team.</p>
    <br/>
    <p>UTRA recipients will be expected to work on this project for 10 hours per week, and they will be compensated either in <a class='bl-link' href="https://www.brown.edu/academics/college/fellowships/utra/semester">academic credit, or a $1000 stipend</a>, depending on the student's preference.</p>
    <br/>
    <p>If you are interested please email Justine_Allen@brown.edu a brief statement by <strong>October 29, 2018</strong> indicating which project is of most interest to you and what you hope to learn from this experience. Justine will conduct interviews <strong>October 30-November 3</strong>, and, if necessary, <strong>November 12-14</strong>. Applications containing both your component and your sponsors' component must be <a class='bl-link' href="https://www.brown.edu/academics/college/fellowships/utra/apply">submitted online</a> by <strong>5pm on November 15, 2018</strong>.</p>
    <br/>
<p class='text-s float-right italics'>Photo: Osamu Shimomura, courtesy NSF</p>
</div>
