<div class='container' id='wordsearch'>
<br>
  <h2 class='text-center'>Word Search</h2>

<iframe src='https://bl-hub.s3.amazonaws.com/education/BLOG_word_search2.pdf' height='1430' width='1000'></iframe>

<br>
<p><a href='https://bl-hub.s3.amazonaws.com/education/BLOG_word_search2.pdf' target='_blank' class='bl-link'> Click here</a> to view this puzzle in a new tab.</p>
<br>
<p>Ready for the soultion? <a href='https://bl-hub.s3.amazonaws.com/education/BLOG_word_search_solution.pdf' target='_blank' class='bl-link'>Click here!</a></p>


  </div>
