<div class='container' id='wordsearch'>
<br>
  <h2 class='text-center'>Word Search</h2>

<iframe src='https://bl-hub.s3.amazonaws.com/education/BLOG_word_search2.pdf' height='1430' width='1000'></iframe>

<br>
<p><a href='https://bl-hub.s3.amazonaws.com/education/BLOG_word_search2.pdf' target='_blank' class='bl-link'> Click here</a> to view this puzzle in a new tab.</p>
<br>
<p>Ready for the soultion? <a href='https://bl-hub.s3.amazonaws.com/education/BLOG_word_search_solution.pdf' target='_blank' class='bl-link'>Click here!</a></p>
<br>

<h3 class='text-center'>Glossary</h3>
<table class='glossary' width='1000' style='text-align: justify'>
<tr>
<td><b>Biology</b></td>
<td>Biology is the study of living things at all levels: how cells function as units, as individuals, and as groups that form organs and more complicated life forms (e.g., plants and animals), how individuals live in communities, and how living things interact with their surroundings and each other.
</td>
</tr>
<tr>
<td><b>Bioluminescence</b></td>
<td>Bioluminescence is light that is produced by a chemical reaction within a living thing (e.g., a firefly flash) or immediately nearby a living thing as a result of that thing’s action (e.g., <a href='https://doi.org/10.26300/fth0-1445' class='bl-link' target='_blank'>a parchment worm emitting bioluminescent mucus</a>). To learn more about bioluminescence and watch a video of bioluminescence in the lab, start <a href='/JTC-tell-me-more' class='bl-link' target='_blank'>here</a> then continue <a href='/bioluminescence_intro' class='bl-link' target='_blank'>here</a>.
</td>
</tr>
<tr>
<td><b>Brain</b></td>
<td>The brain is an organ made up of many types of cells, most famously neurons, and is responsible for collecting, integrating, processing, storing, and distributing information.
</td>
</tr>
<tr>
<td><b>Brightness</b></td>
<td>Brightness is a measure of how many photons (units of light) are produced by a light source.
</td>
</tr>
<tr>
<td><b>Chemistry</b></td>
<td>Chemistry is the study of the elements that make up all things and how they form molecules, and how they interact and react with each other.
</td>
</tr>
<tr>
<td><b>Chemogenetics</b></td>
<td>Chemogenetics is the creation of new molecules that can control the excitability of cells (i.e., how cells respond) when other molecules are present.
</td>
</tr>
<tr>
<td><b>Coelenterazine</b></td>
<td>Coelenterazine (CTZ) is an example of a luciferin that is produced by many bioluminescent marine animals.
</td>
</tr>
<tr>
<td><b>Dinoflagellate</b></td>
<td>Dinoflagellates are a type of aquatic protist. Some dinoflagellates are bioluminescent and, when they are present in large groups, are famous for glowing when jostled by crashing waves, boats, swimmers, or other moving objects in the water. Some dinoflagellates are responsible for toxic algal blooms. Try our dinoflagellates activity, <a href='https://repository.library.brown.edu/studio/item/bdr:919150/PDF/' target='_blank' class='bl-link'> Who Glows There?</a> and watch a video of dinoflagellates in action in the Ocean Surface/Epipelagic Zone of our <a href='/education/dive-2' class='bl-link' target='_blank'>Bioluminescent Dive</a>.
</td>
</tr>
<tr>
<td><b>Firefly</b></td>
<td>Fireflies are insects that generate bioluminescent flashes in their abdomens to communicate with each other.
</td>
</tr>
<tr>
<td><b>Fluorescence</b></td>
<td>Fluorescence is a property of some proteins. When they are excited by light, the movement of electrons from one energy state to another energy state results in the protein immediately emitting light of a different wavelength (color). Unlike phosphorescence, the fluorescence stops when the excitatory light source is removed. To learn more about the differences between bioluminescence, fluorescence, and phosphorescence, watch our <a href='/JTC-cold-light' target='_blank' class='bl-link'> video on Cold Light</a> and try our <a href='https://repository.library.brown.edu/studio/item/bdr:1111550/PDF/' target='_blank' class='bl-link'>Make it Glow</a> activity.
</td>
</tr>
<tr>
<td><b>Fungus</b></td>
<td>Fungi are a type of multicellular creatures. This group includes mushrooms and molds. To learn about biolumienscent fungi, try our <a href='https://repository.library.brown.edu/studio/item/bdr:929626/PDF/' target='_blank' class='bl-link'>Growin' Glowin' Fungi</a> activity.
</td>
</tr>
<tr>
<td><b>Glow</b></td>
<td>Glow is another word for the light that is given off by a bioluminescent chemical reaction or the emission of energy as electrons move to lower energetic states in a phosphorescent material. To learn more about the differences between bioluminescence, fluorescence, and phosphorescence, watch our <a href='/JTC-cold-light' target='_blank' class='bl-link'> video on Cold Light</a> and try our <a href='https://repository.library.brown.edu/studio/item/bdr:1111550/PDF/' target='_blank' class='bl-link'>Make it Glow</a> activity.
</td>
</tr>
<tr>
<td><b>Jellyfish</b></td>
<td>Jellyfish are members of the phylum cnidaria. Some species of jellyfish are capable of creating bioluminescent chemical reactions.
</td>
</tr>
<tr>
<td><b>Light</b></td>
<td>Light is photons, chemical particles/waves that can be detected by visual systems (such as the photoreceptors on the retina in the back of your eyes).
</td>
</tr>
<tr>
<td><b>Luciferase</b></td>
<td>Luciferases are a group of enzymes, special proteins that have the ability to break down their corresponding small molecule substrate luciferin. During this chemical reaction, photons are released and bioluminescent light can be seen. To learn more about the role of luciferases in bioluminescent reactions, start <a href='/JTC-tell-me-more' class='bl-link' target='_blank'>here</a> then continue <a href='/bioluminescence_intro' class='bl-link' target='_blank'>here</a>.
</td>
</tr>
<tr>
<td><b>Luciferin</b></td>
<td>Luciferins are a group of small molecules that can be broken down by their corresponding luciferase during a chemical reaction that releases photons in the form of bioluminescent light. To learn more about the role of luciferins in bioluminescent reactions, start <a href='/JTC-tell-me-more' class='bl-link' target='_blank'>here</a> then continue <a href='/bioluminescence_intro' class='bl-link' target='_blank'>here</a>.
</td>
</tr>
<tr>
<td><b>Luminopsin</b></td>
<td>Luminopsins are a group of chemogenetic molecular constructs. These cellular tools are used to excite or inhibit cells such as neurons to control how they sense and transmit information. <a href='/LMO3' target='_blank'class='bl-link'>LMO3</a> is an example of a luminopsin.
</td>
</tr>
<tr>
<td><b>Molecule</b></td>
<td>A molecule is a group of atoms, the basic unit of all matter, arranged in a particular way and with particular properties.
</td>
</tr>
<tr>
<td><b>Neuron</b></td>
<td>Neurons are cells that are chemically and electrically excitable, and this property allows them to sense, transmit and interpret information about the surrounding world (sensation) as well as instruct muscles to make movements (motor control).
</td>
</tr>
<tr>
<td><b>Optogenetics</b></td>
<td>Optogenetics is the study of and creation of molecular constructs that can sense light and respond to that light, in some cases by changing their shape. To learn more about optogenetics, click <a href='/optogenetics_intro' target='_blank' class='bl-link'>here</a>.
</td>
</tr>
<tr>
<td><b>Ostracod</b></td>
<td>Ostracods are a group of small aquatic and marine crustaceans. Some ostracods have a light organ and are capable of bioluminescence.
</td>
</tr>
<tr>
<td><b>Phosphorescence</b></td>
<td>Phosphorescence is similar to fluorescence in that it appears when external light is used to excite electrons within the material and it glows when those electrons return to a lower energy state. Unlike fluorescence, phosphorescent materials continue to glow after the external light source is removed (e.g., glow in the dark stickers). To learn more about the differences between bioluminescence, fluorescence, and phosphorescence, watch our <a href='/JTC-cold-light' target='_blank' class='bl-link'> video on Cold Light</a> and try our <a href='https://repository.library.brown.edu/studio/item/bdr:1111550/PDF/' target='_blank' class='bl-link'>Make it Glow</a> activity.
</td>
</tr>
</table>




  </div>
